In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [19]:
tc=pd.read_csv("train_clicks.csv")
tp=pd.read_csv("train_plans.csv")
tq=pd.read_csv("train_queries.csv")

In [20]:
tc.sort_values(by=['sid'])

            sid           click_time  click_mode
369941       10  2018-11-10 11:13:24           1
409397       21  2018-11-10 12:16:36           2
357511       25  2018-11-10 23:51:30           1
183443       34  2018-11-10 13:43:19           9
239787       35  2018-11-10 16:37:25           1
439701       36  2018-11-10 13:43:03           1
382848       44  2018-11-10 16:17:59           2
67258        68  2018-11-10 19:38:08           2
159404       69  2018-11-10 18:55:34           1
198530       79  2018-11-10 22:09:48           2
63629        86  2018-11-10 11:28:28           5
156364       95  2018-11-10 14:12:10           1
333363       99  2018-11-10 14:13:25           1
284043      120  2018-11-10 09:11:41           1
38134       127  2018-11-10 09:48:59          10
302151      128  2018-11-10 12:59:07           9
180897      134  2018-11-10 15:13:53           2
195627      136  2018-11-10 16:42:01           2
34637       141  2018-11-10 06:55:08           7
236037      162  2018-11-10 12:55:20           2
237294      164  2018-11-10 05:36:57           2
133844      167  2018-11-10 18:58:43           1
246405      184  2018-11-10 17:30:33           7
127395      191  2018-11-10 13:58:02           1
278137      201  2018-11-10 09:33:39           5
140826      203  2018-11-10 15:58:52           7
114896      208  2018-11-10 16:25:24           2
303870      212  2018-11-10 09:27:53           1
281441      216  2018-11-10 14:27:02           2
276967      220  2018-11-10 15:25:20           1
...         ...                  ...         ...
433611  3396387  2018-11-24 14:01:13           1
235950  3396394  2018-11-24 13:38:53           5
22785   3396402  2018-11-24 15:41:23           1
13693   3396405  2018-11-24 11:10:19           2
157798  3396425  2018-11-24 12:34:11           7
44713   3396433  2018-11-24 23:41:11           2
51770   3396438  2018-11-24 11:12:31           7
183936  3396452  2018-11-24 22:25:49           7
142011  3396454  2018-11-24 10:39:28           2
193999  3396456  2018-11-24 17:11:20           2
179843  3396466  2018-11-24 15:59:11           1
88559   3396479  2018-11-24 06:49:54           2
414771  3396485  2018-11-24 11:05:09           7
146225  3396494  2018-11-24 08:00:57           2
349396  3396499  2018-11-24 11:45:45           2
250699  3396503  2018-11-24 08:40:33           2
424008  3396510  2018-11-24 10:42:12           7
197797  3396513  2018-11-24 10:42:30          10
103665  3396514  2018-11-24 12:10:09           2
233495  3396519  2018-11-24 23:31:16           1
22658   3396522  2018-11-24 14:59:06           5
222745  3396529  2018-11-24 21:33:49           2
28283   3396541  2018-11-24 17:34:09           5
33949   3396544  2018-11-24 13:04:24           7
329194  3396546  2018-11-24 18:26:20           3
9856    3396567  2018-11-24 12:00:29           2
312789  3396577  2018-11-24 10:22:36           7
286329  3396581  2018-11-24 14:17:22           2
3843    3396583  2018-11-24 12:13:06           3
185926  3396588  2018-11-24 13:43:48           7

[453336 rows x 3 columns]

In [21]:
tp['plans']


new2 = tp["plans"].str.split(",",  expand = True) 

new2

#tq["dl"]= new1[0] 
  
# making separate last name column from new data frame 
#tq["da"]= new1[1] 
#tq.drop(columns =["d"], inplace = True) '''

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,"[{""distance"": 32303","""price"": 600","""eta"": 5087","""transport_mode"": 9}","{""distance"": 33678","""price"": """"","""eta"": 3149","""transport_mode"": 3}","{""distance"": 33678","""price"": 10000",...,"""eta"": 6494","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
1,"[{""distance"": 3427","""price"": 300","""eta"": 627","""transport_mode"": 2}","{""distance"": 3251","""price"": """"","""eta"": 573","""transport_mode"": 3}","{""distance"": 3251","""price"": 1600",...,"""eta"": 2936","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
2,"[{""distance"": 36234","""price"": 1100","""eta"": 9318","""transport_mode"": 7}","{""distance"": 29545","""price"": """"","""eta"": 3843","""transport_mode"": 3}","{""distance"": 29545","""price"": 9100",...,None,None,None,None,None,None,None,None,None,None
3,"[{""distance"": 11450","""price"": 400","""eta"": 2801","""transport_mode"": 2}","{""distance"": 9100","""price"": """"","""eta"": 2751","""transport_mode"": 6}","{""distance"": 10870","""price"": """"",...,"""eta"": 4132","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
4,"[{""distance"": 18495","""price"": 600","""eta"": 4271","""transport_mode"": 7}","{""distance"": 19111","""price"": """"","""eta"": 1513","""transport_mode"": 3}","{""distance"": 19111","""price"": 4900",...,None,None,None,None,None,None,None,None,None,None
5,"[{""distance"": 32486","""price"": """"","""eta"": 2491","""transport_mode"": 3}]",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,"[{""distance"": 4935","""price"": 300","""eta"": 1568","""transport_mode"": 2}","{""distance"": 4434","""price"": """"","""eta"": 852","""transport_mode"": 3}","{""distance"": 4434","""price"": 1300",...,"""eta"": 3286","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
7,"[{""distance"": 22103","""price"": 500","""eta"": 3361","""transport_mode"": 2}","{""distance"": 18601","""price"": """"","""eta"": 1736","""transport_mode"": 3}","{""distance"": 18601","""price"": 5300",...,"""eta"": 4930","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
8,"[{""distance"": 12422","""price"": 400","""eta"": 2324","""transport_mode"": 2}","{""distance"": 12548","""price"": """"","""eta"": 1485","""transport_mode"": 3}","{""distance"": 12548","""price"": 2900",...,"""eta"": 2610","""transport_mode"": 6}","{""distance"": 13657","""price"": 300","""eta"": 3095","""transport_mode"": 1}]",None,None,None,None
9,"[{""distance"": 2162","""price"": 200","""eta"": 1239","""transport_mode"": 1}","{""distance"": 2647","""price"": """"","""eta"": 543","""transport_mode"": 3}","{""distance"": 2176","""price"": """"",...,"""eta"": 1983","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
10,"[{""distance"": 30788","""price"": 600","""eta"": 4979","""transport_mode"": 2}","{""distance"": 28900","""price"": """"","""eta"": 2036","""transport_mode"": 3}","{""distance"": 28900","""price"": 7400",...,"""eta"": 6060","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
11,"[{""distance"": 8693","""price"": 400","""eta"": 2577","""transport_mode"": 2}","{""distance"": 7940","""price"": """"","""eta"": 2039","""transport_mode"": 3}","{""distance"": 8727","""price"": 400",...,"""eta"": 2339","""transport_mode"": 4}","{""distance"": 8019","""price"": 400","""eta"": 3919","""transport_mode"": 1}]",None,None,None,None
12,"[{""distance"": 27279","""price"": 800","""eta"": 5528","""transport_mode"": 7}","{""distance"": 26468","""price"": 700","""eta"": 6601","""transport_mode"": 1}]",None,None,...,None,None,None,None,None,None,None,None,None,None
13,"[{""distance"": 1833","""price"": """"","""eta"": 1648","""transport_mode"": 5}","{""distance"": 1874","""price"": """"","""eta"": 564","""transport_mode"": 6}","{""distance"": 2863","""price"": """"",...,"""eta"": 1728","""transport_mode"": 2}","{""distance"": 1837","""price"": 200","""eta"": 1944","""transport_mode"": 1}]",None,None,None,None
14,"[{""distance"": 3522","""price"": 200","""eta"": 1827","""transport_mode"": 1}","{""distance"": 5156","""price"": """"","""eta"": 1090","""transport_mode"": 3}","{""distance"": 4309","""price"": """"",...,"""eta"": 2069","""transport_mode"": 1}","{""distance"": 3355","""price"": """"","""eta"": 3043","""transport_mode"": 5}]",None,None,None,None
15,"[{""distance"": 23792","""price"": 600","""eta"": 6632","""transport_mode"": 7}","{""distance"": 25578","""price"": """"","""eta"": 2574","""transport_mode"": 3}","{""distance"": 25578","""price"": 6300",...,"""eta"": 7557","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
16,"[{""distance"": 36450","""price"": 700","""eta"": 5039","""transport_mode"": 2}","{""distance"": 38116","""price"": """"","""eta"": 4218","""transport_mode"": 3}","{""distance"": 38116","""price"": 10600",...,None,None,None,None,None,None,None,None,None,None
17,"[{""distance"": 2081","""price"": """"","""eta"": 277","""transport_mode"": 3}","{""distance"": 2081","""price"": 1300","""eta"": 277","""transport_mode"": 4}","{""distance"": 2106","""price"": """"",...,"""eta"": 1863","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
18,"[{""distance"": 9583","""price"": 3500","""eta"": 1340","""transport_mode"": 4}","{""distance"": 9583","""price"": """"","""eta"": 1280","""transport_mode"": 3}","{""distance"": 12147","""price"": 400",...,"""eta"": 3232","""transport_mode"": 2}","{""distance"": 12440","""price"": 600","""eta"": 4158","""transport_mode"": 7}]",None,None,None,None
19,"[{""distance"": 14001","""price"": 400","""eta"": 3457","""transport_mode"": 2}","{""distance"": 10410","""price"": """"","""eta"": 2349","""transport_mode"": 3}","{""distance"": 10410","""price"": 2800",...,"""eta"": 4014","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
20,"[{""distance"": 23516","""price"": 900","""eta"": 5454","""transport_mode"": 7}","{""distance"": 22879","""price"": 500","""eta"": 6025","""transport_mode"": 1}]",None,None,...,None,None,None,None,None,None,None,None,None,None
21,"[{""distance"": 2097","""price"": 300","""eta"": 1193","""transport_mode"": 2}","{""distance"": 2038","""price"": """"","""eta"": 616","""transport_mode"": 6}","{""distance"": 2091","""price"": """"",...,"""eta"": 1691","""transport_mode"": 1}","{""distance"": 2155","""price"": """"","""eta"": 1953","""transport_mode"": 5}]",None,None,None,None
22,"[{""distance"": 21273","""price"": 700","""eta"": 3543","""transport_mode"": 7}","{""distance"": 20793","""price"": 700","""eta"": 3768","""transport_mode"": 7}]",None,None,...,None,None,None,None,None,None,None,None,None,None
23,"[{""distance"": 22808","""price"": 500","""eta"": 3521","""transport_mode"": 9}","{""distance"": 19824","""price"": """"","""eta"": 1788","""transport_mode"": 3}","{""distance"": 19824","""price"": 4800",...,"""eta"": 3827","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
24,"[{""distance"": 11638","""price"": 400","""eta"": 2185","""transport_mode"": 2}","{""distance"": 12922","""price"": """"","""eta"": 2330","""transport_mode"": 3}","{""distance"": 12121","""price"": 400",...,None,None,None,None,None,None,None,None,None,None
25,"[{""distance"": 75","""price"": """"","""eta"": 64","""transport_mode"": 5}","{""distance"": 75","""price"": """"","""eta"": 22","""transport_mode"": 6}","{""distance"": 77","""price"": """"",...,None,None,None,None,None,None,None,None,None,None
26,"[{""distance"": 870","""price"": """"","""eta"": 805","""transport_mode"": 5}","{""distance"": 965","""price"": """"","""eta"": 291","""transport_mode"": 6}","{""distance"": 916","""price"": """"",...,"""eta"": 1052","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
27,"[{""distance"": 1354","""price"": """"","""eta"": 1228","""transport_mode"": 5}","{""distance"": 1329","""price"": """"","""eta"": 401","""transport_mode"": 6}","{""distance"": 3997","""price"": """"",...,"""eta"": 1678","""transport_mode"": 1}","{""distance"": 4461","""price"": 300","""eta"": 2064","""transport_mode"": 2}]",None,None,None,None
28,"[{""distance"": 18756","""price"": 500","""eta"": 3595","""transport_mode"": 2}","{""distance"": 19514","""price"": """"","""eta"": 2924","""transport_mode"": 3}","{""distance"": 19514","""price"": 5500",...,"""eta"": 4366","""transport_mode"": 11}","{""distance"": 19615","""price"": 600","""eta"": 4419","""transport_mode"": 7}]",None,None,None,None
29,"[{""distance"": 32081","""price"": 600","""eta"": 5073","""transport_mode"": 2}","{""distance"": 29864","""price"": """"","""eta"": 3750","""transport_mode"": 3}","{""distance"": 29864","""price"": 8500",...,"""eta"": 4502","""transport_mode"": 9}]",None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491024,"[{""distance"": 9603","""price"": 400","""eta"": 2378","""transport_mode"": 9}","{""distance"": 6879","""price"": """"","""eta"": 1090","""transport_mode"": 3}","{""distance"": 6879","""price"": 2700",...,"""eta"": 3017","""transport_mode"": 1}","{""distance"": 9603","""price"": 400","""eta"": 3059","""transport_mode"": 2}]",None,None,None,None
491025,"[{""distance"": 54766","""price"": 800","""eta"": 6930","""transport_mode"": 2}","{""distance"": 53501","""price"": """"","""eta"": 6570","""transport_mode"": 3}","{""distance"": 53501","""price"": 18400",...,None,None,None,None,None,None,None,None,None,None
491026,"[{""distance"": 14526","""price"": 500","""eta"": 2631","""transport_mode"": 2}","{""distance"": 14536","""price"": """"","""eta"": 1372","""transport_mode"": 3}","{""distance"": 14536","""price"": 3600",...,"""eta"": 3510","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491027,"[{""distance"": 15625","""price"": 500","""eta"": 2889","""transport_mode"": 9}","{""distance"": 15471","""price"": """"","""eta"": 1453","""transport_mode"": 3}","{""distance"": 15471","""price"": 4400",...,"""eta"": 4629","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491028,"[{""distance"": 18000","""price"": 600","""eta"": 3873","""transport_mode"": 7}","{""distance"": 16923","""price"": """"","""eta"": 2703","""transport_mode"": 3}","{""distance"": 16923","""price"": 5000",...,"""eta"": 5241","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491029,"[{""distance"": 25856","""price"": 600","""eta"": 3050","""transport_mode"": 2}","{""distance"": 29753","""price"": """"","""eta"": 3291","""transport_mode"": 3}","{""distance"": 29753","""price"": 7800",...,None,None,None,None,None,None,None,None,None,None
491030,"[{""distance"": 12285","""price"": 600","""eta"": 3021","""transport_mode"": 7}","{""distance"": 10827","""price"": """"","""eta"": 967","""transport_mode"": 3}","{""distance"": 10827","""price"": 2600",...,"""eta"": 3758","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491031,"[{""distance"": 24182","""price"": 500","""eta"": 3964","""transport_mode"": 9}","{""distance"": 23051","""price"": """"","""eta"": 3702","""transport_mode"": 3}","{""distance"": 23051","""price"": 6800",...,"""eta"": 5047","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
491032,"[{""distance"": 41689","""price"": 700","""eta"": 4261","""transport_mode"": 2}","{""distance"": 38624","""price"": """"","""eta"": 2666","""transport_mode"": 3}","{""distance"": 38624","""price"": 10800",...,"""eta"": 5463","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491033,"[{""distance"": 35","""price"": """"","""eta"": 30","""transport_mode"": 5}","{""distance"": 36","""price"": """"","""eta"": 4","""transport_mode"": 3}","{""distance"": 44","""price"": """"",...,None,None,None,None,None,None,None,None,None,None
491034,"[{""distance"": 8458","""price"": 400","""eta"": 3392","""transport_mode"": 1}","{""distance"": 6704","""price"": """"","""eta"": 1170","""transport_mode"": 3}","{""distance"": 6704","""price"": 2000",...,None,None,None,None,None,None,None,None,None,None
491035,"[{""distance"": 1409","""price"": """"","""eta"": 423","""transport_mode"": 6}","{""distance"": 1307","""price"": """"","""eta"": 339","""transport_mode"": 3}","{""distance"": 1307","""price"": 1300",...,"""eta"": 1204","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
491036,"[{""distance"": 20661","""price"": 700","""eta"": 4129","""transport_mode"": 7}","{""distance"": 21187","""price"": """"","""eta"": 2581","""transport_mode"": 3}","{""distance"": 21187","""price"": 5400",...,"""eta"": 4711","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
491037,"[{""distance"": 10999","""price"": 200","""eta"": 3593","""transport_mode"": 1}","{""distance"": 9805","""price"": """"","""eta"": 1310","""transport_mode"": 3}","{""distance"": 9805","""price"": 2500",...,None,None,None,None,None,None,None,None,None,None
491038,"[{""distance"": 19708","""price"": 1500","""eta"": 5284","""transport_mode"": 7}","{""distance"": 24777","""price"": """"","""eta"": 3400","""transport_mode"": 3}","{""distance"": 24777","""price"": 9000",...,"""eta"": 6982","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491039,"[{""distance"": 38387","""price"": 800","""eta"": 6030","""transport_mode"": 7}","{""distance"": 29994","""price"": """"","""eta"": 2325","""transport_mode"": 3}","{""distance"": 29994","""price"": 8600",...,None,None,None,None,None,None,None,None,None,None
491040,"[{""distance"": 15354","""price"": 400","""eta"": 4468","""transport_mode"": 1}","{""distance"": 21108","""price"": """"","""eta"": 2741","""transport_mode"": 3}","{""distance"": 21108","""price"": 5600",...,None,None,None,None,None,None,None,None,None,None
491041,"[{""distance"": 13076","""price"": 500","""eta"": 2548","""transport_mode"": 2}","{""distance"": 13378","""price"": """"","""eta"": 1112","""transport_mode"": 3}","{""distance"": 13378","""price"": 3200",...,"""eta"": 2676","""transport_mode"": 2}]",None,None,None,None,None,None,None,None
491042,"[{""distance"": 15088","""price"": 500","""eta"": 2917","""transport_mode"": 9}","{""distance"": 15060","""price"": 500","""eta"": 3822","""transport_mode"": 2}","{""distance"": 17564","""price"": 700",...,None,None,None,None,None,None,None,None,None,None
491043,"[{""distance"": 12094","""price"": 400","""eta"": 2136","""transport_mode"": 2}","{""distance"": 9994","""price"": """"","""eta"": 1916","""transport_mode"": 3}","{""distance"": 9994","""price"": 3300",...,None,None,None,None,None,None,None,None,None,None
491044,"[{""distance"": 2168","""price"": """"","""eta"": 465","""transport_mode"": 3}","{""distance"": 2168","""price"": 1300","""eta"": 465","""transport_mode"": 4}","{""distance"": 1640","""price"": """"",...,"""eta"": 1470","""transport_mode"": 5}","{""distance"": 1989","""price"": 200","""eta"": 1685","""transport_mode"": 1}]",None,None,None,None
491045,"[{""distance"": 14612","""price"": 500","""eta"": 3254","""transport_mode"": 9}","{""distance"": 10945","""price"": """"","""eta"": 1195","""transport_mode"": 3}","{""distance"": 10945","""price"": 2800",...,"""eta"": 4243","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491046,"[{""distance"": 37140","""price"": 900","""eta"": 6845","""transport_mode"": 7}","{""distance"": 32701","""price"": """"","""eta"": 2447","""transport_mode"": 3}","{""distance"": 32701","""price"": 9400",...,None,None,None,None,None,None,None,None,None,None
491047,"[{""distance"": 27632","""price"": 700","""eta"": 4992","""transport_mode"": 7}","{""distance"": 32368","""price"": 3800","""eta"": 3989","""transport_mode"": 10}","{""distance"": 28883","""price"": """"",...,"""eta"": 5333","""transport_mode"": 9}]",None,None,None,None,None,None,None,None
491048,"[{""distance"": 3136","""price"": 300","""eta"": 1499","""transport_mode"": 2}","{""distance"": 3195","""price"": """"","""eta"": 544","""transport_mode"": 3}","{""distance"": 3195","""price"": 1300",...,"""eta"": 1831","""transport_mode"": 1}","{""distance"": 2590","""price"": """"","""eta"": 2348","""transport_mode"": 5}]",None,None,None,None
491049,"[{""distance"": 1423","""price"": """"","""eta"": 427","""transport_mode"": 6}","{""distance"": 2328","""price"": """"","""eta"": 570","""transport_mode"": 3}","{""distance"": 2328","""price"": 1300",...,"""eta"": 1804","""transport_mode"": 1}","{""distance"": 1970","""price"": 500","""eta"": 1842","""transport_mode"": 1}]",None,None,None,None
491050,"[{""distance"": 2759","""price"": 1400","""eta"": 1106","""transport_mode"": 4}","{""distance"": 2759","""price"": """"","""eta"": 806","""transport_mode"": 3}","{""distance"": 2755","""price"": """"",...,"""eta"": 2341","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
491051,"[{""distance"": 40258","""price"": 3000","""eta"": 4862","""transport_mode"": 9}","{""distance"": 32062","""price"": """"","""eta"": 2695","""transport_mode"": 3}","{""distance"": 32062","""price"": 9300",...,"""eta"": 6555","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491052,"[{""distance"": 5539","""price"": 300","""eta"": 1259","""transport_mode"": 9}","{""distance"": 6109","""price"": """"","""eta"": 875","""transport_mode"": 3}","{""distance"": 6109","""price"": 1800",...,"""eta"": 1875","""transport_mode"": 6}]",None,None,None,None,None,None,None,None
491053,"[{""distance"": 9052","""price"": """"","""eta"": 934","""transport_mode"": 3}","{""distance"": 9052","""price"": 2800","""eta"": 934","""transport_mode"": 4}","{""distance"": 8333","""price"": """"",...,"""eta"": 3794","""transport_mode"": 1}","{""distance"": 13530","""price"": 500","""eta"": 4645","""transport_mode"": 1}]",None,None,None,None

In [22]:
tp['d1']=new2[0]
tp['p1']=new2[1]
tp['e1']=new2[2]
tp['t1']=new2[3]
tp['d2']=new2[4]
tp['p2']=new2[5]
tp['e2']=new2[6]
tp['t2']=new2[7]
tp['d3']=new2[8]
tp['p3']=new2[9]
tp['e3']=new2[10]
tp['t3']=new2[11]
tp['d4']=new2[12]
tp['p4']=new2[13]
tp['e4']=new2[14]
tp['t4']=new2[15]
tp['d5']=new2[16]
tp['p5']=new2[17]
tp['e5']=new2[18]
tp['t5']=new2[19]
tp['d6']=new2[20]
tp['p6']=new2[21]
tp['e6']=new2[22]
tp['t6']=new2[23]
tp['d7']=new2[24]
tp['p7']=new2[25]
tp['e7']=new2[26]
tp['t7']=new2[27]


tp.drop(columns =["plans"], inplace = True) 

tp

,sid,plan_time,d1,p1,e1,t1,d2,p2,e2,t2,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
0,1709112,2018-11-04 11:45:04,"[{""distance"": 32303","""price"": 600","""eta"": 5087","""transport_mode"": 9}","{""distance"": 33678","""price"": """"","""eta"": 3149","""transport_mode"": 3}",...,"""eta"": 6494","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
1,3327773,2018-10-16 19:09:29,"[{""distance"": 3427","""price"": 300","""eta"": 627","""transport_mode"": 2}","{""distance"": 3251","""price"": """"","""eta"": 573","""transport_mode"": 3}",...,"""eta"": 2936","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
2,3285959,2018-11-25 15:05:22,"[{""distance"": 36234","""price"": 1100","""eta"": 9318","""transport_mode"": 7}","{""distance"": 29545","""price"": """"","""eta"": 3843","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
3,1616170,2018-10-03 14:42:40,"[{""distance"": 11450","""price"": 400","""eta"": 2801","""transport_mode"": 2}","{""distance"": 9100","""price"": """"","""eta"": 2751","""transport_mode"": 6}",...,"""eta"": 4132","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
4,351369,2018-10-05 19:52:37,"[{""distance"": 18495","""price"": 600","""eta"": 4271","""transport_mode"": 7}","{""distance"": 19111","""price"": """"","""eta"": 1513","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
5,749203,2018-10-01 07:03:52,"[{""distance"": 32486","""price"": """"","""eta"": 2491","""transport_mode"": 3}]",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,3005789,2018-10-22 11:45:20,"[{""distance"": 4935","""price"": 300","""eta"": 1568","""transport_mode"": 2}","{""distance"": 4434","""price"": """"","""eta"": 852","""transport_mode"": 3}",...,"""eta"": 3286","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
7,1897386,2018-11-13 18:51:27,"[{""distance"": 22103","""price"": 500","""eta"": 3361","""transport_mode"": 2}","{""distance"": 18601","""price"": """"","""eta"": 1736","""transport_mode"": 3}",...,"""eta"": 4930","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
8,845203,2018-11-26 12:43:56,"[{""distance"": 12422","""price"": 400","""eta"": 2324","""transport_mode"": 2}","{""distance"": 12548","""price"": """"","""eta"": 1485","""transport_mode"": 3}",...,"""eta"": 2610","""transport_mode"": 6}","{""distance"": 13657","""price"": 300","""eta"": 3095","""transport_mode"": 1}]",None,None,None,None
9,536341,2018-11-23 19:34:38,"[{""distance"": 2162","""price"": 200","""eta"": 1239","""transport_mode"": 1}","{""distance"": 2647","""price"": """"","""eta"": 543","""transport_mode"": 3}",...,"""eta"": 1983","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
10,2015965,2018-10-14 08:05:50,"[{""distance"": 30788","""price"": 600","""eta"": 4979","""transport_mode"": 2}","{""distance"": 28900","""price"": """"","""eta"": 2036","""transport_mode"": 3}",...,"""eta"": 6060","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
11,2398670,2018-11-14 15:43:32,"[{""distance"": 8693","""price"": 400","""eta"": 2577","""transport_mode"": 2}","{""distance"": 7940","""price"": """"","""eta"": 2039","""transport_mode"": 3}",...,"""eta"": 2339","""transport_mode"": 4}","{""distance"": 8019","""price"": 400","""eta"": 3919","""transport_mode"": 1}]",None,None,None,None
12,1944449,2018-10-11 16:29:29,"[{""distance"": 27279","""price"": 800","""eta"": 5528","""transport_mode"": 7}","{""distance"": 26468","""price"": 700","""eta"": 6601","""transport_mode"": 1}]",...,None,None,None,None,None,None,None,None,None,None
13,2985086,2018-11-02 16:23:33,"[{""distance"": 1833","""price"": """"","""eta"": 1648","""transport_mode"": 5}","{""distance"": 1874","""price"": """"","""eta"": 564","""transport_mode"": 6}",...,"""eta"": 1728","""transport_mode"": 2}","{""distance"": 1837","""price"": 200","""eta"": 1944","""transport_mode"": 1}]",None,None,None,None
14,593793,2018-11-11 11:13:56,"[{""distance"": 3522","""price"": 200","""eta"": 1827","""transport_mode"": 1}","{""distance"": 5156","""price"": """"","""eta"": 1090","""transport_mode"": 3}",...,"""eta"": 2069","""transport_mode"": 1}","{""distance"": 3355","""price"": """"","""eta"": 3043","""transport_mode"": 5}]",None,None,None,None
15,862480,2018-11-26 10:38:04,"[{""distance"": 23792","""price"": 600","""eta"": 6632","""transport_mode"": 7}","{""distance"": 25578","""price"": """"","""eta"": 2574","""transport_mode"": 3}",...,"""eta"": 7557","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
16,476608,2018-11-09 11:32:28,"[{""distance"": 36450","""price"": 700","""eta"": 5039","""transport_mode"": 2}","{""distance"": 38116","""price"": """"","""eta"": 4218","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
17,953020,2018-10-24 22:12:34,"[{""distance"": 2081","""price"": """"","""eta"": 277","""transport_mode"": 3}","{""distance"": 2081","""price"": 1300","""eta"": 277","""transport_mode"": 4}",...,"""eta"": 1863","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
18,2467443,2018-11-30 22:42:04,"[{""distance"": 9583","""price"": 3500","""eta"": 1340","""transport_mode"": 4}","{""distance"": 9583","""price"": """"","""eta"": 1280","""transport_mode"": 3}",...,"""eta"": 3232","""transport_mode"": 2}","{""distance"": 12440","""price"": 600","""eta"": 4158","""transport_mode"": 7}]",None,None,None,None
19,3331590,2018-10-16 09:58:44,"[{""distance"": 14001","""price"": 400","""eta"": 3457","""transport_mode"": 2}","{""distance"": 10410","""price"": """"","""eta"": 2349","""transport_mode"": 3}",...,"""eta"": 4014","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
20,1683338,2018-10-23 10:59:04,"[{""distance"": 23516","""price"": 900","""eta"": 5454","""transport_mode"": 7}","{""distance"": 22879","""price"": 500","""eta"": 6025","""transport_mode"": 1}]",...,None,None,None,None,None,None,None,None,None,None
21,750368,2018-10-01 12:27:32,"[{""distance"": 2097","""price"": 300","""eta"": 1193","""transport_mode"": 2}","{""distance"": 2038","""price"": """"","""eta"": 616","""transport_mode"": 6}",...,"""eta"": 1691","""transport_mode"": 1}","{""distance"": 2155","""price"": """"","""eta"": 1953","""transport_mode"": 5}]",None,None,None,None
22,3383023,2018-11-24 10:36:28,"[{""distance"": 21273","""price"": 700","""eta"": 3543","""transport_mode"": 7}","{""distance"": 20793","""price"": 700","""eta"": 3768","""transport_mode"": 7}]",...,None,None,None,None,None,None,None,None,None,None
23,1622080,2018-10-03 10:54:48,"[{""distance"": 22808","""price"": 500","""eta"": 3521","""transport_mode"": 9}","{""distance"": 19824","""price"": """"","""eta"": 1788","""transport_mode"": 3}",...,"""eta"": 3827","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
24,1519321,2018-11-28 14:29:17,"[{""distance"": 11638","""price"": 400","""eta"": 2185","""transport_mode"": 2}","{""distance"": 12922","""price"": """"","""eta"": 2330","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
25,2797066,2018-10-30 16:19:16,"[{""distance"": 75","""price"": """"","""eta"": 64","""transport_mode"": 5}","{""distance"": 75","""price"": """"","""eta"": 22","""transport_mode"": 6}",...,None,None,None,None,None,None,None,None,None,None
26,846664,2018-11-26 17:12:56,"[{""distance"": 870","""price"": """"","""eta"": 805","""transport_mode"": 5}","{""distance"": 965","""price"": """"","""eta"": 291","""transport_mode"": 6}",...,"""eta"": 1052","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
27,757951,2018-10-01 20:46:13,"[{""distance"": 1354","""price"": """"","""eta"": 1228","""transport_mode"": 5}","{""distance"": 1329","""price"": """"","""eta"": 401","""transport_mode"": 6}",...,"""eta"": 1678","""transport_mode"": 1}","{""distance"": 4461","""price"": 300","""eta"": 2064","""transport_mode"": 2}]",None,None,None,None
28,16049,2018-11-10 18:23:53,"[{""distance"": 18756","""price"": 500","""eta"": 3595","""transport_mode"": 2}","{""distance"": 19514","""price"": """"","""eta"": 2924","""transport_mode"": 3}",...,"""eta"": 4366","""transport_mode"": 11}","{""distance"": 19615","""price"": 600","""eta"": 4419","""transport_mode"": 7}]",None,None,None,None
29,1514541,2018-11-28 16:19:50,"[{""distance"": 32081","""price"": 600","""eta"": 5073","""transport_mode"": 2}","{""distance"": 29864","""price"": """"","""eta"": 3750","""transport_mode"": 3}",...,"""eta"": 4502","""transport_mode"": 9}]",None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491024,276989,2018-10-04 18:19:37,"[{""distance"": 9603","""price"": 400","""eta"": 2378","""transport_mode"": 9}","{""distance"": 6879","""price"": """"","""eta"": 1090","""transport_mode"": 3}",...,"""eta"": 3017","""transport_mode"": 1}","{""distance"": 9603","""price"": 400","""eta"": 3059","""transport_mode"": 2}]",None,None,None,None
491025,361816,2018-10-05 16:41:55,"[{""distance"": 54766","""price"": 800","""eta"": 6930","""transport_mode"": 2}","{""distance"": 53501","""price"": """"","""eta"": 6570","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491026,1909658,2018-11-13 13:26:05,"[{""distance"": 14526","""price"": 500","""eta"": 2631","""transport_mode"": 2}","{""distance"": 14536","""price"": """"","""eta"": 1372","""transport_mode"": 3}",...,"""eta"": 3510","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491027,386876,2018-10-05 12:01:33,"[{""distance"": 15625","""price"": 500","""eta"": 2889","""transport_mode"": 9}","{""distance"": 15471","""price"": """"","""eta"": 1453","""transport_mode"": 3}",...,"""eta"": 4629","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491028,1472092,2018-10-27 08:43:16,"[{""distance"": 18000","""price"": 600","""eta"": 3873","""transport_mode"": 7}","{""distance"": 16923","""price"": """"","""eta"": 2703","""transport_mode"": 3}",...,"""eta"": 5241","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491029,2411222,2018-11-14 12:15:18,"[{""distance"": 25856","""price"": 600","""eta"": 3050","""transport_mode"": 2}","{""distance"": 29753","""price"": """"","""eta"": 3291","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491030,2656673,2018-10-12 12:49:35,"[{""distance"": 12285","""price"": 600","""eta"": 3021","""transport_mode"": 7}","{""distance"": 10827","""price"": """"","""eta"": 967","""transport_mode"": 3}",...,"""eta"": 3758","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491031,2738165,2018-10-18 10:37:37,"[{""distance"": 24182","""price"": 500","""eta"": 3964","""transport_mode"": 9}","{""distance"": 23051","""price"": """"","""eta"": 3702","""transport_mode"": 3}",...,"""eta"": 5047","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
491032,2845989,2018-11-17 20:37:00,"[{""distance"": 41689","""price"": 700","""eta"": 4261","""transport_mode"": 2}","{""distance"": 38624","""price"": """"","""eta"": 2666","""transport_mode"": 3}",...,"""eta"": 5463","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491033,2712923,2018-10-21 13:32:28,"[{""distance"": 35","""price"": """"","""eta"": 30","""transport_mode"": 5}","{""distance"": 36","""price"": """"","""eta"": 4","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491034,783647,2018-10-01 11:13:42,"[{""distance"": 8458","""price"": 400","""eta"": 3392","""transport_mode"": 1}","{""distance"": 6704","""price"": """"","""eta"": 1170","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491035,2334373,2018-10-25 12:31:39,"[{""distance"": 1409","""price"": """"","""eta"": 423","""transport_mode"": 6}","{""distance"": 1307","""price"": """"","""eta"": 339","""transport_mode"": 3}",...,"""eta"": 1204","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
491036,3014671,2018-10-22 13:00:53,"[{""distance"": 20661","""price"": 700","""eta"": 4129","""transport_mode"": 7}","{""distance"": 21187","""price"": """"","""eta"": 2581","""transport_mode"": 3}",...,"""eta"": 4711","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
491037,34323,2018-11-10 08:30:42,"[{""distance"": 10999","""price"": 200","""eta"": 3593","""transport_mode"": 1}","{""distance"": 9805","""price"": """"","""eta"": 1310","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491038,2839625,2018-11-17 13:52:33,"[{""distance"": 19708","""price"": 1500","""eta"": 5284","""transport_mode"": 7}","{""distance"": 24777","""price"": """"","""eta"": 3400","""transport_mode"": 3}",...,"""eta"": 6982","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491039,515686,2018-11-09 20:20:23,"[{""distance"": 38387","""price"": 800","""eta"": 6030","""transport_mode"": 7}","{""distance"": 29994","""price"": """"","""eta"": 2325","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491040,2341527,2018-10-10 15:50:34,"[{""distance"": 15354","""price"": 400","""eta"": 4468","""transport_mode"": 1}","{""distance"": 21108","""price"": """"","""eta"": 2741","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491041,2189454,2018-11-20 13:11:12,"[{""distance"": 13076","""price"": 500","""eta"": 2548","""transport_mode"": 2}","{""distance"": 13378","""price"": """"","""eta"": 1112","""transport_mode"": 3}",...,"""eta"": 2676","""transport_mode"": 2}]",None,None,None,None,None,None,None,None
491042,2730678,2018-10-21 11:10:45,"[{""distance"": 15088","""price"": 500","""eta"": 2917","""transport_mode"": 9}","{""distance"": 15060","""price"": 500","""eta"": 3822","""transport_mode"": 2}",...,None,None,None,None,None,None,None,None,None,None
491043,741574,2018-10-01 19:33:34,"[{""distance"": 12094","""price"": 400","""eta"": 2136","""transport_mode"": 2}","{""distance"": 9994","""price"": """"","""eta"": 1916","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491044,2361553,2018-10-10 22:39:13,"[{""distance"": 2168","""price"": """"","""eta"": 465","""transport_mode"": 3}","{""distance"": 2168","""price"": 1300","""eta"": 465","""transport_mode"": 4}",...,"""eta"": 1470","""transport_mode"": 5}","{""distance"": 1989","""price"": 200","""eta"": 1685","""transport_mode"": 1}]",None,None,None,None
491045,134925,2018-10-08 11:41:50,"[{""distance"": 14612","""price"": 500","""eta"": 3254","""transport_mode"": 9}","{""distance"": 10945","""price"": """"","""eta"": 1195","""transport_mode"": 3}",...,"""eta"": 4243","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491046,394423,2018-10-05 14:13:16,"[{""distance"": 37140","""price"": 900","""eta"": 6845","""transport_mode"": 7}","{""distance"": 32701","""price"": """"","""eta"": 2447","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491047,3030386,2018-10-22 07:35:08,"[{""distance"": 27632","""price"": 700","""eta"": 4992","""transport_mode"": 7}","{""distance"": 32368","""price"": 3800","""eta"": 3989","""transport_mode"": 10}",...,"""eta"": 5333","""transport_mode"": 9}]",None,None,None,None,None,None,None,None
491048,2901145,2018-10-06 15:34:49,"[{""distance"": 3136","""price"": 300","""eta"": 1499","""transport_mode"": 2}","{""distance"": 3195","""price"": """"","""eta"": 544","""transport_mode"": 3}",...,"""eta"": 1831","""transport_mode"": 1}","{""distance"": 2590","""price"": """"","""eta"": 2348","""transport_mode"": 5}]",None,None,None,None
491049,1686546,2018-10-23 18:36:37,"[{""distance"": 1423","""price"": """"","""eta"": 427","""transport_mode"": 6}","{""distance"": 2328","""price"": """"","""eta"": 570","""transport_mode"": 3}",...,"""eta"": 1804","""transport_mode"": 1}","{""distance"": 1970","""price"": 500","""eta"": 1842","""transport_mode"": 1}]",None,None,None,None
491050,850092,2018-11-26 09:48:50,"[{""distance"": 2759","""price"": 1400","""eta"": 1106","""transport_mode"": 4}","{""distance"": 2759","""price"": """"","""eta"": 806","""transport_mode"": 3}",...,"""eta"": 2341","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
491051,1603178,2018-10-03 11:45:28,"[{""distance"": 40258","""price"": 3000","""eta"": 4862","""transport_mode"": 9}","{""distance"": 32062","""price"": """"","""eta"": 2695","""transport_mode"": 3}",...,"""eta"": 6555","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491052,165256,2018-10-20 09:47:39,"[{""distance"": 5539","""price"": 300","""eta"": 1259","""transport_mode"": 9}","{""distance"": 6109","""price"": """"","""eta"": 875","""transport_mode"": 3}",...,"""eta"": 1875","""transport_mode"": 6}]",None,None,None,None,None,None,None,None
491053,2502376,2018-10-07 20:55:19,"[{""distance"": 9052","""price"": """"","""eta"": 934","""transport_mode"": 3}","{""distance"": 9052","""price"": 2800","""eta"": 934","""transport_mode"": 4}",...,"""eta"": 3794","""transport_mode"": 1}","{""distance"": 13530","""price"": 500","""eta"": 4645","""transport_mode"": 1}]",None,None,None,None

In [23]:
import re

tp['d1'] = tp.d1.str.replace(r"[^0-9.]",'')
tp['p1'] = tp.p1.str.replace(r"[^0-9.]",'')
tp['e1'] = tp.e1.str.replace(r"[^0-9.]",'')
tp['t1'] = tp.t1.str.replace(r"[^0-9.]",'')


tp['d2'] = tp.d2.str.replace(r"[^0-9.]",'')
tp['p2'] = tp.p2.str.replace(r"[^0-9.]",'')
tp['e2'] = tp.e2.str.replace(r"[^0-9.]",'')
tp['t2'] = tp.t2.str.replace(r"[^0-9.]",'')


tp['d3'] = tp.d3.str.replace(r"[^0-9.]",'')
tp['p3'] = tp.p3.str.replace(r"[^0-9.]",'')
tp['e3'] = tp.e3.str.replace(r"[^0-9.]",'')
tp['t3'] = tp.t3.str.replace(r"[^0-9.]",'')


tp['d4'] = tp.d4.str.replace(r"[^0-9.]",'')
tp['p4'] = tp.p4.str.replace(r"[^0-9.]",'')
tp['e4'] = tp.e4.str.replace(r"[^0-9.]",'')
tp['t4'] = tp.t4.str.replace(r"[^0-9.]",'')


tp['d5'] = tp.d5.str.replace(r"[^0-9.]",'')
tp['p5'] = tp.p5.str.replace(r"[^0-9.]",'')
tp['e5'] = tp.e5.str.replace(r"[^0-9.]",'')
tp['t5'] = tp.t5.str.replace(r"[^0-9.]",'')


tp['d6'] = tp.d6.str.replace(r"[^0-9.]",'')
tp['p6'] = tp.p6.str.replace(r"[^0-9.]",'')
tp['e6'] = tp.e6.str.replace(r"[^0-9.]",'')
tp['t6'] = tp.t6.str.replace(r"[^0-9.]",'')


tp['d7'] = tp.d7.str.replace(r"[^0-9.]",'')
tp['p7'] = tp.p7.str.replace(r"[^0-9.]",'')
tp['e7'] = tp.e7.str.replace(r"[^0-9.]",'')
tp['t7'] = tp.t7.str.replace(r"[^0-9.]",'')





tp

,sid,plan_time,d1,p1,e1,t1,d2,p2,e2,t2,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
0,1709112,2018-11-04 11:45:04,32303,600,5087,9,33678,,3149,3,...,6494,1,None,None,None,None,None,None,None,None
1,3327773,2018-10-16 19:09:29,3427,300,627,2,3251,,573,3,...,2936,5,None,None,None,None,None,None,None,None
2,3285959,2018-11-25 15:05:22,36234,1100,9318,7,29545,,3843,3,...,None,None,None,None,None,None,None,None,None,None
3,1616170,2018-10-03 14:42:40,11450,400,2801,2,9100,,2751,6,...,4132,7,None,None,None,None,None,None,None,None
4,351369,2018-10-05 19:52:37,18495,600,4271,7,19111,,1513,3,...,None,None,None,None,None,None,None,None,None,None
5,749203,2018-10-01 07:03:52,32486,,2491,3,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,3005789,2018-10-22 11:45:20,4935,300,1568,2,4434,,852,3,...,3286,5,None,None,None,None,None,None,None,None
7,1897386,2018-11-13 18:51:27,22103,500,3361,2,18601,,1736,3,...,4930,1,None,None,None,None,None,None,None,None
8,845203,2018-11-26 12:43:56,12422,400,2324,2,12548,,1485,3,...,2610,6,13657,300,3095,1,None,None,None,None
9,536341,2018-11-23 19:34:38,2162,200,1239,1,2647,,543,3,...,1983,5,None,None,None,None,None,None,None,None
10,2015965,2018-10-14 08:05:50,30788,600,4979,2,28900,,2036,3,...,6060,7,None,None,None,None,None,None,None,None
11,2398670,2018-11-14 15:43:32,8693,400,2577,2,7940,,2039,3,...,2339,4,8019,400,3919,1,None,None,None,None
12,1944449,2018-10-11 16:29:29,27279,800,5528,7,26468,700,6601,1,...,None,None,None,None,None,None,None,None,None,None
13,2985086,2018-11-02 16:23:33,1833,,1648,5,1874,,564,6,...,1728,2,1837,200,1944,1,None,None,None,None
14,593793,2018-11-11 11:13:56,3522,200,1827,1,5156,,1090,3,...,2069,1,3355,,3043,5,None,None,None,None
15,862480,2018-11-26 10:38:04,23792,600,6632,7,25578,,2574,3,...,7557,1,None,None,None,None,None,None,None,None
16,476608,2018-11-09 11:32:28,36450,700,5039,2,38116,,4218,3,...,None,None,None,None,None,None,None,None,None,None
17,953020,2018-10-24 22:12:34,2081,,277,3,2081,1300,277,4,...,1863,5,None,None,None,None,None,None,None,None
18,2467443,2018-11-30 22:42:04,9583,3500,1340,4,9583,,1280,3,...,3232,2,12440,600,4158,7,None,None,None,None
19,3331590,2018-10-16 09:58:44,14001,400,3457,2,10410,,2349,3,...,4014,1,None,None,None,None,None,None,None,None
20,1683338,2018-10-23 10:59:04,23516,900,5454,7,22879,500,6025,1,...,None,None,None,None,None,None,None,None,None,None
21,750368,2018-10-01 12:27:32,2097,300,1193,2,2038,,616,6,...,1691,1,2155,,1953,5,None,None,None,None
22,3383023,2018-11-24 10:36:28,21273,700,3543,7,20793,700,3768,7,...,None,None,None,None,None,None,None,None,None,None
23,1622080,2018-10-03 10:54:48,22808,500,3521,9,19824,,1788,3,...,3827,7,None,None,None,None,None,None,None,None
24,1519321,2018-11-28 14:29:17,11638,400,2185,2,12922,,2330,3,...,None,None,None,None,None,None,None,None,None,None
25,2797066,2018-10-30 16:19:16,75,,64,5,75,,22,6,...,None,None,None,None,None,None,None,None,None,None
26,846664,2018-11-26 17:12:56,870,,805,5,965,,291,6,...,1052,1,None,None,None,None,None,None,None,None
27,757951,2018-10-01 20:46:13,1354,,1228,5,1329,,401,6,...,1678,1,4461,300,2064,2,None,None,None,None
28,16049,2018-11-10 18:23:53,18756,500,3595,2,19514,,2924,3,...,4366,11,19615,600,4419,7,None,None,None,None
29,1514541,2018-11-28 16:19:50,32081,600,5073,2,29864,,3750,3,...,4502,9,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491024,276989,2018-10-04 18:19:37,9603,400,2378,9,6879,,1090,3,...,3017,1,9603,400,3059,2,None,None,None,None
491025,361816,2018-10-05 16:41:55,54766,800,6930,2,53501,,6570,3,...,None,None,None,None,None,None,None,None,None,None
491026,1909658,2018-11-13 13:26:05,14526,500,2631,2,14536,,1372,3,...,3510,1,None,None,None,None,None,None,None,None
491027,386876,2018-10-05 12:01:33,15625,500,2889,9,15471,,1453,3,...,4629,1,None,None,None,None,None,None,None,None
491028,1472092,2018-10-27 08:43:16,18000,600,3873,7,16923,,2703,3,...,5241,1,None,None,None,None,None,None,None,None
491029,2411222,2018-11-14 12:15:18,25856,600,3050,2,29753,,3291,3,...,None,None,None,None,None,None,None,None,None,None
491030,2656673,2018-10-12 12:49:35,12285,600,3021,7,10827,,967,3,...,3758,1,None,None,None,None,None,None,None,None
491031,2738165,2018-10-18 10:37:37,24182,500,3964,9,23051,,3702,3,...,5047,7,None,None,None,None,None,None,None,None
491032,2845989,2018-11-17 20:37:00,41689,700,4261,2,38624,,2666,3,...,5463,1,None,None,None,None,None,None,None,None
491033,2712923,2018-10-21 13:32:28,35,,30,5,36,,4,3,...,None,None,None,None,None,None,None,None,None,None
491034,783647,2018-10-01 11:13:42,8458,400,3392,1,6704,,1170,3,...,None,None,None,None,None,None,None,None,None,None
491035,2334373,2018-10-25 12:31:39,1409,,423,6,1307,,339,3,...,1204,5,None,None,None,None,None,None,None,None
491036,3014671,2018-10-22 13:00:53,20661,700,4129,7,21187,,2581,3,...,4711,7,None,None,None,None,None,None,None,None
491037,34323,2018-11-10 08:30:42,10999,200,3593,1,9805,,1310,3,...,None,None,None,None,None,None,None,None,None,None
491038,2839625,2018-11-17 13:52:33,19708,1500,5284,7,24777,,3400,3,...,6982,1,None,None,None,None,None,None,None,None
491039,515686,2018-11-09 20:20:23,38387,800,6030,7,29994,,2325,3,...,None,None,None,None,None,None,None,None,None,None
491040,2341527,2018-10-10 15:50:34,15354,400,4468,1,21108,,2741,3,...,None,None,None,None,None,None,None,None,None,None
491041,2189454,2018-11-20 13:11:12,13076,500,2548,2,13378,,1112,3,...,2676,2,None,None,None,None,None,None,None,None
491042,2730678,2018-10-21 11:10:45,15088,500,2917,9,15060,500,3822,2,...,None,None,None,None,None,None,None,None,None,None
491043,741574,2018-10-01 19:33:34,12094,400,2136,2,9994,,1916,3,...,None,None,None,None,None,None,None,None,None,None
491044,2361553,2018-10-10 22:39:13,2168,,465,3,2168,1300,465,4,...,1470,5,1989,200,1685,1,None,None,None,None
491045,134925,2018-10-08 11:41:50,14612,500,3254,9,10945,,1195,3,...,4243,1,None,None,None,None,None,None,None,None
491046,394423,2018-10-05 14:13:16,37140,900,6845,7,32701,,2447,3,...,None,None,None,None,None,None,None,None,None,None
491047,3030386,2018-10-22 07:35:08,27632,700,4992,7,32368,3800,3989,10,...,5333,9,None,None,None,None,None,None,None,None
491048,2901145,2018-10-06 15:34:49,3136,300,1499,2,3195,,544,3,...,1831,1,2590,,2348,5,None,None,None,None
491049,1686546,2018-10-23 18:36:37,1423,,427,6,2328,,570,3,...,1804,1,1970,500,1842,1,None,None,None,None
491050,850092,2018-11-26 09:48:50,2759,1400,1106,4,2759,,806,3,...,2341,5,None,None,None,None,None,None,None,None
491051,1603178,2018-10-03 11:45:28,40258,3000,4862,9,32062,,2695,3,...,6555,1,None,None,None,None,None,None,None,None
491052,165256,2018-10-20 09:47:39,5539,300,1259,9,6109,,875,3,...,1875,6,None,None,None,None,None,None,None,None
491053,2502376,2018-10-07 20:55:19,9052,,934,3,9052,2800,934,4,...,3794,1,13530,500,4645,1,None,None,None,None

In [24]:
#tq.sort_values(by=['o'])
new = tq["o"].str.split(",", n = 1, expand = True) 
tq["ol"]= new[0] 
  
# making separate last name column from new data frame 
tq["oa"]= new[1] 
tq.drop(columns =["o"], inplace = True) 

new1 = tq["d"].str.split(",", n = 1, expand = True) 
tq["dl"]= new1[0] 
  
# making separate last name column from new data frame 
tq["da"]= new1[1] 
tq.drop(columns =["d"], inplace = True) 

tq

            sid       pid             req_time      ol     oa      dl     da
0       3000821       NaN  2018-11-02 17:54:30  116.29  39.97  116.32  39.96
1       3085857  210736.0  2018-11-16 10:53:10  116.39  39.84  116.33  39.79
2       2944522       NaN  2018-10-06 10:33:58  116.31  39.93  116.27  40.00
3        559931  202427.0  2018-11-23 14:54:11  116.27  39.88  116.39  39.90
4       2819352  172251.0  2018-10-30 11:48:41  116.34  39.96  116.37  39.86
5       2754575  135606.0  2018-10-18 07:37:32  116.54  39.73  116.48  39.76
6       2224795  189023.0  2018-11-20 14:34:03  116.34  39.73  116.79  40.35
7       1598541  156954.0  2018-10-03 09:19:47  116.26  40.22  116.24  40.22
8        676316  135045.0  2018-11-15 15:25:52  116.39  39.91  116.39  39.90
9       1068802  176605.0  2018-11-08 23:13:57  116.29  40.02  116.27  39.95
10      1677052       NaN  2018-10-23 01:02:45  116.43  39.95  116.37  39.86
11      1601021  207329.0  2018-10-03 16:07:03  116.45  39.93  116.42  39.93
12       986743       NaN  2018-11-12 13:52:31  116.32  39.98  116.58  39.91
13      1562328  215847.0  2018-10-03 10:00:54  116.40  39.92  116.40  39.91
14       184189       NaN  2018-10-20 12:52:07  116.31  40.03  116.33  40.01
15      3292454       NaN  2018-10-16 09:06:07  116.30  39.94  116.27  39.96
16      1808923  207363.0  2018-11-29 13:20:55  116.21  40.24  116.47  39.89
17      3000955  144649.0  2018-11-02 09:38:26  116.34  39.87  116.33  39.87
18       694129  116986.0  2018-11-15 13:58:26  116.41  39.94  116.50  39.93
19       409847  180421.0  2018-10-05 15:41:17  116.33  39.97  116.32  39.89
20       627704       NaN  2018-10-28 09:46:40  116.29  39.86  116.45  39.93
21       307643  175212.0  2018-10-04 14:31:33  116.29  39.93  116.30  39.93
22       296598  112198.0  2018-10-04 21:22:51  116.50  39.87  116.50  39.80
23       945674  135562.0  2018-10-24 14:09:41  116.34  39.84  116.32  39.90
24       547098  202757.0  2018-11-23 16:18:30  116.34  39.95  116.34  39.94
25       165662  200008.0  2018-10-20 11:14:06  116.34  40.03  116.42  39.90
26      1861826  112198.0  2018-11-03 13:54:48  116.35  40.00  116.43  39.94
27      2554010  211790.0  2018-11-19 17:38:56  116.34  39.85  116.33  39.84
28      3075509  116844.0  2018-11-16 13:09:35  116.30  39.99  116.31  39.99
29      1548874       NaN  2018-11-28 08:34:30  116.43  39.90  116.43  39.94
...         ...       ...                  ...     ...    ...     ...    ...
499970  2550808       NaN  2018-11-19 11:11:16  116.30  39.92  116.27  39.90
499971  3161400  153606.0  2018-11-21 23:13:47  116.42  39.84  116.39  39.79
499972  2455988       NaN  2018-11-30 20:57:39  116.29  40.09  116.25  40.16
499973  2284951  180343.0  2018-10-13 11:03:03  116.38  39.97  116.73  40.18
499974   188295       NaN  2018-10-20 10:57:15  116.26  40.22  116.37  39.86
499975  2109725  129567.0  2018-11-18 11:03:20  116.41  39.96  116.41  39.99
499976   251464  106075.0  2018-10-17 15:39:10  116.33  39.94  116.36  39.89
499977   163816  202246.0  2018-10-20 09:01:59  116.54  39.75  116.27  40.00
499978  2765282  129567.0  2018-10-18 11:30:09  116.24  40.03  116.14  39.75
499979  2608998       NaN  2018-11-01 10:29:47  116.35  40.01  116.44  39.94
499980  3353668       NaN  2018-11-24 07:27:41  116.32  39.83  116.42  39.90
499981  3349757  112282.0  2018-11-24 13:53:30  116.47  39.89  116.40  39.91
499982  1991199  130150.0  2018-10-14 15:59:39  116.33  39.94  116.39  39.89
499983  2178623  181977.0  2018-10-19 08:38:45  116.36  39.90  116.42  39.95
499984  2949567       NaN  2018-11-02 17:34:47  116.35  39.92  116.35  39.92
499985  1953641  115654.0  2018-10-11 15:10:45  116.37  39.86  116.56  39.78
499986  3201419       NaN  2018-11-07 17:31:56  116.41  40.10  116.44  40.12
499987  2094366  186830.0  2018-11-18 06:13:07  116.59  40.08  116.54  39.88
499988  1658365  188398.0  2018-10-23 13:50:48  116.39  39.92  116.35  40.00
499989   625863       NaN  2018-10-28 19:35:53  116.33  39.93  116.32  39.89
499990  1666359  104686.0  2018-10-23 19:21:40  116.37  39.91  116.33  39.99
499991   884016       NaN  2018-11-26 20:08:22  116.41  39.91  116.40  39.93
499992  2333615  200530.0  2018-10-25 14:19:52  116.57  39.91  116.42  39.90
499993   277011  212050.0  2018-10-04 09:21:11  116.40  39.98  116.56  40.02
499994   850424  122177.0  2018-11-26 19:02:11  116.15  39.72  116.28  39.84
499995  3136563  113317.0  2018-10-26 12:53:24  116.54  40.07  116.38  39.94
499996  1775691       NaN  2018-10-09 16:40:51  116.50  40.00  116.58  39.91
499997   722748  193800.0  2018-10-01 16:46:52  116.17  39.71  116.20  39.75
499998  1594185       NaN  2018-10-03 12:27:51  116.32  40.06  116.16  40.23
499999  1795967  101673.0  2018-11-29 10:01:13  116.50  39.89  116.37  39.94

[500000 rows x 7 columns]

In [25]:
import math  
tq['ol']=tq['ol'].astype(float)
tq['oa']=tq['oa'].astype(float)
tq['dl']=tq['dl'].astype(float)
tq['da']=tq['da'].astype(float)

tq['distance_math']=np.sqrt(pow((tq['ol']-tq['dl']),2)+pow((tq['oa']-tq['da']),2))

In [26]:
tq

,sid,pid,req_time,ol,oa,dl,da,distance_math
0,3000821,NaN,2018-11-02 17:54:30,116.29,39.97,116.32,39.96,0.031623
1,3085857,210736.0,2018-11-16 10:53:10,116.39,39.84,116.33,39.79,0.078102
2,2944522,NaN,2018-10-06 10:33:58,116.31,39.93,116.27,40.00,0.080623
3,559931,202427.0,2018-11-23 14:54:11,116.27,39.88,116.39,39.90,0.121655
4,2819352,172251.0,2018-10-30 11:48:41,116.34,39.96,116.37,39.86,0.104403
5,2754575,135606.0,2018-10-18 07:37:32,116.54,39.73,116.48,39.76,0.067082
6,2224795,189023.0,2018-11-20 14:34:03,116.34,39.73,116.79,40.35,0.766094
7,1598541,156954.0,2018-10-03 09:19:47,116.26,40.22,116.24,40.22,0.020000
8,676316,135045.0,2018-11-15 15:25:52,116.39,39.91,116.39,39.90,0.010000
9,1068802,176605.0,2018-11-08 23:13:57,116.29,40.02,116.27,39.95,0.072801
10,1677052,NaN,2018-10-23 01:02:45,116.43,39.95,116.37,39.86,0.108167
11,1601021,207329.0,2018-10-03 16:07:03,116.45,39.93,116.42,39.93,0.030000
12,986743,NaN,2018-11-12 13:52:31,116.32,39.98,116.58,39.91,0.269258
13,1562328,215847.0,2018-10-03 10:00:54,116.40,39.92,116.40,39.91,0.010000
14,184189,NaN,2018-10-20 12:52:07,116.31,40.03,116.33,40.01,0.028284
15,3292454,NaN,2018-10-16 09:06:07,116.30,39.94,116.27,39.96,0.036056
16,1808923,207363.0,2018-11-29 13:20:55,116.21,40.24,116.47,39.89,0.436005
17,3000955,144649.0,2018-11-02 09:38:26,116.34,39.87,116.33,39.87,0.010000
18,694129,116986.0,2018-11-15 13:58:26,116.41,39.94,116.50,39.93,0.090554
19,409847,180421.0,2018-10-05 15:41:17,116.33,39.97,116.32,39.89,0.080623
20,627704,NaN,2018-10-28 09:46:40,116.29,39.86,116.45,39.93,0.174642
21,307643,175212.0,2018-10-04 14:31:33,116.29,39.93,116.30,39.93,0.010000
22,296598,112198.0,2018-10-04 21:22:51,116.50,39.87,116.50,39.80,0.070000
23,945674,135562.0,2018-10-24 14:09:41,116.34,39.84,116.32,39.90,0.063246
24,547098,202757.0,2018-11-23 16:18:30,116.34,39.95,116.34,39.94,0.010000
25,165662,200008.0,2018-10-20 11:14:06,116.34,40.03,116.42,39.90,0.152643
26,1861826,112198.0,2018-11-03 13:54:48,116.35,40.00,116.43,39.94,0.100000
27,2554010,211790.0,2018-11-19 17:38:56,116.34,39.85,116.33,39.84,0.014142
28,3075509,116844.0,2018-11-16 13:09:35,116.30,39.99,116.31,39.99,0.010000
29,1548874,NaN,2018-11-28 08:34:30,116.43,39.90,116.43,39.94,0.040000
...,...,...,...,...,...,...,...,...
499970,2550808,NaN,2018-11-19 11:11:16,116.30,39.92,116.27,39.90,0.036056
499971,3161400,153606.0,2018-11-21 23:13:47,116.42,39.84,116.39,39.79,0.058310
499972,2455988,NaN,2018-11-30 20:57:39,116.29,40.09,116.25,40.16,0.080623
499973,2284951,180343.0,2018-10-13 11:03:03,116.38,39.97,116.73,40.18,0.408167
499974,188295,NaN,2018-10-20 10:57:15,116.26,40.22,116.37,39.86,0.376431
499975,2109725,129567.0,2018-11-18 11:03:20,116.41,39.96,116.41,39.99,0.030000
499976,251464,106075.0,2018-10-17 15:39:10,116.33,39.94,116.36,39.89,0.058310
499977,163816,202246.0,2018-10-20 09:01:59,116.54,39.75,116.27,40.00,0.367967
499978,2765282,129567.0,2018-10-18 11:30:09,116.24,40.03,116.14,39.75,0.297321
499979,2608998,NaN,2018-11-01 10:29:47,116.35,40.01,116.44,39.94,0.114018
499980,3353668,NaN,2018-11-24 07:27:41,116.32,39.83,116.42,39.90,0.122066
499981,3349757,112282.0,2018-11-24 13:53:30,116.47,39.89,116.40,39.91,0.072801
499982,1991199,130150.0,2018-10-14 15:59:39,116.33,39.94,116.39,39.89,0.078102
499983,2178623,181977.0,2018-10-19 08:38:45,116.36,39.90,116.42,39.95,0.078102
499984,2949567,NaN,2018-11-02 17:34:47,116.35,39.92,116.35,39.92,0.000000
499985,1953641,115654.0,2018-10-11 15:10:45,116.37,39.86,116.56,39.78,0.206155
499986,3201419,NaN,2018-11-07 17:31:56,116.41,40.10,116.44,40.12,0.036056
499987,2094366,186830.0,2018-11-18 06:13:07,116.59,40.08,116.54,39.88,0.206155
499988,1658365,188398.0,2018-10-23 13:50:48,116.39,39.92,116.35,40.00,0.089443
499989,625863,NaN,2018-10-28 19:35:53,116.33,39.93,116.32,39.89,0.041231
499990,1666359,104686.0,2018-10-23 19:21:40,116.37,39.91,116.33,39.99,0.089443
499991,884016,NaN,2018-11-26 20:08:22,116.41,39.91,116.40,39.93,0.022361
499992,2333615,200530.0,2018-10-25 14:19:52,116.57,39.91,116.42,39.90,0.150333
499993,277011,212050.0,2018-10-04 09:21:11,116.40,39.98,116.56,40.02,0.164924
499994,850424,122177.0,2018-11-26 19:02:11,116.15,39.72,116.28,39.84,0.176918
499995,3136563,113317.0,2018-10-26 12:53:24,116.54,40.07,116.38,39.94,0.206155
499996,1775691,NaN,2018-10-09 16:40:51,116.50,40.00,116.58,39.91,0.120416
499997,722748,193800.0,2018-10-01 16:46:52,116.17,39.71,116.20,39.75,0.050000
499998,1594185,NaN,2018-10-03 12:27:51,116.32,40.06,116.16,40.23,0.233452
499999,1795967,101673.0,2018-11-29 10:01:13,116.50,39.89,116.37,39.94,0.139284