In [64]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [65]:
tc=pd.read_csv("train_clicks.csv")
tp=pd.read_csv("train_plans.csv")
tq=pd.read_csv("train_queries.csv")

In [66]:
tc.sort_values(by=['sid'])

            sid           click_time  click_mode
369941       10  2018-11-10 11:13:24           1
409397       21  2018-11-10 12:16:36           2
357511       25  2018-11-10 23:51:30           1
183443       34  2018-11-10 13:43:19           9
239787       35  2018-11-10 16:37:25           1
439701       36  2018-11-10 13:43:03           1
382848       44  2018-11-10 16:17:59           2
67258        68  2018-11-10 19:38:08           2
159404       69  2018-11-10 18:55:34           1
198530       79  2018-11-10 22:09:48           2
63629        86  2018-11-10 11:28:28           5
156364       95  2018-11-10 14:12:10           1
333363       99  2018-11-10 14:13:25           1
284043      120  2018-11-10 09:11:41           1
38134       127  2018-11-10 09:48:59          10
302151      128  2018-11-10 12:59:07           9
180897      134  2018-11-10 15:13:53           2
195627      136  2018-11-10 16:42:01           2
34637       141  2018-11-10 06:55:08           7
236037      162  2018-11-10 12:55:20           2
237294      164  2018-11-10 05:36:57           2
133844      167  2018-11-10 18:58:43           1
246405      184  2018-11-10 17:30:33           7
127395      191  2018-11-10 13:58:02           1
278137      201  2018-11-10 09:33:39           5
140826      203  2018-11-10 15:58:52           7
114896      208  2018-11-10 16:25:24           2
303870      212  2018-11-10 09:27:53           1
281441      216  2018-11-10 14:27:02           2
276967      220  2018-11-10 15:25:20           1
...         ...                  ...         ...
433611  3396387  2018-11-24 14:01:13           1
235950  3396394  2018-11-24 13:38:53           5
22785   3396402  2018-11-24 15:41:23           1
13693   3396405  2018-11-24 11:10:19           2
157798  3396425  2018-11-24 12:34:11           7
44713   3396433  2018-11-24 23:41:11           2
51770   3396438  2018-11-24 11:12:31           7
183936  3396452  2018-11-24 22:25:49           7
142011  3396454  2018-11-24 10:39:28           2
193999  3396456  2018-11-24 17:11:20           2
179843  3396466  2018-11-24 15:59:11           1
88559   3396479  2018-11-24 06:49:54           2
414771  3396485  2018-11-24 11:05:09           7
146225  3396494  2018-11-24 08:00:57           2
349396  3396499  2018-11-24 11:45:45           2
250699  3396503  2018-11-24 08:40:33           2
424008  3396510  2018-11-24 10:42:12           7
197797  3396513  2018-11-24 10:42:30          10
103665  3396514  2018-11-24 12:10:09           2
233495  3396519  2018-11-24 23:31:16           1
22658   3396522  2018-11-24 14:59:06           5
222745  3396529  2018-11-24 21:33:49           2
28283   3396541  2018-11-24 17:34:09           5
33949   3396544  2018-11-24 13:04:24           7
329194  3396546  2018-11-24 18:26:20           3
9856    3396567  2018-11-24 12:00:29           2
312789  3396577  2018-11-24 10:22:36           7
286329  3396581  2018-11-24 14:17:22           2
3843    3396583  2018-11-24 12:13:06           3
185926  3396588  2018-11-24 13:43:48           7

[453336 rows x 3 columns]

In [67]:
tp['plans']


new2 = tp["plans"].str.split(",",  expand = True) 

new2

#tq["dl"]= new1[0] 
  
# making separate last name column from new data frame 
#tq["da"]= new1[1] 
#tq.drop(columns =["d"], inplace = True) '''

,0,1,2,3,4,5,6,7,8,9,...,18,19,20,21,22,23,24,25,26,27
0,"[{""distance"": 32303","""price"": 600","""eta"": 5087","""transport_mode"": 9}","{""distance"": 33678","""price"": """"","""eta"": 3149","""transport_mode"": 3}","{""distance"": 33678","""price"": 10000",...,"""eta"": 6494","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
1,"[{""distance"": 3427","""price"": 300","""eta"": 627","""transport_mode"": 2}","{""distance"": 3251","""price"": """"","""eta"": 573","""transport_mode"": 3}","{""distance"": 3251","""price"": 1600",...,"""eta"": 2936","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
2,"[{""distance"": 36234","""price"": 1100","""eta"": 9318","""transport_mode"": 7}","{""distance"": 29545","""price"": """"","""eta"": 3843","""transport_mode"": 3}","{""distance"": 29545","""price"": 9100",...,None,None,None,None,None,None,None,None,None,None
3,"[{""distance"": 11450","""price"": 400","""eta"": 2801","""transport_mode"": 2}","{""distance"": 9100","""price"": """"","""eta"": 2751","""transport_mode"": 6}","{""distance"": 10870","""price"": """"",...,"""eta"": 4132","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
4,"[{""distance"": 18495","""price"": 600","""eta"": 4271","""transport_mode"": 7}","{""distance"": 19111","""price"": """"","""eta"": 1513","""transport_mode"": 3}","{""distance"": 19111","""price"": 4900",...,None,None,None,None,None,None,None,None,None,None
5,"[{""distance"": 32486","""price"": """"","""eta"": 2491","""transport_mode"": 3}]",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,"[{""distance"": 4935","""price"": 300","""eta"": 1568","""transport_mode"": 2}","{""distance"": 4434","""price"": """"","""eta"": 852","""transport_mode"": 3}","{""distance"": 4434","""price"": 1300",...,"""eta"": 3286","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
7,"[{""distance"": 22103","""price"": 500","""eta"": 3361","""transport_mode"": 2}","{""distance"": 18601","""price"": """"","""eta"": 1736","""transport_mode"": 3}","{""distance"": 18601","""price"": 5300",...,"""eta"": 4930","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
8,"[{""distance"": 12422","""price"": 400","""eta"": 2324","""transport_mode"": 2}","{""distance"": 12548","""price"": """"","""eta"": 1485","""transport_mode"": 3}","{""distance"": 12548","""price"": 2900",...,"""eta"": 2610","""transport_mode"": 6}","{""distance"": 13657","""price"": 300","""eta"": 3095","""transport_mode"": 1}]",None,None,None,None
9,"[{""distance"": 2162","""price"": 200","""eta"": 1239","""transport_mode"": 1}","{""distance"": 2647","""price"": """"","""eta"": 543","""transport_mode"": 3}","{""distance"": 2176","""price"": """"",...,"""eta"": 1983","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
10,"[{""distance"": 30788","""price"": 600","""eta"": 4979","""transport_mode"": 2}","{""distance"": 28900","""price"": """"","""eta"": 2036","""transport_mode"": 3}","{""distance"": 28900","""price"": 7400",...,"""eta"": 6060","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
11,"[{""distance"": 8693","""price"": 400","""eta"": 2577","""transport_mode"": 2}","{""distance"": 7940","""price"": """"","""eta"": 2039","""transport_mode"": 3}","{""distance"": 8727","""price"": 400",...,"""eta"": 2339","""transport_mode"": 4}","{""distance"": 8019","""price"": 400","""eta"": 3919","""transport_mode"": 1}]",None,None,None,None
12,"[{""distance"": 27279","""price"": 800","""eta"": 5528","""transport_mode"": 7}","{""distance"": 26468","""price"": 700","""eta"": 6601","""transport_mode"": 1}]",None,None,...,None,None,None,None,None,None,None,None,None,None
13,"[{""distance"": 1833","""price"": """"","""eta"": 1648","""transport_mode"": 5}","{""distance"": 1874","""price"": """"","""eta"": 564","""transport_mode"": 6}","{""distance"": 2863","""price"": """"",...,"""eta"": 1728","""transport_mode"": 2}","{""distance"": 1837","""price"": 200","""eta"": 1944","""transport_mode"": 1}]",None,None,None,None
14,"[{""distance"": 3522","""price"": 200","""eta"": 1827","""transport_mode"": 1}","{""distance"": 5156","""price"": """"","""eta"": 1090","""transport_mode"": 3}","{""distance"": 4309","""price"": """"",...,"""eta"": 2069","""transport_mode"": 1}","{""distance"": 3355","""price"": """"","""eta"": 3043","""transport_mode"": 5}]",None,None,None,None
15,"[{""distance"": 23792","""price"": 600","""eta"": 6632","""transport_mode"": 7}","{""distance"": 25578","""price"": """"","""eta"": 2574","""transport_mode"": 3}","{""distance"": 25578","""price"": 6300",...,"""eta"": 7557","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
16,"[{""distance"": 36450","""price"": 700","""eta"": 5039","""transport_mode"": 2}","{""distance"": 38116","""price"": """"","""eta"": 4218","""transport_mode"": 3}","{""distance"": 38116","""price"": 10600",...,None,None,None,None,None,None,None,None,None,None
17,"[{""distance"": 2081","""price"": """"","""eta"": 277","""transport_mode"": 3}","{""distance"": 2081","""price"": 1300","""eta"": 277","""transport_mode"": 4}","{""distance"": 2106","""price"": """"",...,"""eta"": 1863","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
18,"[{""distance"": 9583","""price"": 3500","""eta"": 1340","""transport_mode"": 4}","{""distance"": 9583","""price"": """"","""eta"": 1280","""transport_mode"": 3}","{""distance"": 12147","""price"": 400",...,"""eta"": 3232","""transport_mode"": 2}","{""distance"": 12440","""price"": 600","""eta"": 4158","""transport_mode"": 7}]",None,None,None,None
19,"[{""distance"": 14001","""price"": 400","""eta"": 3457","""transport_mode"": 2}","{""distance"": 10410","""price"": """"","""eta"": 2349","""transport_mode"": 3}","{""distance"": 10410","""price"": 2800",...,"""eta"": 4014","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
20,"[{""distance"": 23516","""price"": 900","""eta"": 5454","""transport_mode"": 7}","{""distance"": 22879","""price"": 500","""eta"": 6025","""transport_mode"": 1}]",None,None,...,None,None,None,None,None,None,None,None,None,None
21,"[{""distance"": 2097","""price"": 300","""eta"": 1193","""transport_mode"": 2}","{""distance"": 2038","""price"": """"","""eta"": 616","""transport_mode"": 6}","{""distance"": 2091","""price"": """"",...,"""eta"": 1691","""transport_mode"": 1}","{""distance"": 2155","""price"": """"","""eta"": 1953","""transport_mode"": 5}]",None,None,None,None
22,"[{""distance"": 21273","""price"": 700","""eta"": 3543","""transport_mode"": 7}","{""distance"": 20793","""price"": 700","""eta"": 3768","""transport_mode"": 7}]",None,None,...,None,None,None,None,None,None,None,None,None,None
23,"[{""distance"": 22808","""price"": 500","""eta"": 3521","""transport_mode"": 9}","{""distance"": 19824","""price"": """"","""eta"": 1788","""transport_mode"": 3}","{""distance"": 19824","""price"": 4800",...,"""eta"": 3827","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
24,"[{""distance"": 11638","""price"": 400","""eta"": 2185","""transport_mode"": 2}","{""distance"": 12922","""price"": """"","""eta"": 2330","""transport_mode"": 3}","{""distance"": 12121","""price"": 400",...,None,None,None,None,None,None,None,None,None,None
25,"[{""distance"": 75","""price"": """"","""eta"": 64","""transport_mode"": 5}","{""distance"": 75","""price"": """"","""eta"": 22","""transport_mode"": 6}","{""distance"": 77","""price"": """"",...,None,None,None,None,None,None,None,None,None,None
26,"[{""distance"": 870","""price"": """"","""eta"": 805","""transport_mode"": 5}","{""distance"": 965","""price"": """"","""eta"": 291","""transport_mode"": 6}","{""distance"": 916","""price"": """"",...,"""eta"": 1052","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
27,"[{""distance"": 1354","""price"": """"","""eta"": 1228","""transport_mode"": 5}","{""distance"": 1329","""price"": """"","""eta"": 401","""transport_mode"": 6}","{""distance"": 3997","""price"": """"",...,"""eta"": 1678","""transport_mode"": 1}","{""distance"": 4461","""price"": 300","""eta"": 2064","""transport_mode"": 2}]",None,None,None,None
28,"[{""distance"": 18756","""price"": 500","""eta"": 3595","""transport_mode"": 2}","{""distance"": 19514","""price"": """"","""eta"": 2924","""transport_mode"": 3}","{""distance"": 19514","""price"": 5500",...,"""eta"": 4366","""transport_mode"": 11}","{""distance"": 19615","""price"": 600","""eta"": 4419","""transport_mode"": 7}]",None,None,None,None
29,"[{""distance"": 32081","""price"": 600","""eta"": 5073","""transport_mode"": 2}","{""distance"": 29864","""price"": """"","""eta"": 3750","""transport_mode"": 3}","{""distance"": 29864","""price"": 8500",...,"""eta"": 4502","""transport_mode"": 9}]",None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491024,"[{""distance"": 9603","""price"": 400","""eta"": 2378","""transport_mode"": 9}","{""distance"": 6879","""price"": """"","""eta"": 1090","""transport_mode"": 3}","{""distance"": 6879","""price"": 2700",...,"""eta"": 3017","""transport_mode"": 1}","{""distance"": 9603","""price"": 400","""eta"": 3059","""transport_mode"": 2}]",None,None,None,None
491025,"[{""distance"": 54766","""price"": 800","""eta"": 6930","""transport_mode"": 2}","{""distance"": 53501","""price"": """"","""eta"": 6570","""transport_mode"": 3}","{""distance"": 53501","""price"": 18400",...,None,None,None,None,None,None,None,None,None,None
491026,"[{""distance"": 14526","""price"": 500","""eta"": 2631","""transport_mode"": 2}","{""distance"": 14536","""price"": """"","""eta"": 1372","""transport_mode"": 3}","{""distance"": 14536","""price"": 3600",...,"""eta"": 3510","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491027,"[{""distance"": 15625","""price"": 500","""eta"": 2889","""transport_mode"": 9}","{""distance"": 15471","""price"": """"","""eta"": 1453","""transport_mode"": 3}","{""distance"": 15471","""price"": 4400",...,"""eta"": 4629","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491028,"[{""distance"": 18000","""price"": 600","""eta"": 3873","""transport_mode"": 7}","{""distance"": 16923","""price"": """"","""eta"": 2703","""transport_mode"": 3}","{""distance"": 16923","""price"": 5000",...,"""eta"": 5241","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491029,"[{""distance"": 25856","""price"": 600","""eta"": 3050","""transport_mode"": 2}","{""distance"": 29753","""price"": """"","""eta"": 3291","""transport_mode"": 3}","{""distance"": 29753","""price"": 7800",...,None,None,None,None,None,None,None,None,None,None
491030,"[{""distance"": 12285","""price"": 600","""eta"": 3021","""transport_mode"": 7}","{""distance"": 10827","""price"": """"","""eta"": 967","""transport_mode"": 3}","{""distance"": 10827","""price"": 2600",...,"""eta"": 3758","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491031,"[{""distance"": 24182","""price"": 500","""eta"": 3964","""transport_mode"": 9}","{""distance"": 23051","""price"": """"","""eta"": 3702","""transport_mode"": 3}","{""distance"": 23051","""price"": 6800",...,"""eta"": 5047","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
491032,"[{""distance"": 41689","""price"": 700","""eta"": 4261","""transport_mode"": 2}","{""distance"": 38624","""price"": """"","""eta"": 2666","""transport_mode"": 3}","{""distance"": 38624","""price"": 10800",...,"""eta"": 5463","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491033,"[{""distance"": 35","""price"": """"","""eta"": 30","""transport_mode"": 5}","{""distance"": 36","""price"": """"","""eta"": 4","""transport_mode"": 3}","{""distance"": 44","""price"": """"",...,None,None,None,None,None,None,None,None,None,None
491034,"[{""distance"": 8458","""price"": 400","""eta"": 3392","""transport_mode"": 1}","{""distance"": 6704","""price"": """"","""eta"": 1170","""transport_mode"": 3}","{""distance"": 6704","""price"": 2000",...,None,None,None,None,None,None,None,None,None,None
491035,"[{""distance"": 1409","""price"": """"","""eta"": 423","""transport_mode"": 6}","{""distance"": 1307","""price"": """"","""eta"": 339","""transport_mode"": 3}","{""distance"": 1307","""price"": 1300",...,"""eta"": 1204","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
491036,"[{""distance"": 20661","""price"": 700","""eta"": 4129","""transport_mode"": 7}","{""distance"": 21187","""price"": """"","""eta"": 2581","""transport_mode"": 3}","{""distance"": 21187","""price"": 5400",...,"""eta"": 4711","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
491037,"[{""distance"": 10999","""price"": 200","""eta"": 3593","""transport_mode"": 1}","{""distance"": 9805","""price"": """"","""eta"": 1310","""transport_mode"": 3}","{""distance"": 9805","""price"": 2500",...,None,None,None,None,None,None,None,None,None,None
491038,"[{""distance"": 19708","""price"": 1500","""eta"": 5284","""transport_mode"": 7}","{""distance"": 24777","""price"": """"","""eta"": 3400","""transport_mode"": 3}","{""distance"": 24777","""price"": 9000",...,"""eta"": 6982","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491039,"[{""distance"": 38387","""price"": 800","""eta"": 6030","""transport_mode"": 7}","{""distance"": 29994","""price"": """"","""eta"": 2325","""transport_mode"": 3}","{""distance"": 29994","""price"": 8600",...,None,None,None,None,None,None,None,None,None,None
491040,"[{""distance"": 15354","""price"": 400","""eta"": 4468","""transport_mode"": 1}","{""distance"": 21108","""price"": """"","""eta"": 2741","""transport_mode"": 3}","{""distance"": 21108","""price"": 5600",...,None,None,None,None,None,None,None,None,None,None
491041,"[{""distance"": 13076","""price"": 500","""eta"": 2548","""transport_mode"": 2}","{""distance"": 13378","""price"": """"","""eta"": 1112","""transport_mode"": 3}","{""distance"": 13378","""price"": 3200",...,"""eta"": 2676","""transport_mode"": 2}]",None,None,None,None,None,None,None,None
491042,"[{""distance"": 15088","""price"": 500","""eta"": 2917","""transport_mode"": 9}","{""distance"": 15060","""price"": 500","""eta"": 3822","""transport_mode"": 2}","{""distance"": 17564","""price"": 700",...,None,None,None,None,None,None,None,None,None,None
491043,"[{""distance"": 12094","""price"": 400","""eta"": 2136","""transport_mode"": 2}","{""distance"": 9994","""price"": """"","""eta"": 1916","""transport_mode"": 3}","{""distance"": 9994","""price"": 3300",...,None,None,None,None,None,None,None,None,None,None
491044,"[{""distance"": 2168","""price"": """"","""eta"": 465","""transport_mode"": 3}","{""distance"": 2168","""price"": 1300","""eta"": 465","""transport_mode"": 4}","{""distance"": 1640","""price"": """"",...,"""eta"": 1470","""transport_mode"": 5}","{""distance"": 1989","""price"": 200","""eta"": 1685","""transport_mode"": 1}]",None,None,None,None
491045,"[{""distance"": 14612","""price"": 500","""eta"": 3254","""transport_mode"": 9}","{""distance"": 10945","""price"": """"","""eta"": 1195","""transport_mode"": 3}","{""distance"": 10945","""price"": 2800",...,"""eta"": 4243","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491046,"[{""distance"": 37140","""price"": 900","""eta"": 6845","""transport_mode"": 7}","{""distance"": 32701","""price"": """"","""eta"": 2447","""transport_mode"": 3}","{""distance"": 32701","""price"": 9400",...,None,None,None,None,None,None,None,None,None,None
491047,"[{""distance"": 27632","""price"": 700","""eta"": 4992","""transport_mode"": 7}","{""distance"": 32368","""price"": 3800","""eta"": 3989","""transport_mode"": 10}","{""distance"": 28883","""price"": """"",...,"""eta"": 5333","""transport_mode"": 9}]",None,None,None,None,None,None,None,None
491048,"[{""distance"": 3136","""price"": 300","""eta"": 1499","""transport_mode"": 2}","{""distance"": 3195","""price"": """"","""eta"": 544","""transport_mode"": 3}","{""distance"": 3195","""price"": 1300",...,"""eta"": 1831","""transport_mode"": 1}","{""distance"": 2590","""price"": """"","""eta"": 2348","""transport_mode"": 5}]",None,None,None,None
491049,"[{""distance"": 1423","""price"": """"","""eta"": 427","""transport_mode"": 6}","{""distance"": 2328","""price"": """"","""eta"": 570","""transport_mode"": 3}","{""distance"": 2328","""price"": 1300",...,"""eta"": 1804","""transport_mode"": 1}","{""distance"": 1970","""price"": 500","""eta"": 1842","""transport_mode"": 1}]",None,None,None,None
491050,"[{""distance"": 2759","""price"": 1400","""eta"": 1106","""transport_mode"": 4}","{""distance"": 2759","""price"": """"","""eta"": 806","""transport_mode"": 3}","{""distance"": 2755","""price"": """"",...,"""eta"": 2341","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
491051,"[{""distance"": 40258","""price"": 3000","""eta"": 4862","""transport_mode"": 9}","{""distance"": 32062","""price"": """"","""eta"": 2695","""transport_mode"": 3}","{""distance"": 32062","""price"": 9300",...,"""eta"": 6555","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491052,"[{""distance"": 5539","""price"": 300","""eta"": 1259","""transport_mode"": 9}","{""distance"": 6109","""price"": """"","""eta"": 875","""transport_mode"": 3}","{""distance"": 6109","""price"": 1800",...,"""eta"": 1875","""transport_mode"": 6}]",None,None,None,None,None,None,None,None
491053,"[{""distance"": 9052","""price"": """"","""eta"": 934","""transport_mode"": 3}","{""distance"": 9052","""price"": 2800","""eta"": 934","""transport_mode"": 4}","{""distance"": 8333","""price"": """"",...,"""eta"": 3794","""transport_mode"": 1}","{""distance"": 13530","""price"": 500","""eta"": 4645","""transport_mode"": 1}]",None,None,None,None

In [68]:
tp['d1']=new2[0]
tp['p1']=new2[1]
tp['e1']=new2[2]
tp['t1']=new2[3]
tp['d2']=new2[4]
tp['p2']=new2[5]
tp['e2']=new2[6]
tp['t2']=new2[7]
tp['d3']=new2[8]
tp['p3']=new2[9]
tp['e3']=new2[10]
tp['t3']=new2[11]
tp['d4']=new2[12]
tp['p4']=new2[13]
tp['e4']=new2[14]
tp['t4']=new2[15]
tp['d5']=new2[16]
tp['p5']=new2[17]
tp['e5']=new2[18]
tp['t5']=new2[19]
tp['d6']=new2[20]
tp['p6']=new2[21]
tp['e6']=new2[22]
tp['t6']=new2[23]
tp['d7']=new2[24]
tp['p7']=new2[25]
tp['e7']=new2[26]
tp['t7']=new2[27]


tp.drop(columns =["plans"], inplace = True) 

tp

,sid,plan_time,d1,p1,e1,t1,d2,p2,e2,t2,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
0,1709112,2018-11-04 11:45:04,"[{""distance"": 32303","""price"": 600","""eta"": 5087","""transport_mode"": 9}","{""distance"": 33678","""price"": """"","""eta"": 3149","""transport_mode"": 3}",...,"""eta"": 6494","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
1,3327773,2018-10-16 19:09:29,"[{""distance"": 3427","""price"": 300","""eta"": 627","""transport_mode"": 2}","{""distance"": 3251","""price"": """"","""eta"": 573","""transport_mode"": 3}",...,"""eta"": 2936","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
2,3285959,2018-11-25 15:05:22,"[{""distance"": 36234","""price"": 1100","""eta"": 9318","""transport_mode"": 7}","{""distance"": 29545","""price"": """"","""eta"": 3843","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
3,1616170,2018-10-03 14:42:40,"[{""distance"": 11450","""price"": 400","""eta"": 2801","""transport_mode"": 2}","{""distance"": 9100","""price"": """"","""eta"": 2751","""transport_mode"": 6}",...,"""eta"": 4132","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
4,351369,2018-10-05 19:52:37,"[{""distance"": 18495","""price"": 600","""eta"": 4271","""transport_mode"": 7}","{""distance"": 19111","""price"": """"","""eta"": 1513","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
5,749203,2018-10-01 07:03:52,"[{""distance"": 32486","""price"": """"","""eta"": 2491","""transport_mode"": 3}]",None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,3005789,2018-10-22 11:45:20,"[{""distance"": 4935","""price"": 300","""eta"": 1568","""transport_mode"": 2}","{""distance"": 4434","""price"": """"","""eta"": 852","""transport_mode"": 3}",...,"""eta"": 3286","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
7,1897386,2018-11-13 18:51:27,"[{""distance"": 22103","""price"": 500","""eta"": 3361","""transport_mode"": 2}","{""distance"": 18601","""price"": """"","""eta"": 1736","""transport_mode"": 3}",...,"""eta"": 4930","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
8,845203,2018-11-26 12:43:56,"[{""distance"": 12422","""price"": 400","""eta"": 2324","""transport_mode"": 2}","{""distance"": 12548","""price"": """"","""eta"": 1485","""transport_mode"": 3}",...,"""eta"": 2610","""transport_mode"": 6}","{""distance"": 13657","""price"": 300","""eta"": 3095","""transport_mode"": 1}]",None,None,None,None
9,536341,2018-11-23 19:34:38,"[{""distance"": 2162","""price"": 200","""eta"": 1239","""transport_mode"": 1}","{""distance"": 2647","""price"": """"","""eta"": 543","""transport_mode"": 3}",...,"""eta"": 1983","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
10,2015965,2018-10-14 08:05:50,"[{""distance"": 30788","""price"": 600","""eta"": 4979","""transport_mode"": 2}","{""distance"": 28900","""price"": """"","""eta"": 2036","""transport_mode"": 3}",...,"""eta"": 6060","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
11,2398670,2018-11-14 15:43:32,"[{""distance"": 8693","""price"": 400","""eta"": 2577","""transport_mode"": 2}","{""distance"": 7940","""price"": """"","""eta"": 2039","""transport_mode"": 3}",...,"""eta"": 2339","""transport_mode"": 4}","{""distance"": 8019","""price"": 400","""eta"": 3919","""transport_mode"": 1}]",None,None,None,None
12,1944449,2018-10-11 16:29:29,"[{""distance"": 27279","""price"": 800","""eta"": 5528","""transport_mode"": 7}","{""distance"": 26468","""price"": 700","""eta"": 6601","""transport_mode"": 1}]",...,None,None,None,None,None,None,None,None,None,None
13,2985086,2018-11-02 16:23:33,"[{""distance"": 1833","""price"": """"","""eta"": 1648","""transport_mode"": 5}","{""distance"": 1874","""price"": """"","""eta"": 564","""transport_mode"": 6}",...,"""eta"": 1728","""transport_mode"": 2}","{""distance"": 1837","""price"": 200","""eta"": 1944","""transport_mode"": 1}]",None,None,None,None
14,593793,2018-11-11 11:13:56,"[{""distance"": 3522","""price"": 200","""eta"": 1827","""transport_mode"": 1}","{""distance"": 5156","""price"": """"","""eta"": 1090","""transport_mode"": 3}",...,"""eta"": 2069","""transport_mode"": 1}","{""distance"": 3355","""price"": """"","""eta"": 3043","""transport_mode"": 5}]",None,None,None,None
15,862480,2018-11-26 10:38:04,"[{""distance"": 23792","""price"": 600","""eta"": 6632","""transport_mode"": 7}","{""distance"": 25578","""price"": """"","""eta"": 2574","""transport_mode"": 3}",...,"""eta"": 7557","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
16,476608,2018-11-09 11:32:28,"[{""distance"": 36450","""price"": 700","""eta"": 5039","""transport_mode"": 2}","{""distance"": 38116","""price"": """"","""eta"": 4218","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
17,953020,2018-10-24 22:12:34,"[{""distance"": 2081","""price"": """"","""eta"": 277","""transport_mode"": 3}","{""distance"": 2081","""price"": 1300","""eta"": 277","""transport_mode"": 4}",...,"""eta"": 1863","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
18,2467443,2018-11-30 22:42:04,"[{""distance"": 9583","""price"": 3500","""eta"": 1340","""transport_mode"": 4}","{""distance"": 9583","""price"": """"","""eta"": 1280","""transport_mode"": 3}",...,"""eta"": 3232","""transport_mode"": 2}","{""distance"": 12440","""price"": 600","""eta"": 4158","""transport_mode"": 7}]",None,None,None,None
19,3331590,2018-10-16 09:58:44,"[{""distance"": 14001","""price"": 400","""eta"": 3457","""transport_mode"": 2}","{""distance"": 10410","""price"": """"","""eta"": 2349","""transport_mode"": 3}",...,"""eta"": 4014","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
20,1683338,2018-10-23 10:59:04,"[{""distance"": 23516","""price"": 900","""eta"": 5454","""transport_mode"": 7}","{""distance"": 22879","""price"": 500","""eta"": 6025","""transport_mode"": 1}]",...,None,None,None,None,None,None,None,None,None,None
21,750368,2018-10-01 12:27:32,"[{""distance"": 2097","""price"": 300","""eta"": 1193","""transport_mode"": 2}","{""distance"": 2038","""price"": """"","""eta"": 616","""transport_mode"": 6}",...,"""eta"": 1691","""transport_mode"": 1}","{""distance"": 2155","""price"": """"","""eta"": 1953","""transport_mode"": 5}]",None,None,None,None
22,3383023,2018-11-24 10:36:28,"[{""distance"": 21273","""price"": 700","""eta"": 3543","""transport_mode"": 7}","{""distance"": 20793","""price"": 700","""eta"": 3768","""transport_mode"": 7}]",...,None,None,None,None,None,None,None,None,None,None
23,1622080,2018-10-03 10:54:48,"[{""distance"": 22808","""price"": 500","""eta"": 3521","""transport_mode"": 9}","{""distance"": 19824","""price"": """"","""eta"": 1788","""transport_mode"": 3}",...,"""eta"": 3827","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
24,1519321,2018-11-28 14:29:17,"[{""distance"": 11638","""price"": 400","""eta"": 2185","""transport_mode"": 2}","{""distance"": 12922","""price"": """"","""eta"": 2330","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
25,2797066,2018-10-30 16:19:16,"[{""distance"": 75","""price"": """"","""eta"": 64","""transport_mode"": 5}","{""distance"": 75","""price"": """"","""eta"": 22","""transport_mode"": 6}",...,None,None,None,None,None,None,None,None,None,None
26,846664,2018-11-26 17:12:56,"[{""distance"": 870","""price"": """"","""eta"": 805","""transport_mode"": 5}","{""distance"": 965","""price"": """"","""eta"": 291","""transport_mode"": 6}",...,"""eta"": 1052","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
27,757951,2018-10-01 20:46:13,"[{""distance"": 1354","""price"": """"","""eta"": 1228","""transport_mode"": 5}","{""distance"": 1329","""price"": """"","""eta"": 401","""transport_mode"": 6}",...,"""eta"": 1678","""transport_mode"": 1}","{""distance"": 4461","""price"": 300","""eta"": 2064","""transport_mode"": 2}]",None,None,None,None
28,16049,2018-11-10 18:23:53,"[{""distance"": 18756","""price"": 500","""eta"": 3595","""transport_mode"": 2}","{""distance"": 19514","""price"": """"","""eta"": 2924","""transport_mode"": 3}",...,"""eta"": 4366","""transport_mode"": 11}","{""distance"": 19615","""price"": 600","""eta"": 4419","""transport_mode"": 7}]",None,None,None,None
29,1514541,2018-11-28 16:19:50,"[{""distance"": 32081","""price"": 600","""eta"": 5073","""transport_mode"": 2}","{""distance"": 29864","""price"": """"","""eta"": 3750","""transport_mode"": 3}",...,"""eta"": 4502","""transport_mode"": 9}]",None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
491024,276989,2018-10-04 18:19:37,"[{""distance"": 9603","""price"": 400","""eta"": 2378","""transport_mode"": 9}","{""distance"": 6879","""price"": """"","""eta"": 1090","""transport_mode"": 3}",...,"""eta"": 3017","""transport_mode"": 1}","{""distance"": 9603","""price"": 400","""eta"": 3059","""transport_mode"": 2}]",None,None,None,None
491025,361816,2018-10-05 16:41:55,"[{""distance"": 54766","""price"": 800","""eta"": 6930","""transport_mode"": 2}","{""distance"": 53501","""price"": """"","""eta"": 6570","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491026,1909658,2018-11-13 13:26:05,"[{""distance"": 14526","""price"": 500","""eta"": 2631","""transport_mode"": 2}","{""distance"": 14536","""price"": """"","""eta"": 1372","""transport_mode"": 3}",...,"""eta"": 3510","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491027,386876,2018-10-05 12:01:33,"[{""distance"": 15625","""price"": 500","""eta"": 2889","""transport_mode"": 9}","{""distance"": 15471","""price"": """"","""eta"": 1453","""transport_mode"": 3}",...,"""eta"": 4629","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491028,1472092,2018-10-27 08:43:16,"[{""distance"": 18000","""price"": 600","""eta"": 3873","""transport_mode"": 7}","{""distance"": 16923","""price"": """"","""eta"": 2703","""transport_mode"": 3}",...,"""eta"": 5241","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491029,2411222,2018-11-14 12:15:18,"[{""distance"": 25856","""price"": 600","""eta"": 3050","""transport_mode"": 2}","{""distance"": 29753","""price"": """"","""eta"": 3291","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491030,2656673,2018-10-12 12:49:35,"[{""distance"": 12285","""price"": 600","""eta"": 3021","""transport_mode"": 7}","{""distance"": 10827","""price"": """"","""eta"": 967","""transport_mode"": 3}",...,"""eta"": 3758","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491031,2738165,2018-10-18 10:37:37,"[{""distance"": 24182","""price"": 500","""eta"": 3964","""transport_mode"": 9}","{""distance"": 23051","""price"": """"","""eta"": 3702","""transport_mode"": 3}",...,"""eta"": 5047","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
491032,2845989,2018-11-17 20:37:00,"[{""distance"": 41689","""price"": 700","""eta"": 4261","""transport_mode"": 2}","{""distance"": 38624","""price"": """"","""eta"": 2666","""transport_mode"": 3}",...,"""eta"": 5463","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491033,2712923,2018-10-21 13:32:28,"[{""distance"": 35","""price"": """"","""eta"": 30","""transport_mode"": 5}","{""distance"": 36","""price"": """"","""eta"": 4","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491034,783647,2018-10-01 11:13:42,"[{""distance"": 8458","""price"": 400","""eta"": 3392","""transport_mode"": 1}","{""distance"": 6704","""price"": """"","""eta"": 1170","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491035,2334373,2018-10-25 12:31:39,"[{""distance"": 1409","""price"": """"","""eta"": 423","""transport_mode"": 6}","{""distance"": 1307","""price"": """"","""eta"": 339","""transport_mode"": 3}",...,"""eta"": 1204","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
491036,3014671,2018-10-22 13:00:53,"[{""distance"": 20661","""price"": 700","""eta"": 4129","""transport_mode"": 7}","{""distance"": 21187","""price"": """"","""eta"": 2581","""transport_mode"": 3}",...,"""eta"": 4711","""transport_mode"": 7}]",None,None,None,None,None,None,None,None
491037,34323,2018-11-10 08:30:42,"[{""distance"": 10999","""price"": 200","""eta"": 3593","""transport_mode"": 1}","{""distance"": 9805","""price"": """"","""eta"": 1310","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491038,2839625,2018-11-17 13:52:33,"[{""distance"": 19708","""price"": 1500","""eta"": 5284","""transport_mode"": 7}","{""distance"": 24777","""price"": """"","""eta"": 3400","""transport_mode"": 3}",...,"""eta"": 6982","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491039,515686,2018-11-09 20:20:23,"[{""distance"": 38387","""price"": 800","""eta"": 6030","""transport_mode"": 7}","{""distance"": 29994","""price"": """"","""eta"": 2325","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491040,2341527,2018-10-10 15:50:34,"[{""distance"": 15354","""price"": 400","""eta"": 4468","""transport_mode"": 1}","{""distance"": 21108","""price"": """"","""eta"": 2741","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491041,2189454,2018-11-20 13:11:12,"[{""distance"": 13076","""price"": 500","""eta"": 2548","""transport_mode"": 2}","{""distance"": 13378","""price"": """"","""eta"": 1112","""transport_mode"": 3}",...,"""eta"": 2676","""transport_mode"": 2}]",None,None,None,None,None,None,None,None
491042,2730678,2018-10-21 11:10:45,"[{""distance"": 15088","""price"": 500","""eta"": 2917","""transport_mode"": 9}","{""distance"": 15060","""price"": 500","""eta"": 3822","""transport_mode"": 2}",...,None,None,None,None,None,None,None,None,None,None
491043,741574,2018-10-01 19:33:34,"[{""distance"": 12094","""price"": 400","""eta"": 2136","""transport_mode"": 2}","{""distance"": 9994","""price"": """"","""eta"": 1916","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491044,2361553,2018-10-10 22:39:13,"[{""distance"": 2168","""price"": """"","""eta"": 465","""transport_mode"": 3}","{""distance"": 2168","""price"": 1300","""eta"": 465","""transport_mode"": 4}",...,"""eta"": 1470","""transport_mode"": 5}","{""distance"": 1989","""price"": 200","""eta"": 1685","""transport_mode"": 1}]",None,None,None,None
491045,134925,2018-10-08 11:41:50,"[{""distance"": 14612","""price"": 500","""eta"": 3254","""transport_mode"": 9}","{""distance"": 10945","""price"": """"","""eta"": 1195","""transport_mode"": 3}",...,"""eta"": 4243","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491046,394423,2018-10-05 14:13:16,"[{""distance"": 37140","""price"": 900","""eta"": 6845","""transport_mode"": 7}","{""distance"": 32701","""price"": """"","""eta"": 2447","""transport_mode"": 3}",...,None,None,None,None,None,None,None,None,None,None
491047,3030386,2018-10-22 07:35:08,"[{""distance"": 27632","""price"": 700","""eta"": 4992","""transport_mode"": 7}","{""distance"": 32368","""price"": 3800","""eta"": 3989","""transport_mode"": 10}",...,"""eta"": 5333","""transport_mode"": 9}]",None,None,None,None,None,None,None,None
491048,2901145,2018-10-06 15:34:49,"[{""distance"": 3136","""price"": 300","""eta"": 1499","""transport_mode"": 2}","{""distance"": 3195","""price"": """"","""eta"": 544","""transport_mode"": 3}",...,"""eta"": 1831","""transport_mode"": 1}","{""distance"": 2590","""price"": """"","""eta"": 2348","""transport_mode"": 5}]",None,None,None,None
491049,1686546,2018-10-23 18:36:37,"[{""distance"": 1423","""price"": """"","""eta"": 427","""transport_mode"": 6}","{""distance"": 2328","""price"": """"","""eta"": 570","""transport_mode"": 3}",...,"""eta"": 1804","""transport_mode"": 1}","{""distance"": 1970","""price"": 500","""eta"": 1842","""transport_mode"": 1}]",None,None,None,None
491050,850092,2018-11-26 09:48:50,"[{""distance"": 2759","""price"": 1400","""eta"": 1106","""transport_mode"": 4}","{""distance"": 2759","""price"": """"","""eta"": 806","""transport_mode"": 3}",...,"""eta"": 2341","""transport_mode"": 5}]",None,None,None,None,None,None,None,None
491051,1603178,2018-10-03 11:45:28,"[{""distance"": 40258","""price"": 3000","""eta"": 4862","""transport_mode"": 9}","{""distance"": 32062","""price"": """"","""eta"": 2695","""transport_mode"": 3}",...,"""eta"": 6555","""transport_mode"": 1}]",None,None,None,None,None,None,None,None
491052,165256,2018-10-20 09:47:39,"[{""distance"": 5539","""price"": 300","""eta"": 1259","""transport_mode"": 9}","{""distance"": 6109","""price"": """"","""eta"": 875","""transport_mode"": 3}",...,"""eta"": 1875","""transport_mode"": 6}]",None,None,None,None,None,None,None,None
491053,2502376,2018-10-07 20:55:19,"[{""distance"": 9052","""price"": """"","""eta"": 934","""transport_mode"": 3}","{""distance"": 9052","""price"": 2800","""eta"": 934","""transport_mode"": 4}",...,"""eta"": 3794","""transport_mode"": 1}","{""distance"": 13530","""price"": 500","""eta"": 4645","""transport_mode"": 1}]",None,None,None,None

In [69]:
import re

tp['d1'] = tp.d1.str.replace(r"[^0-9.]",'')
tp['p1'] = tp.p1.str.replace(r"[^0-9.]",'')
tp['e1'] = tp.e1.str.replace(r"[^0-9.]",'')
tp['t1'] = tp.t1.str.replace(r"[^0-9.]",'')


tp['d2'] = tp.d2.str.replace(r"[^0-9.]",'')
tp['p2'] = tp.p2.str.replace(r"[^0-9.]",'')
tp['e2'] = tp.e2.str.replace(r"[^0-9.]",'')
tp['t2'] = tp.t2.str.replace(r"[^0-9.]",'')


tp['d3'] = tp.d3.str.replace(r"[^0-9.]",'')
tp['p3'] = tp.p3.str.replace(r"[^0-9.]",'')
tp['e3'] = tp.e3.str.replace(r"[^0-9.]",'')
tp['t3'] = tp.t3.str.replace(r"[^0-9.]",'')


tp['d4'] = tp.d4.str.replace(r"[^0-9.]",'')
tp['p4'] = tp.p4.str.replace(r"[^0-9.]",'')
tp['e4'] = tp.e4.str.replace(r"[^0-9.]",'')
tp['t4'] = tp.t4.str.replace(r"[^0-9.]",'')


tp['d5'] = tp.d5.str.replace(r"[^0-9.]",'')
tp['p5'] = tp.p5.str.replace(r"[^0-9.]",'')
tp['e5'] = tp.e5.str.replace(r"[^0-9.]",'')
tp['t5'] = tp.t5.str.replace(r"[^0-9.]",'')


tp['d6'] = tp.d6.str.replace(r"[^0-9.]",'')
tp['p6'] = tp.p6.str.replace(r"[^0-9.]",'')
tp['e6'] = tp.e6.str.replace(r"[^0-9.]",'')
tp['t6'] = tp.t6.str.replace(r"[^0-9.]",'')


tp['d7'] = tp.d7.str.replace(r"[^0-9.]",'')
tp['p7'] = tp.p7.str.replace(r"[^0-9.]",'')
tp['e7'] = tp.e7.str.replace(r"[^0-9.]",'')
tp['t7'] = tp.t7.str.replace(r"[^0-9.]",'')





tp.sort_values(by=['sid'])

,sid,plan_time,d1,p1,e1,t1,d2,p2,e2,t2,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
49997,2,2018-11-10 12:47:12,2898,200,1794,1,2714,,818,6,...,2158,1,2465,,2246,5,None,None,None,None
134229,10,2018-11-10 11:10:36,49067,3100,6345,2,47429,,4604,3,...,7234,11,48995,3200,7396,1,None,None,None,None
187315,21,2018-11-10 12:16:01,6157,300,1289,2,7667,,929,3,...,None,None,None,None,None,None,None,None,None,None
36869,25,2018-11-10 23:51:25,3006,200,2419,1,3898,,429,3,...,2432,1,2714,,2434,5,None,None,None,None
178778,34,2018-11-10 13:42:54,26039,600,4411,9,24642,,3410,3,...,5663,2,None,None,None,None,None,None,None,None
71720,35,2018-11-10 16:37:17,4415,200,2050,1,3341,,729,3,...,2176,1,3066,,2736,5,None,None,None,None
109118,36,2018-11-10 13:42:49,3453,200,1801,1,2622,,483,3,...,2047,1,2569,,2310,5,None,None,None,None
416971,44,2018-11-10 16:17:52,15113,500,2294,2,16983,,2319,3,...,2507,10,None,None,None,None,None,None,None,None
163066,68,2018-11-10 19:38:01,10346,400,2039,2,9977,,1014,3,...,None,None,None,None,None,None,None,None,None,None
104145,69,2018-11-10 18:55:23,10489,200,2955,1,10525,,1278,3,...,None,None,None,None,None,None,None,None,None,None
216448,79,2018-11-10 22:09:43,4210,300,1512,2,4230,,695,3,...,1395,9,4162,200,1886,1,3479,,3210,5
216796,86,2018-11-10 11:28:26,586,,571,5,974,,137,3,...,None,None,None,None,None,None,None,None,None,None
79761,95,2018-11-10 14:12:05,2824,200,1629,1,2667,,776,3,...,2234,5,None,None,None,None,None,None,None,None
168329,99,2018-11-10 14:13:20,4029,200,2147,1,3969,,968,3,...,2774,7,3284,,3072,5,None,None,None,None
435725,120,2018-11-10 09:11:38,10493,300,3717,1,9671,,1562,3,...,None,None,None,None,None,None,None,None,None,None
244556,127,2018-11-10 09:48:49,39480,2000,5288,10,35685,,4894,3,...,10210,1,None,None,None,None,None,None,None,None
367463,128,2018-11-10 12:58:36,18507,500,3450,9,16277,,2115,3,...,3558,2,13127,300,4296,1,None,None,None,None
251964,134,2018-11-10 15:13:44,41135,700,4498,9,32665,,2381,3,...,7114,1,None,None,None,None,None,None,None,None
190842,136,2018-11-10 16:41:56,34880,700,3968,2,38309,,3947,3,...,None,None,None,None,None,None,None,None,None,None
304909,141,2018-11-10 06:54:55,36716,4400,4986,10,36247,,3541,3,...,6698,7,None,None,None,None,None,None,None,None
164926,162,2018-11-10 12:55:09,8945,400,1694,2,8535,,1160,3,...,None,None,None,None,None,None,None,None,None,None
162983,164,2018-11-10 05:36:56,7144,300,1831,2,6994,,1056,3,...,None,None,None,None,None,None,None,None,None,None
377747,167,2018-11-10 18:58:38,6461,400,2138,1,6594,,1154,3,...,2317,1,None,None,None,None,None,None,None,None
98293,171,2018-11-10 13:18:04,2390,1300,530,4,2390,,350,3,...,2259,1,2542,,2275,5,None,None,None,None
315103,184,2018-11-10 17:29:59,24451,700,5453,7,26578,3600,4060,10,...,5734,7,None,None,None,None,None,None,None,None
54592,191,2018-11-10 13:57:55,13485,300,2723,1,12337,,1297,3,...,None,None,None,None,None,None,None,None,None,None
9865,201,2018-11-10 09:33:37,604,,546,5,605,,100,3,...,None,None,None,None,None,None,None,None,None,None
145694,203,2018-11-10 15:41:00,26252,700,5329,7,22012,,2833,3,...,None,None,None,None,None,None,None,None,None,None
388714,208,2018-11-10 16:25:16,22243,500,3692,2,27553,,3502,3,...,None,None,None,None,None,None,None,None,None,None
298162,212,2018-11-10 09:27:32,9020,200,3266,1,10162,,1140,3,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241314,3396402,2018-11-24 15:41:21,12915,300,2600,1,13478,,1473,3,...,None,None,None,None,None,None,None,None,None,None
208454,3396405,2018-11-24 11:10:16,17481,500,2845,2,17915,500,2687,9,...,None,None,None,None,None,None,None,None,None,None
249709,3396425,2018-11-24 12:34:04,42234,1000,7970,7,35027,,2747,3,...,8534,7,None,None,None,None,None,None,None,None
413727,3396433,2018-11-24 23:41:05,34071,,2419,3,34071,10300,2659,4,...,None,None,None,None,None,None,None,None,None,None
489504,3396438,2018-11-24 11:12:22,20811,700,4128,7,22083,,2478,3,...,5507,1,None,None,None,None,None,None,None,None
248098,3396452,2018-11-24 22:25:27,90233,,6341,3,90233,30200,6461,4,...,None,None,None,None,None,None,None,None,None,None
181549,3396454,2018-11-24 10:39:21,15899,500,2567,2,15676,1800,2495,10,...,None,None,None,None,None,None,None,None,None,None
189191,3396456,2018-11-24 17:11:15,8236,400,1644,2,8509,,1423,3,...,None,None,None,None,None,None,None,None,None,None
5274,3396466,2018-11-24 15:38:28,6106,200,3219,1,6849,,1548,3,...,3599,1,None,None,None,None,None,None,None,None
361308,3396473,2018-11-24 21:30:25,1791,1300,633,4,1791,,333,3,...,1379,1,None,None,None,None,None,None,None,None
325769,3396477,2018-11-24 14:47:02,16388,500,3164,2,16800,,2088,3,...,4030,7,None,None,None,None,None,None,None,None
179538,3396479,2018-11-24 06:49:33,23153,500,3901,2,21907,,1721,3,...,4758,7,None,None,None,None,None,None,None,None
405356,3396485,2018-11-24 11:04:37,21466,700,3922,7,16490,,2740,3,...,None,None,None,None,None,None,None,None,None,None
477839,3396494,2018-11-24 08:00:50,11711,400,1805,2,14675,,2221,3,...,None,None,None,None,None,None,None,None,None,None
229954,3396499,2018-11-24 11:45:39,42388,3000,4765,2,33304,,3146,3,...,None,None,None,None,None,None,None,None,None,None
405756,3396503,2018-11-24 08:40:29,15603,500,2251,2,17291,4300,1802,4,...,None,None,None,None,None,None,None,None,None,None
392021,3396510,2018-11-24 10:41:47,26531,1900,3758,10,24666,,3050,3,...,6110,1,None,None,None,None,None,None,None,None
486691,3396513,2018-11-24 10:42:29,26914,2000,3987,10,24815,,3122,3,...,6053,1,None,None,None,None,None,None,None,None
11975,3396514,2018-11-24 12:10:04,5842,300,1754,2,6550,,1319,3,...,1773,6,None,None,None,None,None,None,None,None
171902,3396519,2018-11-24 23:31:07,4245,2000,813,4,4245,,633,3,...,3497,5,None,None,None,None,None,None,None,None
336788,3396522,2018-11-24 14:59:03,281,,240,5,281,,84,6,...,None,None,None,None,None,None,None,None,None,None
56882,3396529,2018-11-24 21:32:01,25157,600,3265,2,31565,,2974,3,...,None,None,None,None,None,None,None,None,None,None
353389,3396541,2018-11-24 17:31:25,741,,663,5,756,,187,3,...,None,None,None,None,None,None,None,None,None,None
229098,3396544,2018-11-24 13:04:18,17631,600,4349,7,14745,,2097,3,...,4700,1,None,None,None,None,None,None,None,None
77951,3396546,2018-11-24 18:26:16,1906,,575,6,2897,,1323,3,...,1791,1,1659,200,1953,1,None,None,None,None
70582,3396567,2018-11-24 11:59:11,13913,400,3105,2,13741,,1565,3,...,3082,10,14189,400,5143,1,None,None,None,None
220799,3396577,2018-11-24 10:22:26,21957,900,4901,7,20797,,2127,3,...,6141,1,None,None,None,None,None,None,None,None
167318,3396581,2018-11-24 14:17:09,5208,300,1975,2,5442,,1582,3,...,2488,1,None,None,None,None,None,None,None,None
383071,3396583,2018-11-24 12:12:52,13968,600,4257,7,12682,,2563,3,...,4509,1,None,None,None,None,None,None,None,None
132636,3396588,2018-11-24 13:43:44,46834,900,7774,7,45548,,4310,3,...,None,None,None,None,None,None,None,None,None,None

In [70]:
#tq.sort_values(by=['o'])
new = tq["o"].str.split(",", n = 1, expand = True) 
tq["ol"]= new[0] 
  
# making separate last name column from new data frame 
tq["oa"]= new[1] 
tq.drop(columns =["o"], inplace = True) 

new1 = tq["d"].str.split(",", n = 1, expand = True) 
tq["dl"]= new1[0] 
  
# making separate last name column from new data frame 
tq["da"]= new1[1] 
tq.drop(columns =["d"], inplace = True) 

tq.sort_values(by=['sid'])

            sid       pid             req_time      ol     oa      dl     da
28393         2       NaN  2018-11-10 12:47:12  116.39  39.92  116.41  39.91
447688       10  199899.0  2018-11-10 11:10:36  116.58  40.08  116.20  39.91
15176        21  177401.0  2018-11-10 12:16:01  116.32  39.89  116.27  39.86
259438       25  176887.0  2018-11-10 23:51:25  116.44  39.88  116.45  39.86
461025       34       NaN  2018-11-10 13:42:54  116.29  40.07  116.44  39.93
354355       35  106441.0  2018-11-10 16:37:17  116.17  39.92  116.20  39.93
116274       36  106441.0  2018-11-10 13:42:49  116.19  39.93  116.17  39.92
213910       44  140368.0  2018-11-10 16:17:52  116.42  39.84  116.32  39.89
405380       68       NaN  2018-11-10 19:38:01  116.41  39.99  116.31  39.97
345413       69       NaN  2018-11-10 18:55:23  116.42  39.98  116.31  39.98
18703        79  148770.0  2018-11-10 22:09:43  116.38  39.98  116.41  39.99
361114       86  143366.0  2018-11-10 11:28:26  116.51  39.77  116.50  39.76
295482       95       NaN  2018-11-10 14:12:05  116.40  39.91  116.39  39.90
330100       99       NaN  2018-11-10 14:13:20  116.40  39.91  116.39  39.89
289079      120  166223.0  2018-11-10 09:11:38  116.35  40.00  116.28  40.03
20630       127  172775.0  2018-11-10 09:48:49  116.65  39.87  116.27  39.91
423590      128  155123.0  2018-11-10 12:58:36  116.39  39.90  116.38  39.99
461771      134       NaN  2018-11-10 15:13:44  116.33  40.00  116.21  40.23
343812      136  195672.0  2018-11-10 16:41:56  116.46  40.00  116.74  39.90
482957      141  111826.0  2018-11-10 06:54:55  116.21  40.10  116.37  39.86
196550      162       NaN  2018-11-10 12:55:09  116.31  39.89  116.35  39.94
20346       164  167770.0  2018-11-10 05:36:56  116.40  39.90  116.37  39.86
189965      167       NaN  2018-11-10 18:58:38  116.65  39.94  116.64  39.90
167079      171  189690.0  2018-11-10 13:18:04  116.63  39.88  116.64  39.87
184404      184       NaN  2018-11-10 17:29:59  116.30  39.91  116.55  39.90
271208      191  120176.0  2018-11-10 13:57:55  116.06  39.66  116.14  39.73
452809      201  136434.0  2018-11-10 09:33:37  116.52  39.81  116.52  39.82
374149      203  124321.0  2018-11-10 15:41:00  116.27  39.99  116.48  40.00
450730      208       NaN  2018-11-10 16:25:16  116.44  39.99  116.32  39.89
87827       212  202427.0  2018-11-10 09:27:32  116.34  39.80  116.32  39.75
...         ...       ...                  ...     ...    ...     ...    ...
402534  3396405  111620.0  2018-11-24 11:10:16  116.38  39.84  116.28  39.92
115738  3396425       NaN  2018-11-24 12:34:04  116.50  40.01  116.17  40.06
258919  3396433       NaN  2018-11-24 23:41:05  116.31  40.10  116.44  39.89
317579  3396438  174758.0  2018-11-24 11:12:22  116.45  39.91  116.36  39.80
179992  3396452       NaN  2018-11-24 22:25:27  116.50  39.80  116.00  40.35
172669  3396454       NaN  2018-11-24 10:39:21  116.45  39.81  116.39  39.90
224829  3396456  160040.0  2018-11-24 17:11:15  116.32  39.89  116.37  39.86
142560  3396466       NaN  2018-11-24 15:38:28  116.40  39.90  116.45  39.88
350580  3396473       NaN  2018-11-24 21:30:25  116.66  40.09  116.66  40.09
140859  3396477       NaN  2018-11-24 14:47:02  116.39  39.93  116.29  39.86
365931  3396479  111299.0  2018-11-24 06:49:33  116.47  39.89  116.31  39.97
416478  3396485  168928.0  2018-11-24 11:04:37  116.31  40.08  116.30  40.00
210340  3396489       NaN  2018-11-24 21:04:19  116.11  39.93  116.12  39.90
122945  3396494  214161.0  2018-11-24 08:00:50  116.44  39.89  116.32  39.89
271244  3396499  163422.0  2018-11-24 11:45:39  116.31  40.00  116.58  40.08
448557  3396503  124936.0  2018-11-24 08:40:29  116.47  39.92  116.37  39.86
407680  3396510       NaN  2018-11-24 10:41:47  116.34  39.78  116.48  39.90
394902  3396513       NaN  2018-11-24 10:42:29  116.34  39.78  116.48  39.90
130362  3396514       NaN  2018-11-24 12:10:04  116.45  39.86  116.48  39.90
309401  3396519  180178.0  2018-11-24 23:31:07  116.29  40.02  116.25  40.03
290045  3396522  135045.0  2018-11-24 14:59:03  116.32  39.95  116.32  39.95
114562  3396529       NaN  2018-11-24 21:32:01  116.59  39.92  116.33  39.94
259958  3396541  167770.0  2018-11-24 17:31:25  116.23  40.22  116.22  40.22
140850  3396544       NaN  2018-11-24 13:04:18  116.35  39.96  116.46  40.00
181126  3396546       NaN  2018-11-24 18:26:16  116.33  40.04  116.33  40.03
201488  3396567  198556.0  2018-11-24 11:59:11  116.60  39.90  116.45  39.91
261432  3396577  148899.0  2018-11-24 10:22:26  116.35  39.81  116.30  39.69
388613  3396581       NaN  2018-11-24 14:17:09  116.46  39.86  116.48  39.89
462148  3396583  162006.0  2018-11-24 12:12:52  116.37  39.99  116.40  39.91
13661   3396588  113366.0  2018-11-24 13:43:44  116.27  40.06  116.64  39.90

[500000 rows x 7 columns]

In [71]:
import math  
tq['ol']=tq['ol'].astype(float)
tq['oa']=tq['oa'].astype(float)
tq['dl']=tq['dl'].astype(float)
tq['da']=tq['da'].astype(float)

tq['distance_math']=np.sqrt(pow((tq['ol']-tq['dl']),2)+pow((tq['oa']-tq['da']),2))

In [72]:
tq.sort_values(by=['sid'])

,sid,pid,req_time,ol,oa,dl,da,distance_math
28393,2,NaN,2018-11-10 12:47:12,116.39,39.92,116.41,39.91,0.022361
447688,10,199899.0,2018-11-10 11:10:36,116.58,40.08,116.20,39.91,0.416293
15176,21,177401.0,2018-11-10 12:16:01,116.32,39.89,116.27,39.86,0.058310
259438,25,176887.0,2018-11-10 23:51:25,116.44,39.88,116.45,39.86,0.022361
461025,34,NaN,2018-11-10 13:42:54,116.29,40.07,116.44,39.93,0.205183
354355,35,106441.0,2018-11-10 16:37:17,116.17,39.92,116.20,39.93,0.031623
116274,36,106441.0,2018-11-10 13:42:49,116.19,39.93,116.17,39.92,0.022361
213910,44,140368.0,2018-11-10 16:17:52,116.42,39.84,116.32,39.89,0.111803
405380,68,NaN,2018-11-10 19:38:01,116.41,39.99,116.31,39.97,0.101980
345413,69,NaN,2018-11-10 18:55:23,116.42,39.98,116.31,39.98,0.110000
18703,79,148770.0,2018-11-10 22:09:43,116.38,39.98,116.41,39.99,0.031623
361114,86,143366.0,2018-11-10 11:28:26,116.51,39.77,116.50,39.76,0.014142
295482,95,NaN,2018-11-10 14:12:05,116.40,39.91,116.39,39.90,0.014142
330100,99,NaN,2018-11-10 14:13:20,116.40,39.91,116.39,39.89,0.022361
289079,120,166223.0,2018-11-10 09:11:38,116.35,40.00,116.28,40.03,0.076158
20630,127,172775.0,2018-11-10 09:48:49,116.65,39.87,116.27,39.91,0.382099
423590,128,155123.0,2018-11-10 12:58:36,116.39,39.90,116.38,39.99,0.090554
461771,134,NaN,2018-11-10 15:13:44,116.33,40.00,116.21,40.23,0.259422
343812,136,195672.0,2018-11-10 16:41:56,116.46,40.00,116.74,39.90,0.297321
482957,141,111826.0,2018-11-10 06:54:55,116.21,40.10,116.37,39.86,0.288444
196550,162,NaN,2018-11-10 12:55:09,116.31,39.89,116.35,39.94,0.064031
20346,164,167770.0,2018-11-10 05:36:56,116.40,39.90,116.37,39.86,0.050000
189965,167,NaN,2018-11-10 18:58:38,116.65,39.94,116.64,39.90,0.041231
167079,171,189690.0,2018-11-10 13:18:04,116.63,39.88,116.64,39.87,0.014142
184404,184,NaN,2018-11-10 17:29:59,116.30,39.91,116.55,39.90,0.250200
271208,191,120176.0,2018-11-10 13:57:55,116.06,39.66,116.14,39.73,0.106301
452809,201,136434.0,2018-11-10 09:33:37,116.52,39.81,116.52,39.82,0.010000
374149,203,124321.0,2018-11-10 15:41:00,116.27,39.99,116.48,40.00,0.210238
450730,208,NaN,2018-11-10 16:25:16,116.44,39.99,116.32,39.89,0.156205
87827,212,202427.0,2018-11-10 09:27:32,116.34,39.80,116.32,39.75,0.053852
...,...,...,...,...,...,...,...,...
402534,3396405,111620.0,2018-11-24 11:10:16,116.38,39.84,116.28,39.92,0.128062
115738,3396425,NaN,2018-11-24 12:34:04,116.50,40.01,116.17,40.06,0.333766
258919,3396433,NaN,2018-11-24 23:41:05,116.31,40.10,116.44,39.89,0.246982
317579,3396438,174758.0,2018-11-24 11:12:22,116.45,39.91,116.36,39.80,0.142127
179992,3396452,NaN,2018-11-24 22:25:27,116.50,39.80,116.00,40.35,0.743303
172669,3396454,NaN,2018-11-24 10:39:21,116.45,39.81,116.39,39.90,0.108167
224829,3396456,160040.0,2018-11-24 17:11:15,116.32,39.89,116.37,39.86,0.058310
142560,3396466,NaN,2018-11-24 15:38:28,116.40,39.90,116.45,39.88,0.053852
350580,3396473,NaN,2018-11-24 21:30:25,116.66,40.09,116.66,40.09,0.000000
140859,3396477,NaN,2018-11-24 14:47:02,116.39,39.93,116.29,39.86,0.122066
365931,3396479,111299.0,2018-11-24 06:49:33,116.47,39.89,116.31,39.97,0.178885
416478,3396485,168928.0,2018-11-24 11:04:37,116.31,40.08,116.30,40.00,0.080623
210340,3396489,NaN,2018-11-24 21:04:19,116.11,39.93,116.12,39.90,0.031623
122945,3396494,214161.0,2018-11-24 08:00:50,116.44,39.89,116.32,39.89,0.120000
271244,3396499,163422.0,2018-11-24 11:45:39,116.31,40.00,116.58,40.08,0.281603
448557,3396503,124936.0,2018-11-24 08:40:29,116.47,39.92,116.37,39.86,0.116619
407680,3396510,NaN,2018-11-24 10:41:47,116.34,39.78,116.48,39.90,0.184391
394902,3396513,NaN,2018-11-24 10:42:29,116.34,39.78,116.48,39.90,0.184391
130362,3396514,NaN,2018-11-24 12:10:04,116.45,39.86,116.48,39.90,0.050000
309401,3396519,180178.0,2018-11-24 23:31:07,116.29,40.02,116.25,40.03,0.041231
290045,3396522,135045.0,2018-11-24 14:59:03,116.32,39.95,116.32,39.95,0.000000
114562,3396529,NaN,2018-11-24 21:32:01,116.59,39.92,116.33,39.94,0.260768
259958,3396541,167770.0,2018-11-24 17:31:25,116.23,40.22,116.22,40.22,0.010000
140850,3396544,NaN,2018-11-24 13:04:18,116.35,39.96,116.46,40.00,0.117047
181126,3396546,NaN,2018-11-24 18:26:16,116.33,40.04,116.33,40.03,0.010000
201488,3396567,198556.0,2018-11-24 11:59:11,116.60,39.90,116.45,39.91,0.150333
261432,3396577,148899.0,2018-11-24 10:22:26,116.35,39.81,116.30,39.69,0.130000
388613,3396581,NaN,2018-11-24 14:17:09,116.46,39.86,116.48,39.89,0.036056
462148,3396583,162006.0,2018-11-24 12:12:52,116.37,39.99,116.40,39.91,0.085440
13661,3396588,113366.0,2018-11-24 13:43:44,116.27,40.06,116.64,39.90,0.403113

In [73]:
tq=tq.merge(tp)

In [74]:
tq.sort_values(by=['sid'])

,sid,pid,req_time,ol,oa,dl,da,distance_math,plan_time,d1,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
27890,2,NaN,2018-11-10 12:47:12,116.39,39.92,116.41,39.91,0.022361,2018-11-10 12:47:12,2898,...,2158,1,2465,,2246,5,None,None,None,None
439656,10,199899.0,2018-11-10 11:10:36,116.58,40.08,116.20,39.91,0.416293,2018-11-10 11:10:36,49067,...,7234,11,48995,3200,7396,1,None,None,None,None
14897,21,177401.0,2018-11-10 12:16:01,116.32,39.89,116.27,39.86,0.058310,2018-11-10 12:16:01,6157,...,None,None,None,None,None,None,None,None,None,None
254777,25,176887.0,2018-11-10 23:51:25,116.44,39.88,116.45,39.86,0.022361,2018-11-10 23:51:25,3006,...,2432,1,2714,,2434,5,None,None,None,None
452757,34,NaN,2018-11-10 13:42:54,116.29,40.07,116.44,39.93,0.205183,2018-11-10 13:42:54,26039,...,5663,2,None,None,None,None,None,None,None,None
348016,35,106441.0,2018-11-10 16:37:17,116.17,39.92,116.20,39.93,0.031623,2018-11-10 16:37:17,4415,...,2176,1,3066,,2736,5,None,None,None,None
114236,36,106441.0,2018-11-10 13:42:49,116.19,39.93,116.17,39.92,0.022361,2018-11-10 13:42:49,3453,...,2047,1,2569,,2310,5,None,None,None,None
210085,44,140368.0,2018-11-10 16:17:52,116.42,39.84,116.32,39.89,0.111803,2018-11-10 16:17:52,15113,...,2507,10,None,None,None,None,None,None,None,None
398116,68,NaN,2018-11-10 19:38:01,116.41,39.99,116.31,39.97,0.101980,2018-11-10 19:38:01,10346,...,None,None,None,None,None,None,None,None,None,None
339224,69,NaN,2018-11-10 18:55:23,116.42,39.98,116.31,39.98,0.110000,2018-11-10 18:55:23,10489,...,None,None,None,None,None,None,None,None,None,None
18356,79,148770.0,2018-11-10 22:09:43,116.38,39.98,116.41,39.99,0.031623,2018-11-10 22:09:43,4210,...,1395,9,4162,200,1886,1,3479,,3210,5
354642,86,143366.0,2018-11-10 11:28:26,116.51,39.77,116.50,39.76,0.014142,2018-11-10 11:28:26,586,...,None,None,None,None,None,None,None,None,None,None
290204,95,NaN,2018-11-10 14:12:05,116.40,39.91,116.39,39.90,0.014142,2018-11-10 14:12:05,2824,...,2234,5,None,None,None,None,None,None,None,None
324200,99,NaN,2018-11-10 14:13:20,116.40,39.91,116.39,39.89,0.022361,2018-11-10 14:13:20,4029,...,2774,7,3284,,3072,5,None,None,None,None
283907,120,166223.0,2018-11-10 09:11:38,116.35,40.00,116.28,40.03,0.076158,2018-11-10 09:11:38,10493,...,None,None,None,None,None,None,None,None,None,None
20243,127,172775.0,2018-11-10 09:48:49,116.65,39.87,116.27,39.91,0.382099,2018-11-10 09:48:49,39480,...,10210,1,None,None,None,None,None,None,None,None
415980,128,155123.0,2018-11-10 12:58:36,116.39,39.90,116.38,39.99,0.090554,2018-11-10 12:58:36,18507,...,3558,2,13127,300,4296,1,None,None,None,None
453487,134,NaN,2018-11-10 15:13:44,116.33,40.00,116.21,40.23,0.259422,2018-11-10 15:13:44,41135,...,7114,1,None,None,None,None,None,None,None,None
337655,136,195672.0,2018-11-10 16:41:56,116.46,40.00,116.74,39.90,0.297321,2018-11-10 16:41:56,34880,...,None,None,None,None,None,None,None,None,None,None
474321,141,111826.0,2018-11-10 06:54:55,116.21,40.10,116.37,39.86,0.288444,2018-11-10 06:54:55,36716,...,6698,7,None,None,None,None,None,None,None,None
193051,162,NaN,2018-11-10 12:55:09,116.31,39.89,116.35,39.94,0.064031,2018-11-10 12:55:09,8945,...,None,None,None,None,None,None,None,None,None,None
19968,164,167770.0,2018-11-10 05:36:56,116.40,39.90,116.37,39.86,0.050000,2018-11-10 05:36:56,7144,...,None,None,None,None,None,None,None,None,None,None
186578,167,NaN,2018-11-10 18:58:38,116.65,39.94,116.64,39.90,0.041231,2018-11-10 18:58:38,6461,...,2317,1,None,None,None,None,None,None,None,None
164102,171,189690.0,2018-11-10 13:18:04,116.63,39.88,116.64,39.87,0.014142,2018-11-10 13:18:04,2390,...,2259,1,2542,,2275,5,None,None,None,None
181107,184,NaN,2018-11-10 17:29:59,116.30,39.91,116.55,39.90,0.250200,2018-11-10 17:29:59,24451,...,5734,7,None,None,None,None,None,None,None,None
266342,191,120176.0,2018-11-10 13:57:55,116.06,39.66,116.14,39.73,0.106301,2018-11-10 13:57:55,13485,...,None,None,None,None,None,None,None,None,None,None
444685,201,136434.0,2018-11-10 09:33:37,116.52,39.81,116.52,39.82,0.010000,2018-11-10 09:33:37,604,...,None,None,None,None,None,None,None,None,None,None
367439,203,124321.0,2018-11-10 15:41:00,116.27,39.99,116.48,40.00,0.210238,2018-11-10 15:41:00,26252,...,None,None,None,None,None,None,None,None,None,None
442646,208,NaN,2018-11-10 16:25:16,116.44,39.99,116.32,39.89,0.156205,2018-11-10 16:25:16,22243,...,None,None,None,None,None,None,None,None,None,None
86306,212,202427.0,2018-11-10 09:27:32,116.34,39.80,116.32,39.75,0.053852,2018-11-10 09:27:32,9020,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138185,3396402,111620.0,2018-11-24 15:41:21,116.30,39.89,116.40,39.86,0.104403,2018-11-24 15:41:21,12915,...,None,None,None,None,None,None,None,None,None,None
395317,3396405,111620.0,2018-11-24 11:10:16,116.38,39.84,116.28,39.92,0.128062,2018-11-24 11:10:16,17481,...,None,None,None,None,None,None,None,None,None,None
113705,3396425,NaN,2018-11-24 12:34:04,116.50,40.01,116.17,40.06,0.333766,2018-11-24 12:34:04,42234,...,8534,7,None,None,None,None,None,None,None,None
254270,3396433,NaN,2018-11-24 23:41:05,116.31,40.10,116.44,39.89,0.246982,2018-11-24 23:41:05,34071,...,None,None,None,None,None,None,None,None,None,None
311894,3396438,174758.0,2018-11-24 11:12:22,116.45,39.91,116.36,39.80,0.142127,2018-11-24 11:12:22,20811,...,5507,1,None,None,None,None,None,None,None,None
176781,3396452,NaN,2018-11-24 22:25:27,116.50,39.80,116.00,40.35,0.743303,2018-11-24 22:25:27,90233,...,None,None,None,None,None,None,None,None,None,None
169596,3396454,NaN,2018-11-24 10:39:21,116.45,39.81,116.39,39.90,0.108167,2018-11-24 10:39:21,15899,...,None,None,None,None,None,None,None,None,None,None
220814,3396456,160040.0,2018-11-24 17:11:15,116.32,39.89,116.37,39.86,0.058310,2018-11-24 17:11:15,8236,...,None,None,None,None,None,None,None,None,None,None
140029,3396466,NaN,2018-11-24 15:38:28,116.40,39.90,116.45,39.88,0.053852,2018-11-24 15:38:28,6106,...,3599,1,None,None,None,None,None,None,None,None
344304,3396473,NaN,2018-11-24 21:30:25,116.66,40.09,116.66,40.09,0.000000,2018-11-24 21:30:25,1791,...,1379,1,None,None,None,None,None,None,None,None
138366,3396477,NaN,2018-11-24 14:47:02,116.39,39.93,116.29,39.86,0.122066,2018-11-24 14:47:02,16388,...,4030,7,None,None,None,None,None,None,None,None
359380,3396479,111299.0,2018-11-24 06:49:33,116.47,39.89,116.31,39.97,0.178885,2018-11-24 06:49:33,23153,...,4758,7,None,None,None,None,None,None,None,None
409000,3396485,168928.0,2018-11-24 11:04:37,116.31,40.08,116.30,40.00,0.080623,2018-11-24 11:04:37,21466,...,None,None,None,None,None,None,None,None,None,None
120781,3396494,214161.0,2018-11-24 08:00:50,116.44,39.89,116.32,39.89,0.120000,2018-11-24 08:00:50,11711,...,None,None,None,None,None,None,None,None,None,None
266378,3396499,163422.0,2018-11-24 11:45:39,116.31,40.00,116.58,40.08,0.281603,2018-11-24 11:45:39,42388,...,None,None,None,None,None,None,None,None,None,None
440506,3396503,124936.0,2018-11-24 08:40:29,116.47,39.92,116.37,39.86,0.116619,2018-11-24 08:40:29,15603,...,None,None,None,None,None,None,None,None,None,None
400370,3396510,NaN,2018-11-24 10:41:47,116.34,39.78,116.48,39.90,0.184391,2018-11-24 10:41:47,26531,...,6110,1,None,None,None,None,None,None,None,None
387813,3396513,NaN,2018-11-24 10:42:29,116.34,39.78,116.48,39.90,0.184391,2018-11-24 10:42:29,26914,...,6053,1,None,None,None,None,None,None,None,None
128055,3396514,NaN,2018-11-24 12:10:04,116.45,39.86,116.48,39.90,0.050000,2018-11-24 12:10:04,5842,...,1773,6,None,None,None,None,None,None,None,None
303868,3396519,180178.0,2018-11-24 23:31:07,116.29,40.02,116.25,40.03,0.041231,2018-11-24 23:31:07,4245,...,3497,5,None,None,None,None,None,None,None,None
284854,3396522,135045.0,2018-11-24 14:59:03,116.32,39.95,116.32,39.95,0.000000,2018-11-24 14:59:03,281,...,None,None,None,None,None,None,None,None,None,None
112557,3396529,NaN,2018-11-24 21:32:01,116.59,39.92,116.33,39.94,0.260768,2018-11-24 21:32:01,25157,...,None,None,None,None,None,None,None,None,None,None
255286,3396541,167770.0,2018-11-24 17:31:25,116.23,40.22,116.22,40.22,0.010000,2018-11-24 17:31:25,741,...,None,None,None,None,None,None,None,None,None,None
138357,3396544,NaN,2018-11-24 13:04:18,116.35,39.96,116.46,40.00,0.117047,2018-11-24 13:04:18,17631,...,4700,1,None,None,None,None,None,None,None,None
177891,3396546,NaN,2018-11-24 18:26:16,116.33,40.04,116.33,40.03,0.010000,2018-11-24 18:26:16,1906,...,1791,1,1659,200,1953,1,None,None,None,None
197908,3396567,198556.0,2018-11-24 11:59:11,116.60,39.90,116.45,39.91,0.150333,2018-11-24 11:59:11,13913,...,3082,10,14189,400,5143,1,None,None,None,None
256735,3396577,148899.0,2018-11-24 10:22:26,116.35,39.81,116.30,39.69,0.130000,2018-11-24 10:22:26,21957,...,6141,1,None,None,None,None,None,None,None,None
381628,3396581,NaN,2018-11-24 14:17:09,116.46,39.86,116.48,39.89,0.036056,2018-11-24 14:17:09,5208,...,2488,1,None,None,None,None,None,None,None,None
453858,3396583,162006.0,2018-11-24 12:12:52,116.37,39.99,116.40,39.91,0.085440,2018-11-24 12:12:52,13968,...,4509,1,None,None,None,None,None,None,None,None
13420,3396588,113366.0,2018-11-24 13:43:44,116.27,40.06,116.64,39.90,0.403113,2018-11-24 13:43:44,46834,...,None,None,None,None,None,None,None,None,None,None

In [75]:
tq=tq.merge(tc)

In [76]:
tq

,sid,pid,req_time,ol,oa,dl,da,distance_math,plan_time,d1,...,d6,p6,e6,t6,d7,p7,e7,t7,click_time,click_mode
0,3000821,NaN,2018-11-02 17:54:30,116.29,39.97,116.32,39.96,0.031623,2018-11-02 17:54:30,5219,...,4046,,3672,5,None,None,None,None,2018-11-02 17:54:32,9
1,3085857,210736.0,2018-11-16 10:53:10,116.39,39.84,116.33,39.79,0.078102,2018-11-16 10:53:10,13864,...,None,None,None,None,None,None,None,None,2018-11-16 10:53:32,1
2,2944522,NaN,2018-10-06 10:33:58,116.31,39.93,116.27,40.00,0.080623,2018-10-06 10:33:58,12294,...,9023,,2728,6,13018,600,3657,7,2018-10-06 10:34:23,9
3,559931,202427.0,2018-11-23 14:54:11,116.27,39.88,116.39,39.90,0.121655,2018-11-23 14:54:11,14853,...,None,None,None,None,None,None,None,None,2018-11-23 14:54:18,1
4,2819352,172251.0,2018-10-30 11:48:41,116.34,39.96,116.37,39.86,0.104403,2018-10-30 11:48:41,12882,...,None,None,None,None,None,None,None,None,2018-10-30 11:49:04,7
5,2754575,135606.0,2018-10-18 07:37:32,116.54,39.73,116.48,39.76,0.067082,2018-10-18 07:37:32,8217,...,None,None,None,None,None,None,None,None,2018-10-18 07:38:25,1
6,2224795,189023.0,2018-11-20 14:34:03,116.34,39.73,116.79,40.35,0.766094,2018-11-20 14:34:03,99097,...,None,None,None,None,None,None,None,None,2018-11-20 14:34:48,1
7,1598541,156954.0,2018-10-03 09:19:47,116.26,40.22,116.24,40.22,0.020000,2018-10-03 09:19:47,1484,...,1410,,1267,5,None,None,None,None,2018-10-03 09:19:55,1
8,676316,135045.0,2018-11-15 15:25:52,116.39,39.91,116.39,39.90,0.010000,2018-11-15 15:25:52,1511,...,None,None,None,None,None,None,None,None,2018-11-15 15:25:55,5
9,1068802,176605.0,2018-11-08 23:13:57,116.29,40.02,116.27,39.95,0.072801,2018-11-08 23:13:57,10278,...,None,None,None,None,None,None,None,None,2018-11-08 23:14:06,3
10,1677052,NaN,2018-10-23 01:02:45,116.43,39.95,116.37,39.86,0.108167,2018-10-23 01:02:45,21605,...,None,None,None,None,None,None,None,None,2018-10-23 01:02:55,1
11,1601021,207329.0,2018-10-03 16:07:03,116.45,39.93,116.42,39.93,0.030000,2018-10-03 16:07:03,2409,...,2125,,1890,5,None,None,None,None,2018-10-03 16:07:34,1
12,986743,NaN,2018-11-12 13:52:31,116.32,39.98,116.58,39.91,0.269258,2018-11-12 13:52:31,30603,...,None,None,None,None,None,None,None,None,2018-11-12 13:52:51,9
13,1562328,215847.0,2018-10-03 10:00:54,116.40,39.92,116.40,39.91,0.010000,2018-10-03 10:00:54,2371,...,2267,,2089,5,None,None,None,None,2018-10-03 19:32:59,1
14,184189,NaN,2018-10-20 12:52:07,116.31,40.03,116.33,40.01,0.028284,2018-10-20 12:52:07,4411,...,3733,,3335,5,None,None,None,None,2018-10-20 12:52:10,1
15,3292454,NaN,2018-10-16 09:06:07,116.30,39.94,116.27,39.96,0.036056,2018-10-16 09:06:07,3437,...,None,None,None,None,None,None,None,None,2018-10-16 09:06:40,1
16,1808923,207363.0,2018-11-29 13:20:55,116.21,40.24,116.47,39.89,0.436005,2018-11-29 13:20:55,60373,...,51296,1100,7912,1,None,None,None,None,2018-11-29 13:21:08,2
17,3000955,144649.0,2018-11-02 09:38:26,116.34,39.87,116.33,39.87,0.010000,2018-11-02 09:38:26,995,...,None,None,None,None,None,None,None,None,2018-11-02 09:38:28,5
18,694129,116986.0,2018-11-15 13:58:26,116.41,39.94,116.50,39.93,0.090554,2018-11-15 13:58:26,11380,...,9384,200,4068,1,None,None,None,None,2018-11-15 13:58:31,9
19,409847,180421.0,2018-10-05 15:41:17,116.33,39.97,116.32,39.89,0.080623,2018-10-05 15:41:17,12130,...,None,None,None,None,None,None,None,None,2018-10-05 15:41:20,2
20,627704,NaN,2018-10-28 09:46:40,116.29,39.86,116.45,39.93,0.174642,2018-10-28 09:46:40,26609,...,None,None,None,None,None,None,None,None,2018-10-28 09:46:53,2
21,307643,175212.0,2018-10-04 14:31:33,116.29,39.93,116.30,39.93,0.010000,2018-10-04 14:31:33,1483,...,None,None,None,None,None,None,None,None,2018-10-04 14:31:38,5
22,296598,112198.0,2018-10-04 21:22:51,116.50,39.87,116.50,39.80,0.070000,2018-10-04 21:22:51,24130,...,20937,600,4988,7,None,None,None,None,2018-10-04 21:22:55,7
23,945674,135562.0,2018-10-24 14:09:41,116.34,39.84,116.32,39.90,0.063246,2018-10-24 14:09:41,11751,...,None,None,None,None,None,None,None,None,2018-10-24 14:09:45,9
24,547098,202757.0,2018-11-23 16:18:30,116.34,39.95,116.34,39.94,0.010000,2018-11-23 16:18:30,432,...,None,None,None,None,None,None,None,None,2018-11-23 16:18:33,5
25,165662,200008.0,2018-10-20 11:14:06,116.34,40.03,116.42,39.90,0.152643,2018-10-20 11:14:06,22718,...,None,None,None,None,None,None,None,None,2018-10-20 11:14:15,10
26,1861826,112198.0,2018-11-03 13:54:48,116.35,40.00,116.43,39.94,0.100000,2018-11-03 13:54:48,15860,...,None,None,None,None,None,None,None,None,2018-11-03 13:54:51,2
27,3075509,116844.0,2018-11-16 13:09:35,116.30,39.99,116.31,39.99,0.010000,2018-11-16 13:09:35,655,...,None,None,None,None,None,None,None,None,2018-11-16 13:31:50,3
28,1548874,NaN,2018-11-28 08:34:30,116.43,39.90,116.43,39.94,0.040000,2018-11-28 08:34:30,5556,...,None,None,None,None,None,None,None,None,2018-11-28 08:34:37,2
29,1300125,NaN,2018-11-06 16:48:51,116.51,39.92,116.55,39.91,0.041231,2018-11-06 16:48:51,4366,...,4124,,3763,5,None,None,None,None,2018-11-06 16:48:57,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453306,3112033,NaN,2018-10-26 18:11:38,116.39,39.97,116.37,39.96,0.022361,2018-10-26 18:11:38,3066,...,None,None,None,None,None,None,None,None,2018-10-26 18:11:44,3
453307,2900568,NaN,2018-10-06 17:12:45,116.32,40.01,116.32,39.89,0.120000,2018-10-06 17:12:45,15604,...,None,None,None,None,None,None,None,None,2018-10-06 17:13:01,10
453308,13507,167599.0,2018-11-10 10:57:17,116.38,40.00,116.32,39.89,0.125300,2018-11-10 10:57:17,20099,...,None,None,None,None,None,None,None,None,2018-11-10 10:57:23,2
453309,833885,123046.0,2018-10-29 18:25:46,116.41,40.03,116.41,40.12,0.090000,2018-10-29 18:25:46,10880,...,None,None,None,None,None,None,None,None,2018-10-29 18:25:58,7
453310,2550808,NaN,2018-11-19 11:11:16,116.30,39.92,116.27,39.90,0.036056,2018-11-19 11:11:16,5954,...,6149,500,2041,7,4436,,4049,5,2018-11-19 11:11:22,4
453311,3161400,153606.0,2018-11-21 23:13:47,116.42,39.84,116.39,39.79,0.058310,2018-11-21 23:13:47,9246,...,None,None,None,None,None,None,None,None,2018-11-21 23:14:30,7
453312,2284951,180343.0,2018-10-13 11:03:03,116.38,39.97,116.73,40.18,0.408167,2018-10-13 11:03:03,50462,...,None,None,None,None,None,None,None,None,2018-10-13 11:03:13,7
453313,188295,NaN,2018-10-20 10:57:15,116.26,40.22,116.37,39.86,0.376431,2018-10-20 10:57:15,49300,...,None,None,None,None,None,None,None,None,2018-10-20 10:57:49,2
453314,2109725,129567.0,2018-11-18 11:03:20,116.41,39.96,116.41,39.99,0.030000,2018-11-18 11:03:20,3494,...,None,None,None,None,None,None,None,None,2018-11-18 11:03:22,2
453315,251464,106075.0,2018-10-17 15:39:10,116.33,39.94,116.36,39.89,0.058310,2018-10-17 15:39:10,10923,...,None,None,None,None,None,None,None,None,2018-10-17 15:39:30,4
453316,163816,202246.0,2018-10-20 09:01:59,116.54,39.75,116.27,40.00,0.367967,2018-10-20 09:01:59,48610,...,47419,1000,7894,7,None,None,None,None,2018-10-20 09:02:25,7
453317,2765282,129567.0,2018-10-18 11:30:09,116.24,40.03,116.14,39.75,0.297321,2018-10-18 11:30:09,48660,...,None,None,None,None,None,None,None,None,2018-10-18 11:30:11,1
453318,3353668,NaN,2018-11-24 07:27:41,116.32,39.83,116.42,39.90,0.122066,2018-11-24 07:27:41,20743,...,None,None,None,None,None,None,None,None,2018-11-24 07:27:44,10
453319,3349757,112282.0,2018-11-24 13:53:30,116.47,39.89,116.40,39.91,0.072801,2018-11-24 13:53:30,9006,...,8823,600,2738,7,None,None,None,None,2018-11-24 13:53:51,2
453320,1991199,130150.0,2018-10-14 15:59:39,116.33,39.94,116.39,39.89,0.078102,2018-10-14 15:59:39,12080,...,None,None,None,None,None,None,None,None,2018-10-14 15:59:47,2
453321,2178623,181977.0,2018-10-19 08:38:45,116.36,39.90,116.42,39.95,0.078102,2018-10-19 08:38:45,11668,...,None,None,None,None,None,None,None,None,2018-10-19 08:38:48,2
453322,2949567,NaN,2018-11-02 17:34:47,116.35,39.92,116.35,39.92,0.000000,2018-11-02 17:34:47,269,...,None,None,None,None,None,None,None,None,2018-11-02 17:34:49,5
453323,1953641,115654.0,2018-10-11 15:10:45,116.37,39.86,116.56,39.78,0.206155,2018-10-11 15:10:45,26694,...,None,None,None,None,None,None,None,None,2018-10-11 15:10:50,2
453324,3201419,NaN,2018-11-07 17:31:56,116.41,40.10,116.44,40.12,0.036056,2018-11-07 17:31:56,4453,...,4452,,3994,5,None,None,None,None,2018-11-07 17:32:08,1
453325,1658365,188398.0,2018-10-23 13:50:48,116.39,39.92,116.35,40.00,0.089443,2018-10-23 13:50:48,21918,...,16456,500,6025,1,None,None,None,None,2018-10-23 13:51:16,9
453326,625863,NaN,2018-10-28 19:35:53,116.33,39.93,116.32,39.89,0.041231,2018-10-28 19:35:53,9645,...,9654,400,3173,1,None,None,None,None,2018-10-28 19:36:30,1
453327,1666359,104686.0,2018-10-23 19:21:40,116.37,39.91,116.33,39.99,0.089443,2018-10-23 19:21:40,11868,...,None,None,None,None,None,None,None,None,2018-10-23 19:21:47,2
453328,884016,NaN,2018-11-26 20:08:22,116.41,39.91,116.40,39.93,0.022361,2018-11-26 20:08:22,3720,...,3120,200,2172,1,None,None,None,None,2018-11-26 20:08:33,1
453329,2333615,200530.0,2018-10-25 14:19:52,116.57,39.91,116.42,39.90,0.150333,2018-10-25 14:19:52,14316,...,None,None,None,None,None,None,None,None,2018-10-25 14:19:56,2
453330,277011,212050.0,2018-10-04 09:21:11,116.40,39.98,116.56,40.02,0.164924,2018-10-04 09:21:11,19040,...,None,None,None,None,None,None,None,None,2018-10-04 09:21:21,7
453331,850424,122177.0,2018-11-26 19:02:11,116.15,39.72,116.28,39.84,0.176918,2018-11-26 19:02:11,25155,...,28989,800,4377,1,None,None,None,None,2018-11-26 19:02:15,7
453332,3136563,113317.0,2018-10-26 12:53:24,116.54,40.07,116.38,39.94,0.206155,2018-10-26 12:53:24,29571,...,29845,700,5658,7,None,None,None,None,2018-10-26 12:53:42,2
453333,722748,193800.0,2018-10-01 16:46:52,116.17,39.71,116.20,39.75,0.050000,2018-10-01 16:46:52,7634,...,None,None,None,None,None,None,None,None,2018-10-01 16:46:58,6
453334,1594185,NaN,2018-10-03 12:27:51,116.32,40.06,116.16,40.23,0.233452,2018-10-03 12:27:51,26955,...,None,None,None,None,None,None,None,None,2018-10-03 12:27:54,3
453335,1795967,101673.0,2018-11-29 10:01:13,116.50,39.89,116.37,39.94,0.139284,2018-11-29 10:01:13,19329,...,None,None,None,None,None,None,None,None,2018-11-29 10:01:34,4

In [77]:
tq=tq.drop("req_time",axis=1)
tq=tq.drop("plan_time",axis=1)
tq=tq.drop("click_time",axis=1)

In [78]:
tq

,sid,pid,ol,oa,dl,da,distance_math,d1,p1,e1,...,t5,d6,p6,e6,t6,d7,p7,e7,t7,click_mode
0,3000821,NaN,116.29,39.97,116.32,39.96,0.031623,5219,300,1367,...,2,4046,,3672,5,None,None,None,None,9
1,3085857,210736.0,116.39,39.84,116.33,39.79,0.078102,13864,600,3221,...,1,None,None,None,None,None,None,None,None,1
2,2944522,NaN,116.31,39.93,116.27,40.00,0.080623,12294,400,2472,...,2,9023,,2728,6,13018,600,3657,7,9
3,559931,202427.0,116.27,39.88,116.39,39.90,0.121655,14853,1700,2914,...,1,None,None,None,None,None,None,None,None,1
4,2819352,172251.0,116.34,39.96,116.37,39.86,0.104403,12882,600,3211,...,None,None,None,None,None,None,None,None,None,7
5,2754575,135606.0,116.54,39.73,116.48,39.76,0.067082,8217,,1743,...,1,None,None,None,None,None,None,None,None,1
6,2224795,189023.0,116.34,39.73,116.79,40.35,0.766094,99097,,6596,...,None,None,None,None,None,None,None,None,None,1
7,1598541,156954.0,116.26,40.22,116.24,40.22,0.020000,1484,200,881,...,1,1410,,1267,5,None,None,None,None,1
8,676316,135045.0,116.39,39.91,116.39,39.90,0.010000,1511,,1294,...,1,None,None,None,None,None,None,None,None,5
9,1068802,176605.0,116.29,40.02,116.27,39.95,0.072801,10278,,790,...,None,None,None,None,None,None,None,None,None,3
10,1677052,NaN,116.43,39.95,116.37,39.86,0.108167,21605,500,5549,...,None,None,None,None,None,None,None,None,None,1
11,1601021,207329.0,116.45,39.93,116.42,39.93,0.030000,2409,200,1259,...,1,2125,,1890,5,None,None,None,None,1
12,986743,NaN,116.32,39.98,116.58,39.91,0.269258,30603,600,4751,...,1,None,None,None,None,None,None,None,None,9
13,1562328,215847.0,116.40,39.92,116.40,39.91,0.010000,2371,,714,...,1,2267,,2089,5,None,None,None,None,1
14,184189,NaN,116.31,40.03,116.33,40.01,0.028284,4411,400,2373,...,1,3733,,3335,5,None,None,None,None,1
15,3292454,NaN,116.30,39.94,116.27,39.96,0.036056,3437,1400,858,...,5,None,None,None,None,None,None,None,None,1
16,1808923,207363.0,116.21,40.24,116.47,39.89,0.436005,60373,800,7470,...,9,51296,1100,7912,1,None,None,None,None,2
17,3000955,144649.0,116.34,39.87,116.33,39.87,0.010000,995,,872,...,None,None,None,None,None,None,None,None,None,5
18,694129,116986.0,116.41,39.94,116.50,39.93,0.090554,11380,600,3274,...,6,9384,200,4068,1,None,None,None,None,9
19,409847,180421.0,116.33,39.97,116.32,39.89,0.080623,12130,400,2485,...,1,None,None,None,None,None,None,None,None,2
20,627704,NaN,116.29,39.86,116.45,39.93,0.174642,26609,600,4057,...,1,None,None,None,None,None,None,None,None,2
21,307643,175212.0,116.29,39.93,116.30,39.93,0.010000,1483,,447,...,7,None,None,None,None,None,None,None,None,5
22,296598,112198.0,116.50,39.87,116.50,39.80,0.070000,24130,700,4481,...,9,20937,600,4988,7,None,None,None,None,7
23,945674,135562.0,116.34,39.84,116.32,39.90,0.063246,11751,400,2422,...,6,None,None,None,None,None,None,None,None,9
24,547098,202757.0,116.34,39.95,116.34,39.94,0.010000,432,,409,...,None,None,None,None,None,None,None,None,None,5
25,165662,200008.0,116.34,40.03,116.42,39.90,0.152643,22718,700,4291,...,None,None,None,None,None,None,None,None,None,10
26,1861826,112198.0,116.35,40.00,116.43,39.94,0.100000,15860,500,3267,...,1,None,None,None,None,None,None,None,None,2
27,3075509,116844.0,116.30,39.99,116.31,39.99,0.010000,655,,560,...,None,None,None,None,None,None,None,None,None,3
28,1548874,NaN,116.43,39.90,116.43,39.94,0.040000,5556,300,2185,...,5,None,None,None,None,None,None,None,None,2
29,1300125,NaN,116.51,39.92,116.55,39.91,0.041231,4366,200,2056,...,2,4124,,3763,5,None,None,None,None,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453306,3112033,NaN,116.39,39.97,116.37,39.96,0.022361,3066,200,2031,...,5,None,None,None,None,None,None,None,None,3
453307,2900568,NaN,116.32,40.01,116.32,39.89,0.120000,15604,2500,2757,...,None,None,None,None,None,None,None,None,None,10
453308,13507,167599.0,116.38,40.00,116.32,39.89,0.125300,20099,500,3519,...,1,None,None,None,None,None,None,None,None,2
453309,833885,123046.0,116.41,40.03,116.41,40.12,0.090000,10880,900,2926,...,None,None,None,None,None,None,None,None,None,7
453310,2550808,NaN,116.30,39.92,116.27,39.90,0.036056,5954,1500,1354,...,2,6149,500,2041,7,4436,,4049,5,4
453311,3161400,153606.0,116.42,39.84,116.39,39.79,0.058310,9246,3400,1440,...,None,None,None,None,None,None,None,None,None,7
453312,2284951,180343.0,116.38,39.97,116.73,40.18,0.408167,50462,,4758,...,None,None,None,None,None,None,None,None,None,7
453313,188295,NaN,116.26,40.22,116.37,39.86,0.376431,49300,700,5452,...,None,None,None,None,None,None,None,None,None,2
453314,2109725,129567.0,116.41,39.96,116.41,39.99,0.030000,3494,300,755,...,5,None,None,None,None,None,None,None,None,2
453315,251464,106075.0,116.33,39.94,116.36,39.89,0.058310,10923,400,2369,...,7,None,None,None,None,None,None,None,None,4
453316,163816,202246.0,116.54,39.75,116.27,40.00,0.367967,48610,900,7289,...,11,47419,1000,7894,7,None,None,None,None,7
453317,2765282,129567.0,116.24,40.03,116.14,39.75,0.297321,48660,1100,7118,...,None,None,None,None,None,None,None,None,None,1
453318,3353668,NaN,116.32,39.83,116.42,39.90,0.122066,20743,2100,2965,...,1,None,None,None,None,None,None,None,None,10
453319,3349757,112282.0,116.47,39.89,116.40,39.91,0.072801,9006,400,2105,...,6,8823,600,2738,7,None,None,None,None,2
453320,1991199,130150.0,116.33,39.94,116.39,39.89,0.078102,12080,400,2701,...,None,None,None,None,None,None,None,None,None,2
453321,2178623,181977.0,116.36,39.90,116.42,39.95,0.078102,11668,400,2298,...,None,None,None,None,None,None,None,None,None,2
453322,2949567,NaN,116.35,39.92,116.35,39.92,0.000000,269,,269,...,None,None,None,None,None,None,None,None,None,5
453323,1953641,115654.0,116.37,39.86,116.56,39.78,0.206155,26694,600,3541,...,7,None,None,None,None,None,None,None,None,2
453324,3201419,NaN,116.41,40.10,116.44,40.12,0.036056,4453,2000,933,...,1,4452,,3994,5,None,None,None,None,1
453325,1658365,188398.0,116.39,39.92,116.35,40.00,0.089443,21918,500,4378,...,7,16456,500,6025,1,None,None,None,None,9
453326,625863,NaN,116.33,39.93,116.32,39.89,0.041231,9645,,1157,...,2,9654,400,3173,1,None,None,None,None,1
453327,1666359,104686.0,116.37,39.91,116.33,39.99,0.089443,11868,400,2133,...,None,None,None,None,None,None,None,None,None,2
453328,884016,NaN,116.41,39.91,116.40,39.93,0.022361,3720,200,1891,...,5,3120,200,2172,1,None,None,None,None,1
453329,2333615,200530.0,116.57,39.91,116.42,39.90,0.150333,14316,500,2680,...,7,None,None,None,None,None,None,None,None,2
453330,277011,212050.0,116.40,39.98,116.56,40.02,0.164924,19040,600,4233,...,None,None,None,None,None,None,None,None,None,7
453331,850424,122177.0,116.15,39.72,116.28,39.84,0.176918,25155,800,3685,...,10,28989,800,4377,1,None,None,None,None,7
453332,3136563,113317.0,116.54,40.07,116.38,39.94,0.206155,29571,600,4449,...,2,29845,700,5658,7,None,None,None,None,2
453333,722748,193800.0,116.17,39.71,116.20,39.75,0.050000,7634,,2308,...,None,None,None,None,None,None,None,None,None,6
453334,1594185,NaN,116.32,40.06,116.16,40.23,0.233452,26955,,2084,...,None,None,None,None,None,None,None,None,None,3
453335,1795967,101673.0,116.50,39.89,116.37,39.94,0.139284,19329,500,3787,...,1,None,None,None,None,None,None,None,None,4

In [79]:
tqq=tq["click_mode"]
tq=tq.drop("click_mode",axis=1)

In [80]:
test1=pd.read_csv("test_queries.csv")
test2=pd.read_csv("test_plans.csv")
ttt=pd.read_csv("profiles.csv")

In [81]:
test1

           sid       pid             req_time             o             d
0      1126541  178395.0  2018-12-05 14:51:43  116.41,39.92  116.46,39.95
1       453685  179178.0  2018-12-01 12:50:33  116.39,39.90  116.41,39.91
2      2066073  184748.0  2018-12-07 10:17:35  116.37,39.71  116.31,39.89
3       452746  162795.0  2018-12-01 07:52:44  116.33,39.97  116.31,39.98
4      1431672  116384.0  2018-12-06 10:36:30  116.51,39.68  116.51,39.68
5      1362848  191817.0  2018-12-04 20:24:18  116.28,40.05  116.30,39.99
6      2043270  116294.0  2018-12-07 10:18:36  116.32,39.97  116.32,39.97
7      1404698       NaN  2018-12-03 15:02:30  116.37,39.93  116.32,39.79
8      1365075  168113.0  2018-12-04 13:34:40  116.32,40.00  116.22,39.95
9      1344781       NaN  2018-12-04 11:26:53  116.35,39.91  116.37,39.96
10      424850  112198.0  2018-12-01 13:39:48  116.30,39.94  116.34,40.04
11     2081060       NaN  2018-12-07 17:56:46  116.28,40.01  116.30,39.87
12     1366010  172449.0  2018-12-04 14:32:17  116.34,40.08  116.32,39.88
13     1387645       NaN  2018-12-03 12:42:52  116.43,39.94  116.41,39.73
14     1413992       NaN  2018-12-06 19:06:59  116.38,39.97  116.58,40.08
15     1107041       NaN  2018-12-05 18:40:11  116.60,39.91  116.61,39.88
16     1368037  209085.0  2018-12-04 14:46:02  116.31,39.95  116.30,39.94
17     1130965       NaN  2018-12-05 07:44:27  116.47,39.87  116.43,39.86
18     1278014  120344.0  2018-12-02 17:56:20  116.41,39.87  116.43,39.86
19     1378264  213717.0  2018-12-03 14:13:49  116.44,39.94  116.45,39.96
20      468837  116389.0  2018-12-01 18:25:09  116.39,39.99  116.27,40.00
21     1277353       NaN  2018-12-02 22:47:22  116.21,39.97  116.34,40.04
22      446771  182399.0  2018-12-01 09:41:50  116.29,39.91  116.27,40.00
23     1112972       NaN  2018-12-05 11:28:26  116.43,39.91  116.43,39.92
24     2040880       NaN  2018-12-07 19:48:34  116.34,39.87  116.40,39.92
25     1400222  108530.0  2018-12-03 17:51:36  116.36,39.99  116.36,39.99
26     1363902  101054.0  2018-12-04 07:40:25  116.66,39.92  116.43,39.92
27     1260071       NaN  2018-12-02 10:58:02  116.35,39.97  116.35,39.99
28     1253643       NaN  2018-12-02 02:39:32  116.31,39.76  116.59,39.90
29      446954  112198.0  2018-12-01 11:21:04  116.37,39.99  116.40,39.91
...        ...       ...                  ...           ...           ...
94328  1438839       NaN  2018-12-06 10:56:58  116.46,39.95  116.46,39.95
94329  1383602       NaN  2018-12-03 11:55:26  116.47,39.91  116.49,39.93
94330  1341930  128738.0  2018-12-04 12:35:27  116.20,40.14  116.42,39.85
94331  1266096  160797.0  2018-12-02 16:36:13  116.34,39.94  116.39,39.90
94332  1400423       NaN  2018-12-03 13:14:29  116.30,40.05  116.43,39.76
94333  2075141  109533.0  2018-12-07 09:01:33  116.42,39.88  116.34,39.82
94334  1391560       NaN  2018-12-03 17:25:14  116.34,39.89  116.28,39.92
94335  1406263  146526.0  2018-12-03 07:05:07  116.46,39.93  116.60,40.08
94336  1249412  142281.0  2018-12-02 17:19:53  116.33,39.94  116.42,39.90
94337   461835       NaN  2018-12-01 20:51:06  116.42,39.90  116.36,39.88
94338   459408       NaN  2018-12-01 10:25:44  116.10,39.90  116.37,39.86
94339   425789       NaN  2018-12-01 16:57:56  116.46,39.97  116.46,39.98
94340  1357849  181772.0  2018-12-04 10:43:20  116.41,39.91  116.37,39.91
94341   430234       NaN  2018-12-01 17:12:40  116.29,39.88  116.30,39.88
94342  1268545       NaN  2018-12-02 16:23:59  116.30,39.99  116.32,40.00
94343  1414260  108949.0  2018-12-06 21:26:50  116.41,40.05  116.57,39.86
94344  1409037  156329.0  2018-12-03 08:28:29  116.56,40.06  116.35,39.87
94345   445690       NaN  2018-12-01 16:33:55  116.53,40.01  116.45,39.93
94346  1124242       NaN  2018-12-05 10:38:31  116.52,40.01  116.29,39.83
94347   428991  122204.0  2018-12-01 10:49:33  116.50,39.92  116.45,39.86
94348  1282823  186452.0  2018-12-02 15:11:00  116.47,39.92  116.37,39.86
94349  2067128  185363.0  2018-12-07 19:00:33  116.45,39.92  116.47,39.91
94350  1389810       NaN  2018-12-03 19:37:31  116.32,39.94  116.31,39.95
94351  1398208  116397.0  2018-12-03 16:05:23  116.43,39.91  116.37,39.86
94352  1338573  206991.0  2018-12-04 04:39:31  116.42,39.90  116.37,39.90
94353   471555       NaN  2018-12-01 22:32:41  116.34,39.78  116.47,39.95
94354  1123933       NaN  2018-12-05 17:44:49  116.34,39.71  116.34,39.78
94355  1409146  162194.0  2018-12-03 12:02:04  116.25,39.92  116.29,39.91
94356  1338606       NaN  2018-12-04 22:34:20  116.41,40.06  116.33,39.96
94357  1353834       NaN  2018-12-04 11:31:05  116.41,39.92  116.36,39.88

[94358 rows x 5 columns]

In [82]:
test2

,sid,plan_time,plans
0,1112456,2018-12-05 17:39:47,"[{""distance"": 465, ""price"": """", ""eta"": 418, ""t..."
1,1413458,2018-12-06 17:49:17,"[{""distance"": 28846, ""price"": 600, ""eta"": 4779..."
2,1243160,2018-12-02 14:50:25,"[{""distance"": 24646, ""price"": 600, ""eta"": 3513..."
3,2040494,2018-12-07 09:23:45,"[{""distance"": 32235, ""price"": 600, ""eta"": 4072..."
4,1448779,2018-12-06 18:24:46,"[{""distance"": 13502, ""price"": 400, ""eta"": 3195..."
5,1141424,2018-12-05 18:33:37,"[{""distance"": 9608, ""price"": 600, ""eta"": 2934,..."
6,1436593,2018-12-06 13:28:21,"[{""distance"": 9546, ""price"": 400, ""eta"": 2526,..."
7,465869,2018-12-01 13:55:14,"[{""distance"": 18005, ""price"": 2500, ""eta"": 310..."
8,1442656,2018-12-06 20:49:48,"[{""distance"": 9679, ""price"": 400, ""eta"": 2291,..."
9,1403431,2018-12-03 10:43:15,"[{""distance"": 10379, ""price"": 400, ""eta"": 2078..."
10,1369074,2018-12-04 06:25:01,"[{""distance"": 442, ""price"": """", ""eta"": 378, ""t..."
11,1397078,2018-12-03 07:32:31,"[{""distance"": 5496, ""price"": 300, ""eta"": 2148,..."
12,1135424,2018-12-05 09:49:40,"[{""distance"": 6003, ""price"": 200, ""eta"": 3228,..."
13,1416031,2018-12-06 12:31:10,"[{""distance"": 42692, ""price"": 700, ""eta"": 5733..."
14,1145904,2018-12-05 11:36:23,"[{""distance"": 7704, ""price"": 400, ""eta"": 1471,..."
15,460485,2018-12-01 20:31:43,"[{""distance"": 19347, ""price"": 700, ""eta"": 4082..."
16,1269300,2018-12-02 11:24:58,"[{""distance"": 10000, ""price"": 600, ""eta"": 3459..."
17,1135437,2018-12-05 22:20:23,"[{""distance"": 27007, ""price"": """", ""eta"": 3028,..."
18,1384751,2018-12-03 09:55:44,"[{""distance"": 1783, ""price"": 200, ""eta"": 1123,..."
19,1142231,2018-12-05 06:56:50,"[{""distance"": 22807, ""price"": 500, ""eta"": 5322..."
20,1393603,2018-12-03 13:03:54,"[{""distance"": 10007, ""price"": 400, ""eta"": 1381..."
21,1277625,2018-12-02 14:23:12,"[{""distance"": 15394, ""price"": 500, ""eta"": 3706..."
22,453500,2018-12-01 15:50:47,"[{""distance"": 25610, ""price"": 600, ""eta"": 4927..."
23,1262707,2018-12-02 09:32:57,"[{""distance"": 7722, ""price"": 200, ""eta"": 2654,..."
24,2037259,2018-12-07 16:26:56,"[{""distance"": 16435, ""price"": 500, ""eta"": 2517..."
25,1435935,2018-12-06 13:12:33,"[{""distance"": 7779, ""price"": 400, ""eta"": 1597,..."
26,1338630,2018-12-04 20:08:19,"[{""distance"": 18444, ""price"": 500, ""eta"": 3676..."
27,451103,2018-12-01 07:57:19,"[{""distance"": 27926, ""price"": 600, ""eta"": 3738..."
28,1445538,2018-12-06 07:52:52,"[{""distance"": 6607, ""price"": 300, ""eta"": 1601,..."
29,1338897,2018-12-04 07:01:08,"[{""distance"": 21603, ""price"": 500, ""eta"": 4136..."
...,...,...,...
92541,1113664,2018-12-05 16:13:04,"[{""distance"": 360, ""price"": """", ""eta"": 306, ""t..."
92542,1385472,2018-12-03 10:56:44,"[{""distance"": 14406, ""price"": 500, ""eta"": 2203..."
92543,2039763,2018-12-07 09:21:00,"[{""distance"": 3186, ""price"": 200, ""eta"": 1342,..."
92544,1113881,2018-12-05 14:05:47,"[{""distance"": 218, ""price"": """", ""eta"": 185, ""t..."
92545,1247056,2018-12-02 14:43:07,"[{""distance"": 57017, ""price"": 1100, ""eta"": 907..."
92546,435850,2018-12-01 20:54:16,"[{""distance"": 27255, ""price"": 600, ""eta"": 2799..."
92547,1243853,2018-12-02 13:52:05,"[{""distance"": 27716, ""price"": 700, ""eta"": 5334..."
92548,1284008,2018-12-02 14:52:41,"[{""distance"": 5269, ""price"": 500, ""eta"": 2583,..."
92549,1122761,2018-12-05 22:30:45,"[{""distance"": 19979, ""price"": """", ""eta"": 1508,..."
92550,435605,2018-12-01 15:16:38,"[{""distance"": 504, ""price"": """", ""eta"": 430, ""t..."
92551,1138104,2018-12-05 19:21:27,"[{""distance"": 4871, ""price"": 300, ""eta"": 1561,..."
92552,2050094,2018-12-07 14:18:53,"[{""distance"": 30264, ""price"": 700, ""eta"": 5086..."
92553,1379811,2018-12-03 05:07:43,"[{""distance"": 25259, ""price"": """", ""eta"": 2665,..."
92554,426643,2018-12-01 12:53:59,"[{""distance"": 10009, ""price"": 400, ""eta"": 4109..."
92555,1442654,2018-12-06 13:23:02,"[{""distance"": 12141, ""price"": 600, ""eta"": 3937..."
92556,461958,2018-12-01 16:29:28,"[{""distance"": 32440, ""price"": 1000, ""eta"": 517..."
92557,1401514,2018-12-03 19:37:03,"[{""distance"": 10810, ""price"": 600, ""eta"": 3019..."
92558,443342,2018-12-01 13:55:48,"[{""distance"": 26191, ""price"": 600, ""eta"": 3841..."
92559,1243121,2018-12-02 10:52:26,"[{""distance"": 31147, ""price"": 700, ""eta"": 6535..."
92560,1142831,2018-12-05 07:25:32,"[{""distance"": 2918, ""price"": 300, ""eta"": 1128,..."
92561,1282762,2018-12-02 15:39:15,"[{""distance"": 9000, ""price"": 400, ""eta"": 1836,..."
92562,1361094,2018-12-04 12:58:37,"[{""distance"": 5219, ""price"": 300, ""eta"": 1552,..."
92563,466021,2018-12-01 12:26:46,"[{""distance"": 9701, ""price"": 400, ""eta"": 2904,..."
92564,461498,2018-12-01 00:18:09,"[{""distance"": 484, ""price"": """", ""eta"": 442, ""t..."
92565,1371504,2018-12-03 11:52:21,"[{""distance"": 25728, ""price"": 900, ""eta"": 5795..."
92566,422062,2018-12-01 17:02:08,"[{""distance"": 34356, ""price"": 700, ""eta"": 3509..."
92567,1401344,2018-12-03 09:32:23,"[{""distance"": 11508, ""price"": 500, ""eta"": 3197..."
92568,454669,2018-12-01 10:29:29,"[{""distance"": 2829, ""price"": 200, ""eta"": 1837,..."
92569,1436151,2018-12-06 07:33:02,"[{""distance"": 11118, ""price"": 400, ""eta"": 2425..."
92570,1275559,2018-12-02 13:56:29,"[{""distance"": 24295, ""price"": 700, ""eta"": 3558..."

In [83]:

new2 = test2["plans"].str.split(",",  expand = True) 

test2['d1']=new2[0]
test2['p1']=new2[1]
test2['e1']=new2[2]
test2['t1']=new2[3]
test2['d2']=new2[4]
test2['p2']=new2[5]
test2['e2']=new2[6]
test2['t2']=new2[7]
test2['d3']=new2[8]
test2['p3']=new2[9]
test2['e3']=new2[10]
test2['t3']=new2[11]
test2['d4']=new2[12]
test2['p4']=new2[13]
test2['e4']=new2[14]
test2['t4']=new2[15]
test2['d5']=new2[16]
test2['p5']=new2[17]
test2['e5']=new2[18]
test2['t5']=new2[19]
test2['d6']=new2[20]
test2['p6']=new2[21]
test2['e6']=new2[22]
test2['t6']=new2[23]
test2['d7']=new2[24]
test2['p7']=new2[25]
test2['e7']=new2[26]
test2['t7']=new2[27]


test2.drop(columns =["plans"], inplace = True) 




test2['d1'] = test2.d1.str.replace(r"[^0-9.]",'')
test2['p1'] = test2.p1.str.replace(r"[^0-9.]",'')
test2['e1'] = test2.e1.str.replace(r"[^0-9.]",'')
test2['t1'] = test2.t1.str.replace(r"[^0-9.]",'')


test2['d2'] = test2.d2.str.replace(r"[^0-9.]",'')
test2['p2'] = test2.p2.str.replace(r"[^0-9.]",'')
test2['e2'] = test2.e2.str.replace(r"[^0-9.]",'')
test2['t2'] = test2.t2.str.replace(r"[^0-9.]",'')


test2['d3'] = test2.d3.str.replace(r"[^0-9.]",'')
test2['p3'] = test2.p3.str.replace(r"[^0-9.]",'')
test2['e3'] = test2.e3.str.replace(r"[^0-9.]",'')
test2['t3'] = test2.t3.str.replace(r"[^0-9.]",'')


test2['d4'] = test2.d4.str.replace(r"[^0-9.]",'')
test2['p4'] = test2.p4.str.replace(r"[^0-9.]",'')
test2['e4'] = test2.e4.str.replace(r"[^0-9.]",'')
test2['t4'] = test2.t4.str.replace(r"[^0-9.]",'')


test2['d5'] = test2.d5.str.replace(r"[^0-9.]",'')
test2['p5'] = test2.p5.str.replace(r"[^0-9.]",'')
test2['e5'] = test2.e5.str.replace(r"[^0-9.]",'')
test2['t5'] = test2.t5.str.replace(r"[^0-9.]",'')


test2['d6'] = test2.d6.str.replace(r"[^0-9.]",'')
test2['p6'] = test2.p6.str.replace(r"[^0-9.]",'')
test2['e6'] = test2.e6.str.replace(r"[^0-9.]",'')
test2['t6'] = test2.t6.str.replace(r"[^0-9.]",'')


test2['d7'] = test2.d7.str.replace(r"[^0-9.]",'')
test2['p7'] = test2.p7.str.replace(r"[^0-9.]",'')
test2['e7'] = test2.e7.str.replace(r"[^0-9.]",'')
test2['t7'] = test2.t7.str.replace(r"[^0-9.]",'')


test2

,sid,plan_time,d1,p1,e1,t1,d2,p2,e2,t2,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
0,1112456,2018-12-05 17:39:47,465,,418,5,465,,140,6,...,None,None,None,None,None,None,None,None,None,None
1,1413458,2018-12-06 17:49:17,28846,600,4779,2,18743,,3098,3,...,8397,1,None,None,None,None,None,None,None,None
2,1243160,2018-12-02 14:50:25,24646,600,3513,2,25598,,3116,3,...,None,None,None,None,None,None,None,None,None,None
3,2040494,2018-12-07 09:23:45,32235,600,4072,2,34869,,4929,3,...,None,None,None,None,None,None,None,None,None,None
4,1448779,2018-12-06 18:24:46,13502,400,3195,2,13330,400,2679,9,...,5048,1,None,None,None,None,None,None,None,None
5,1141424,2018-12-05 18:33:37,9608,600,2934,7,7678,,2322,6,...,3898,1,8059,4700,3946,4,None,None,None,None
6,1436593,2018-12-06 13:28:21,9546,400,2526,2,10748,,2132,3,...,4730,1,None,None,None,None,None,None,None,None
7,465869,2018-12-01 13:55:14,18005,2500,3108,10,18691,,2605,3,...,3422,2,16812,600,4180,7,None,None,None,None
8,1442656,2018-12-06 20:49:48,9679,400,2291,2,9599,,1511,3,...,2380,1,9399,,2842,6,None,None,None,None
9,1403431,2018-12-03 10:43:15,10379,400,2078,2,14214,,1536,3,...,None,None,None,None,None,None,None,None,None,None
10,1369074,2018-12-04 06:25:01,442,,378,5,442,,133,6,...,None,None,None,None,None,None,None,None,None,None
11,1397078,2018-12-03 07:32:31,5496,300,2148,2,5237,,1405,3,...,2928,5,None,None,None,None,None,None,None,None
12,1135424,2018-12-05 09:49:40,6003,200,3228,1,5443,,1645,6,...,None,None,None,None,None,None,None,None,None,None
13,1416031,2018-12-06 12:31:10,42692,700,5733,2,41963,,3750,3,...,7062,2,None,None,None,None,None,None,None,None
14,1145904,2018-12-05 11:36:23,7704,400,1471,2,7326,,1359,3,...,None,None,None,None,None,None,None,None,None,None
15,460485,2018-12-01 20:31:43,19347,700,4082,7,15654,,1992,3,...,4170,2,None,None,None,None,None,None,None,None
16,1269300,2018-12-02 11:24:58,10000,600,3459,7,11083,,1712,3,...,2735,6,10464,400,4172,1,None,None,None,None
17,1135437,2018-12-05 22:20:23,27007,,3028,3,27007,9400,3028,4,...,7727,1,None,None,None,None,None,None,None,None
18,1384751,2018-12-03 09:55:44,1783,200,1123,1,2393,,480,3,...,1468,5,None,None,None,None,None,None,None,None
19,1142231,2018-12-05 06:56:50,22807,500,5322,2,19728,,2182,3,...,5458,1,None,None,None,None,None,None,None,None
20,1393603,2018-12-03 13:03:54,10007,400,1381,2,14962,,1460,3,...,None,None,None,None,None,None,None,None,None,None
21,1277625,2018-12-02 14:23:12,15394,500,3706,2,14301,,2090,3,...,5277,1,None,None,None,None,None,None,None,None
22,453500,2018-12-01 15:50:47,25610,600,4927,1,33095,,2246,3,...,4457,1,None,None,None,None,None,None,None,None
23,1262707,2018-12-02 09:32:57,7722,200,2654,1,6029,,918,3,...,3079,1,None,None,None,None,None,None,None,None
24,2037259,2018-12-07 16:26:56,16435,500,2517,2,18996,,3568,3,...,None,None,None,None,None,None,None,None,None,None
25,1435935,2018-12-06 13:12:33,7779,400,1597,2,5446,,1190,3,...,2107,1,4278,,3844,5,None,None,None,None
26,1338630,2018-12-04 20:08:19,18444,500,3676,2,12922,,2301,3,...,None,None,None,None,None,None,None,None,None,None
27,451103,2018-12-01 07:57:19,27926,600,3738,2,29415,,3130,3,...,None,None,None,None,None,None,None,None,None,None
28,1445538,2018-12-06 07:52:52,6607,300,1601,2,6236,,1692,3,...,None,None,None,None,None,None,None,None,None,None
29,1338897,2018-12-04 07:01:08,21603,500,4136,2,23153,4000,3120,10,...,4080,4,20383,700,4556,7,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92541,1113664,2018-12-05 16:13:04,360,,306,5,518,,155,6,...,None,None,None,None,None,None,None,None,None,None
92542,1385472,2018-12-03 10:56:44,14406,500,2203,2,16747,,2666,3,...,None,None,None,None,None,None,None,None,None,None
92543,2039763,2018-12-07 09:21:00,3186,200,1342,1,3190,,592,3,...,1377,1,3081,,2729,5,None,None,None,None
92544,1113881,2018-12-05 14:05:47,218,,185,5,7,,43,3,...,None,None,None,None,None,None,None,None,None,None
92545,1247056,2018-12-02 14:43:07,57017,1100,9079,7,48808,,4553,3,...,9364,7,None,None,None,None,None,None,None,None
92546,435850,2018-12-01 20:54:16,27255,600,2799,2,25452,,1951,3,...,None,None,None,None,None,None,None,None,None,None
92547,1243853,2018-12-02 13:52:05,27716,700,5334,7,36182,,3695,3,...,None,None,None,None,None,None,None,None,None,None
92548,1284008,2018-12-02 14:52:41,5269,500,2583,7,3767,,596,3,...,2615,1,3826,,3386,5,None,None,None,None
92549,1122761,2018-12-05 22:30:45,19979,,1508,3,19979,6400,1628,4,...,None,None,None,None,None,None,None,None,None,None
92550,435605,2018-12-01 15:16:38,504,,430,5,504,,149,6,...,None,None,None,None,None,None,None,None,None,None
92551,1138104,2018-12-05 19:21:27,4871,300,1561,2,4294,,1297,6,...,2348,4,4058,,3664,5,None,None,None,None
92552,2050094,2018-12-07 14:18:53,30264,700,5086,7,26743,,2486,3,...,None,None,None,None,None,None,None,None,None,None
92553,1379811,2018-12-03 05:07:43,25259,,2665,3,25259,8000,2785,4,...,7087,1,None,None,None,None,None,None,None,None
92554,426643,2018-12-01 12:53:59,10009,400,4109,1,10666,,1922,3,...,4283,1,None,None,None,None,None,None,None,None
92555,1442654,2018-12-06 13:23:02,12141,600,3937,7,11440,,2719,3,...,3551,10,11506,400,5166,1,None,None,None,None
92556,461958,2018-12-01 16:29:28,32440,1000,5179,7,27371,,3442,3,...,None,None,None,None,None,None,None,None,None,None
92557,1401514,2018-12-03 19:37:03,10810,600,3019,7,7520,,735,3,...,2409,9,7734,200,3411,1,None,None,None,None
92558,443342,2018-12-01 13:55:48,26191,600,3841,2,24556,,3881,3,...,None,None,None,None,None,None,None,None,None,None
92559,1243121,2018-12-02 10:52:26,31147,700,6535,1,30128,,3818,3,...,None,None,None,None,None,None,None,None,None,None
92560,1142831,2018-12-05 07:25:32,2918,300,1128,2,2146,,643,6,...,1851,5,None,None,None,None,None,None,None,None
92561,1282762,2018-12-02 15:39:15,9000,400,1836,2,8267,,1660,3,...,None,None,None,None,None,None,None,None,None,None
92562,1361094,2018-12-04 12:58:37,5219,300,1552,2,4854,,1251,3,...,2213,1,4762,,4307,5,None,None,None,None
92563,466021,2018-12-01 12:26:46,9701,400,2904,2,9192,,2305,3,...,2588,9,9037,500,3487,7,None,None,None,None
92564,461498,2018-12-01 00:18:09,484,,442,5,595,,155,3,...,None,None,None,None,None,None,None,None,None,None
92565,1371504,2018-12-03 11:52:21,25728,900,5795,7,34807,,2488,3,...,6308,7,None,None,None,None,None,None,None,None
92566,422062,2018-12-01 17:02:08,34356,700,3509,2,41553,,4122,3,...,None,None,None,None,None,None,None,None,None,None
92567,1401344,2018-12-03 09:32:23,11508,500,3197,7,11182,,1829,3,...,3409,1,None,None,None,None,None,None,None,None
92568,454669,2018-12-01 10:29:29,2829,200,1837,1,2792,,843,6,...,1891,1,2501,,2248,5,None,None,None,None
92569,1436151,2018-12-06 07:33:02,11118,400,2425,2,9981,,3317,3,...,None,None,None,None,None,None,None,None,None,None
92570,1275559,2018-12-02 13:56:29,24295,700,3558,7,22912,,1800,3,...,3716,9,24277,700,3735,7,None,None,None,None

In [84]:
new = test1["o"].str.split(",", n = 1, expand = True) 
test1["ol"]= new[0] 
  
# making separate last name column from new data frame 
test1["oa"]= new[1]
test1.drop(columns =["o"], inplace = True)

new1 = test1["d"].str.split(",", n = 1, expand = True) 
test1["dl"]= new1[0] 
  
# making separate last name column from new data frame 
test1["da"]= new1[1] 
test1.drop(columns =["d"], inplace = True) 

test1.sort_values(by=['sid'])

           sid       pid             req_time      ol     oa      dl     da
84076   420123       NaN  2018-12-01 18:31:03  116.28  39.91  116.40  40.00
82148   420125       NaN  2018-12-01 21:43:33  116.40  40.00  116.27  39.92
47603   420127       NaN  2018-12-01 18:28:23  116.28  39.91  116.40  40.00
40437   420129       NaN  2018-12-01 18:37:44  116.28  39.92  116.40  40.00
79062   420134  114321.0  2018-12-01 18:01:41  116.46  39.56  116.44  39.56
58629   420144  115142.0  2018-12-01 20:32:50  116.43  39.94  116.58  40.08
18552   420145  199018.0  2018-12-01 06:37:23  116.31  40.07  116.40  39.90
9949    420146  199018.0  2018-12-01 07:26:02  116.41  39.90  116.40  39.90
21492   420149  199018.0  2018-12-01 06:36:07  116.31  40.07  116.40  39.90
57171   420150  199018.0  2018-12-01 11:15:29  116.41  39.94  116.30  40.09
16802   420151  199018.0  2018-12-01 06:36:05  116.40  39.90  116.31  40.07
7804    420152  199018.0  2018-12-01 06:12:09  116.31  40.09  116.40  39.90
65478   420154  125835.0  2018-12-01 13:54:53  116.41  40.00  116.42  40.00
66747   420162  167770.0  2018-12-01 20:46:49  116.30  39.99  116.32  39.91
31558   420166  127128.0  2018-12-01 08:46:55  116.29  39.96  116.19  39.99
38393   420168  192610.0  2018-12-01 14:58:23  116.46  39.86  116.54  39.93
53537   420169  193614.0  2018-12-01 20:16:35  116.41  40.00  116.45  39.89
33442   420171       NaN  2018-12-01 15:16:33  116.42  39.90  116.32  39.89
43157   420178  105165.0  2018-12-01 15:58:54  116.43  39.89  116.32  39.89
74891   420179  105165.0  2018-12-01 15:04:10  116.48  40.00  116.32  39.89
72030   420180  105165.0  2018-12-01 07:03:02  116.55  40.09  116.32  39.89
72061   420182  136565.0  2018-12-01 10:34:08  116.36  40.00  116.51  39.76
65483   420188  116511.0  2018-12-01 08:26:30  116.33  39.73  116.45  39.86
56149   420189  198457.0  2018-12-01 07:23:16  116.33  39.72  116.32  39.71
24022   420191       NaN  2018-12-01 09:14:08  116.50  39.86  116.22  39.90
30919   420192       NaN  2018-12-01 19:21:32  116.51  39.92  116.51  39.92
33100   420200  167770.0  2018-12-01 09:39:18  116.31  40.09  116.39  39.92
61334   420202  167770.0  2018-12-01 12:03:10  116.39  39.93  116.40  39.93
54612   420204  167770.0  2018-12-01 21:32:50  116.31  40.09  116.33  40.08
2320    420206  167770.0  2018-12-01 14:55:30  116.40  39.91  116.32  40.09
...        ...       ...                  ...     ...    ...     ...    ...
27022  2081051       NaN  2018-12-07 18:46:37  116.30  39.92  116.30  39.87
51209  2081052       NaN  2018-12-07 23:42:47  116.30  39.87  116.31  40.04
68227  2081054       NaN  2018-12-07 18:51:25  116.30  39.91  116.30  39.87
75294  2081056       NaN  2018-12-07 18:40:51  116.30  39.93  116.30  39.87
46537  2081057       NaN  2018-12-07 18:10:07  116.30  39.96  116.30  39.87
88645  2081058       NaN  2018-12-07 23:20:21  116.30  39.87  116.31  40.04
11     2081060       NaN  2018-12-07 17:56:46  116.28  40.01  116.30  39.87
18900  2081064       NaN  2018-12-07 13:24:59  116.33  39.89  116.36  39.89
68529  2081067  180275.0  2018-12-07 10:08:25  116.32  39.83  116.30  39.84
81538  2081068  180275.0  2018-12-07 09:57:18  116.34  39.80  116.30  39.84
37046  2081069       NaN  2018-12-07 12:18:41  116.22  39.90  116.11  39.93
66417  2081070       NaN  2018-12-07 09:06:41  116.16  39.92  116.22  39.90
31033  2081071  151490.0  2018-12-07 18:18:23  116.31  39.89  116.32  39.89
20767  2081072  151490.0  2018-12-07 14:54:25  116.32  39.90  116.31  39.88
62096  2081080  192387.0  2018-12-07 12:59:53  116.44  39.83  116.45  39.85
60596  2081081       NaN  2018-12-07 16:26:29  116.47  39.87  116.42  39.95
57436  2081100  180178.0  2018-12-07 20:31:13  116.31  40.03  116.51  39.92
59770  2081101  211321.0  2018-12-07 16:26:49  116.20  40.17  116.37  39.91
13105  2081109  202467.0  2018-12-07 14:57:56  116.31  39.99  116.37  39.91
81275  2081111  202467.0  2018-12-07 15:32:26  116.37  39.91  116.37  39.91
88578  2081112  202467.0  2018-12-07 14:41:39  116.32  39.99  116.37  39.91
63999  2081123  188988.0  2018-12-07 08:49:41  116.58  40.13  116.41  39.73
217    2081127       NaN  2018-12-07 18:56:49  116.16  39.81  116.22  40.21
3609   2081128       NaN  2018-12-07 16:16:41  116.33  39.73  116.34  39.90
18323  2081135       NaN  2018-12-07 12:57:47  116.45  39.90  116.63  39.90
27964  2081138       NaN  2018-12-07 17:57:55  116.29  39.82  116.61  40.05
64366  2081151  116844.0  2018-12-07 18:27:27  116.26  39.96  116.31  40.10
53153  2081158  174155.0  2018-12-07 13:02:54  116.41  39.98  116.38  39.94
56871  2081163  156484.0  2018-12-07 06:37:08  116.17  39.92  116.45  39.93
37626  2081167  111894.0  2018-12-07 09:54:10  116.34  39.82  116.52  39.81

[94358 rows x 7 columns]

In [85]:
test1['ol']=test1['ol'].astype(float)
test1['oa']=test1['oa'].astype(float)
test1['dl']=test1['dl'].astype(float)
test1['da']=test1['da'].astype(float)

test1['distance_math']=np.sqrt(pow((test1['ol']-test1['dl']),2)+pow((test1['oa']-test1['da']),2))

In [86]:
test1

,sid,pid,req_time,ol,oa,dl,da,distance_math
0,1126541,178395.0,2018-12-05 14:51:43,116.41,39.92,116.46,39.95,0.058310
1,453685,179178.0,2018-12-01 12:50:33,116.39,39.90,116.41,39.91,0.022361
2,2066073,184748.0,2018-12-07 10:17:35,116.37,39.71,116.31,39.89,0.189737
3,452746,162795.0,2018-12-01 07:52:44,116.33,39.97,116.31,39.98,0.022361
4,1431672,116384.0,2018-12-06 10:36:30,116.51,39.68,116.51,39.68,0.000000
5,1362848,191817.0,2018-12-04 20:24:18,116.28,40.05,116.30,39.99,0.063246
6,2043270,116294.0,2018-12-07 10:18:36,116.32,39.97,116.32,39.97,0.000000
7,1404698,NaN,2018-12-03 15:02:30,116.37,39.93,116.32,39.79,0.148661
8,1365075,168113.0,2018-12-04 13:34:40,116.32,40.00,116.22,39.95,0.111803
9,1344781,NaN,2018-12-04 11:26:53,116.35,39.91,116.37,39.96,0.053852
10,424850,112198.0,2018-12-01 13:39:48,116.30,39.94,116.34,40.04,0.107703
11,2081060,NaN,2018-12-07 17:56:46,116.28,40.01,116.30,39.87,0.141421
12,1366010,172449.0,2018-12-04 14:32:17,116.34,40.08,116.32,39.88,0.200998
13,1387645,NaN,2018-12-03 12:42:52,116.43,39.94,116.41,39.73,0.210950
14,1413992,NaN,2018-12-06 19:06:59,116.38,39.97,116.58,40.08,0.228254
15,1107041,NaN,2018-12-05 18:40:11,116.60,39.91,116.61,39.88,0.031623
16,1368037,209085.0,2018-12-04 14:46:02,116.31,39.95,116.30,39.94,0.014142
17,1130965,NaN,2018-12-05 07:44:27,116.47,39.87,116.43,39.86,0.041231
18,1278014,120344.0,2018-12-02 17:56:20,116.41,39.87,116.43,39.86,0.022361
19,1378264,213717.0,2018-12-03 14:13:49,116.44,39.94,116.45,39.96,0.022361
20,468837,116389.0,2018-12-01 18:25:09,116.39,39.99,116.27,40.00,0.120416
21,1277353,NaN,2018-12-02 22:47:22,116.21,39.97,116.34,40.04,0.147648
22,446771,182399.0,2018-12-01 09:41:50,116.29,39.91,116.27,40.00,0.092195
23,1112972,NaN,2018-12-05 11:28:26,116.43,39.91,116.43,39.92,0.010000
24,2040880,NaN,2018-12-07 19:48:34,116.34,39.87,116.40,39.92,0.078102
25,1400222,108530.0,2018-12-03 17:51:36,116.36,39.99,116.36,39.99,0.000000
26,1363902,101054.0,2018-12-04 07:40:25,116.66,39.92,116.43,39.92,0.230000
27,1260071,NaN,2018-12-02 10:58:02,116.35,39.97,116.35,39.99,0.020000
28,1253643,NaN,2018-12-02 02:39:32,116.31,39.76,116.59,39.90,0.313050
29,446954,112198.0,2018-12-01 11:21:04,116.37,39.99,116.40,39.91,0.085440
...,...,...,...,...,...,...,...,...
94328,1438839,NaN,2018-12-06 10:56:58,116.46,39.95,116.46,39.95,0.000000
94329,1383602,NaN,2018-12-03 11:55:26,116.47,39.91,116.49,39.93,0.028284
94330,1341930,128738.0,2018-12-04 12:35:27,116.20,40.14,116.42,39.85,0.364005
94331,1266096,160797.0,2018-12-02 16:36:13,116.34,39.94,116.39,39.90,0.064031
94332,1400423,NaN,2018-12-03 13:14:29,116.30,40.05,116.43,39.76,0.317805
94333,2075141,109533.0,2018-12-07 09:01:33,116.42,39.88,116.34,39.82,0.100000
94334,1391560,NaN,2018-12-03 17:25:14,116.34,39.89,116.28,39.92,0.067082
94335,1406263,146526.0,2018-12-03 07:05:07,116.46,39.93,116.60,40.08,0.205183
94336,1249412,142281.0,2018-12-02 17:19:53,116.33,39.94,116.42,39.90,0.098489
94337,461835,NaN,2018-12-01 20:51:06,116.42,39.90,116.36,39.88,0.063246
94338,459408,NaN,2018-12-01 10:25:44,116.10,39.90,116.37,39.86,0.272947
94339,425789,NaN,2018-12-01 16:57:56,116.46,39.97,116.46,39.98,0.010000
94340,1357849,181772.0,2018-12-04 10:43:20,116.41,39.91,116.37,39.91,0.040000
94341,430234,NaN,2018-12-01 17:12:40,116.29,39.88,116.30,39.88,0.010000
94342,1268545,NaN,2018-12-02 16:23:59,116.30,39.99,116.32,40.00,0.022361
94343,1414260,108949.0,2018-12-06 21:26:50,116.41,40.05,116.57,39.86,0.248395
94344,1409037,156329.0,2018-12-03 08:28:29,116.56,40.06,116.35,39.87,0.283196
94345,445690,NaN,2018-12-01 16:33:55,116.53,40.01,116.45,39.93,0.113137
94346,1124242,NaN,2018-12-05 10:38:31,116.52,40.01,116.29,39.83,0.292062
94347,428991,122204.0,2018-12-01 10:49:33,116.50,39.92,116.45,39.86,0.078102
94348,1282823,186452.0,2018-12-02 15:11:00,116.47,39.92,116.37,39.86,0.116619
94349,2067128,185363.0,2018-12-07 19:00:33,116.45,39.92,116.47,39.91,0.022361
94350,1389810,NaN,2018-12-03 19:37:31,116.32,39.94,116.31,39.95,0.014142
94351,1398208,116397.0,2018-12-03 16:05:23,116.43,39.91,116.37,39.86,0.078102
94352,1338573,206991.0,2018-12-04 04:39:31,116.42,39.90,116.37,39.90,0.050000
94353,471555,NaN,2018-12-01 22:32:41,116.34,39.78,116.47,39.95,0.214009
94354,1123933,NaN,2018-12-05 17:44:49,116.34,39.71,116.34,39.78,0.070000
94355,1409146,162194.0,2018-12-03 12:02:04,116.25,39.92,116.29,39.91,0.041231
94356,1338606,NaN,2018-12-04 22:34:20,116.41,40.06,116.33,39.96,0.128062
94357,1353834,NaN,2018-12-04 11:31:05,116.41,39.92,116.36,39.88,0.064031

In [87]:
test1=test1.merge(test2)

In [88]:
test1

,sid,pid,req_time,ol,oa,dl,da,distance_math,plan_time,d1,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
0,1126541,178395.0,2018-12-05 14:51:43,116.41,39.92,116.46,39.95,0.058310,2018-12-05 14:51:43,13610,...,2499,6,8506,500,3287,7,None,None,None,None
1,453685,179178.0,2018-12-01 12:50:33,116.39,39.90,116.41,39.91,0.022361,2018-12-01 12:50:33,2858,...,1889,1,2112,,1897,5,None,None,None,None
2,2066073,184748.0,2018-12-07 10:17:35,116.37,39.71,116.31,39.89,0.189737,2018-12-07 10:17:35,33453,...,6514,1,None,None,None,None,None,None,None,None
3,452746,162795.0,2018-12-01 07:52:44,116.33,39.97,116.31,39.98,0.022361,2018-12-01 07:52:44,4007,...,2328,1,3274,,3013,5,None,None,None,None
4,1431672,116384.0,2018-12-06 10:36:30,116.51,39.68,116.51,39.68,0.000000,2018-12-06 10:36:30,692,...,None,None,None,None,None,None,None,None,None,None
5,1362848,191817.0,2018-12-04 20:24:18,116.28,40.05,116.30,39.99,0.063246,2018-12-04 20:24:18,11515,...,3545,11,None,None,None,None,None,None,None,None
6,2043270,116294.0,2018-12-07 10:18:36,116.32,39.97,116.32,39.97,0.000000,2018-12-07 10:18:36,87,...,None,None,None,None,None,None,None,None,None,None
7,1404698,NaN,2018-12-03 15:02:30,116.37,39.93,116.32,39.79,0.148661,2018-12-03 15:02:30,18454,...,None,None,None,None,None,None,None,None,None,None
8,1365075,168113.0,2018-12-04 13:34:40,116.32,40.00,116.22,39.95,0.111803,2018-12-04 13:34:40,17089,...,5924,1,None,None,None,None,None,None,None,None
9,1344781,NaN,2018-12-04 11:26:53,116.35,39.91,116.37,39.96,0.053852,2018-12-04 11:26:53,7439,...,2405,9,8824,400,4433,1,None,None,None,None
10,424850,112198.0,2018-12-01 13:39:48,116.30,39.94,116.34,40.04,0.107703,2018-12-01 13:39:48,24307,...,None,None,None,None,None,None,None,None,None,None
11,2081060,NaN,2018-12-07 17:56:46,116.28,40.01,116.30,39.87,0.141421,2018-12-07 17:56:46,19706,...,6265,1,None,None,None,None,None,None,None,None
12,1366010,172449.0,2018-12-04 14:32:17,116.34,40.08,116.32,39.88,0.200998,2018-12-04 14:32:17,35058,...,8266,1,None,None,None,None,None,None,None,None
13,1387645,NaN,2018-12-03 12:42:52,116.43,39.94,116.41,39.73,0.210950,2018-12-03 12:42:52,38545,...,None,None,None,None,None,None,None,None,None,None
14,1413992,NaN,2018-12-06 19:06:59,116.38,39.97,116.58,40.08,0.228254,2018-12-06 19:06:59,26622,...,None,None,None,None,None,None,None,None,None,None
15,1107041,NaN,2018-12-05 18:40:11,116.60,39.91,116.61,39.88,0.031623,2018-12-05 18:40:11,6570,...,3909,5,None,None,None,None,None,None,None,None
16,1368037,209085.0,2018-12-04 14:46:02,116.31,39.95,116.30,39.94,0.014142,2018-12-04 14:46:02,2863,...,2254,1,2859,,2506,5,None,None,None,None
17,1130965,NaN,2018-12-05 07:44:27,116.47,39.87,116.43,39.86,0.041231,2018-12-05 07:44:27,5356,...,2393,1,5359,200,2896,1,None,None,None,None
18,1278014,120344.0,2018-12-02 17:56:20,116.41,39.87,116.43,39.86,0.022361,2018-12-02 17:56:20,2345,...,1596,2,1963,,1800,5,None,None,None,None
19,1378264,213717.0,2018-12-03 14:13:49,116.44,39.94,116.45,39.96,0.022361,2018-12-03 14:13:49,3822,...,2404,7,3457,,3107,5,None,None,None,None
20,468837,116389.0,2018-12-01 18:25:09,116.39,39.99,116.27,40.00,0.120416,2018-12-01 18:25:09,14708,...,None,None,None,None,None,None,None,None,None,None
21,1277353,NaN,2018-12-02 22:47:22,116.21,39.97,116.34,40.04,0.147648,2018-12-02 22:47:22,22011,...,None,None,None,None,None,None,None,None,None,None
22,446771,182399.0,2018-12-01 09:41:50,116.29,39.91,116.27,40.00,0.092195,2018-12-01 09:41:50,18901,...,4292,1,None,None,None,None,None,None,None,None
23,1112972,NaN,2018-12-05 11:28:26,116.43,39.91,116.43,39.92,0.010000,2018-12-05 11:28:26,759,...,None,None,None,None,None,None,None,None,None,None
24,2040880,NaN,2018-12-07 19:48:34,116.34,39.87,116.40,39.92,0.078102,2018-12-07 19:48:34,12514,...,4894,1,None,None,None,None,None,None,None,None
25,1400222,108530.0,2018-12-03 17:51:36,116.36,39.99,116.36,39.99,0.000000,2018-12-03 17:51:36,757,...,None,None,None,None,None,None,None,None,None,None
26,1363902,101054.0,2018-12-04 07:40:25,116.66,39.92,116.43,39.92,0.230000,2018-12-04 07:40:25,20834,...,None,None,None,None,None,None,None,None,None,None
27,1260071,NaN,2018-12-02 10:58:02,116.35,39.97,116.35,39.99,0.020000,2018-12-02 10:58:02,2169,...,1766,5,None,None,None,None,None,None,None,None
28,1253643,NaN,2018-12-02 02:39:32,116.31,39.76,116.59,39.90,0.313050,2018-12-02 02:39:32,40601,...,7875,1,None,None,None,None,None,None,None,None
29,446954,112198.0,2018-12-01 11:21:04,116.37,39.99,116.40,39.91,0.085440,2018-12-01 11:21:04,16178,...,3356,10,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92541,1341947,NaN,2018-12-04 18:55:20,116.34,40.00,116.33,40.01,0.014142,2018-12-04 18:55:20,2414,...,1561,5,2017,200,1652,1,None,None,None,None
92542,1359434,103842.0,2018-12-04 10:23:14,116.40,39.99,116.40,39.95,0.040000,2018-12-04 10:23:14,5344,...,2157,1,4825,,4252,5,None,None,None,None
92543,1438839,NaN,2018-12-06 10:56:58,116.46,39.95,116.46,39.95,0.000000,2018-12-06 10:56:58,720,...,None,None,None,None,None,None,None,None,None,None
92544,1383602,NaN,2018-12-03 11:55:26,116.47,39.91,116.49,39.93,0.028284,2018-12-03 11:55:26,4939,...,2284,2,4036,,3645,5,None,None,None,None
92545,1341930,128738.0,2018-12-04 12:35:27,116.20,40.14,116.42,39.85,0.364005,2018-12-04 12:35:27,49856,...,None,None,None,None,None,None,None,None,None,None
92546,1266096,160797.0,2018-12-02 16:36:13,116.34,39.94,116.39,39.90,0.064031,2018-12-02 16:36:13,10283,...,None,None,None,None,None,None,None,None,None,None
92547,1400423,NaN,2018-12-03 13:14:29,116.30,40.05,116.43,39.76,0.317805,2018-12-03 13:14:29,55137,...,None,None,None,None,None,None,None,None,None,None
92548,2075141,109533.0,2018-12-07 09:01:33,116.42,39.88,116.34,39.82,0.100000,2018-12-07 09:01:33,14939,...,None,None,None,None,None,None,None,None,None,None
92549,1391560,NaN,2018-12-03 17:25:14,116.34,39.89,116.28,39.92,0.067082,2018-12-03 17:25:14,10975,...,3879,1,9674,200,4090,1,None,None,None,None
92550,1406263,146526.0,2018-12-03 07:05:07,116.46,39.93,116.60,40.08,0.205183,2018-12-03 07:05:07,22211,...,None,None,None,None,None,None,None,None,None,None
92551,1249412,142281.0,2018-12-02 17:19:53,116.33,39.94,116.42,39.90,0.098489,2018-12-02 17:19:53,12612,...,None,None,None,None,None,None,None,None,None,None
92552,459408,NaN,2018-12-01 10:25:44,116.10,39.90,116.37,39.86,0.272947,2018-12-01 10:25:44,29535,...,6853,1,None,None,None,None,None,None,None,None
92553,425789,NaN,2018-12-01 16:57:56,116.46,39.97,116.46,39.98,0.010000,2018-12-01 16:57:56,1406,...,None,None,None,None,None,None,None,None,None,None
92554,1357849,181772.0,2018-12-04 10:43:20,116.41,39.91,116.37,39.91,0.040000,2018-12-04 10:43:20,4106,...,None,None,None,None,None,None,None,None,None,None
92555,430234,NaN,2018-12-01 17:12:40,116.29,39.88,116.30,39.88,0.010000,2018-12-01 17:12:40,612,...,None,None,None,None,None,None,None,None,None,None
92556,1268545,NaN,2018-12-02 16:23:59,116.30,39.99,116.32,40.00,0.022361,2018-12-02 16:23:59,1474,...,1235,1,1408,,1276,5,None,None,None,None
92557,1414260,108949.0,2018-12-06 21:26:50,116.41,40.05,116.57,39.86,0.248395,2018-12-06 21:26:50,35288,...,None,None,None,None,None,None,None,None,None,None
92558,1409037,156329.0,2018-12-03 08:28:29,116.56,40.06,116.35,39.87,0.283196,2018-12-03 08:28:29,44774,...,None,None,None,None,None,None,None,None,None,None
92559,445690,NaN,2018-12-01 16:33:55,116.53,40.01,116.45,39.93,0.113137,2018-12-01 16:33:55,14333,...,None,None,None,None,None,None,None,None,None,None
92560,1124242,NaN,2018-12-05 10:38:31,116.52,40.01,116.29,39.83,0.292062,2018-12-05 10:38:31,45993,...,None,None,None,None,None,None,None,None,None,None
92561,428991,122204.0,2018-12-01 10:49:33,116.50,39.92,116.45,39.86,0.078102,2018-12-01 10:49:33,10524,...,3020,6,None,None,None,None,None,None,None,None
92562,1282823,186452.0,2018-12-02 15:11:00,116.47,39.92,116.37,39.86,0.116619,2018-12-02 15:11:00,15555,...,None,None,None,None,None,None,None,None,None,None
92563,2067128,185363.0,2018-12-07 19:00:33,116.45,39.92,116.47,39.91,0.022361,2018-12-07 19:00:33,4225,...,2784,5,None,None,None,None,None,None,None,None
92564,1389810,NaN,2018-12-03 19:37:31,116.32,39.94,116.31,39.95,0.014142,2018-12-03 19:37:31,2366,...,1815,5,2504,200,1896,1,None,None,None,None
92565,1398208,116397.0,2018-12-03 16:05:23,116.43,39.91,116.37,39.86,0.078102,2018-12-03 16:05:23,10369,...,None,None,None,None,None,None,None,None,None,None
92566,471555,NaN,2018-12-01 22:32:41,116.34,39.78,116.47,39.95,0.214009,2018-12-01 22:32:41,28555,...,6244,7,None,None,None,None,None,None,None,None
92567,1123933,NaN,2018-12-05 17:44:49,116.34,39.71,116.34,39.78,0.070000,2018-12-05 17:44:49,10469,...,4634,1,None,None,None,None,None,None,None,None
92568,1409146,162194.0,2018-12-03 12:02:04,116.25,39.92,116.29,39.91,0.041231,2018-12-03 12:02:04,6333,...,2444,7,4913,,4537,5,None,None,None,None
92569,1338606,NaN,2018-12-04 22:34:20,116.41,40.06,116.33,39.96,0.128062,2018-12-04 22:34:20,18235,...,5604,7,None,None,None,None,None,None,None,None
92570,1353834,NaN,2018-12-04 11:31:05,116.41,39.92,116.36,39.88,0.064031,2018-12-04 11:31:05,9836,...,3918,11,9815,200,3949,1,None,None,None,None

In [89]:
test1=test1.drop("req_time",axis=1)
#test2=test2.drop("plan_time",axis=1)
#test2=test2.drop("click_time",axis=1)

In [90]:
test1=test1.drop("plan_time",axis=1)

test1

,sid,pid,ol,oa,dl,da,distance_math,d1,p1,e1,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
0,1126541,178395.0,116.41,39.92,116.46,39.95,0.058310,13610,400,2388,...,2499,6,8506,500,3287,7,None,None,None,None
1,453685,179178.0,116.39,39.90,116.41,39.91,0.022361,2858,200,1798,...,1889,1,2112,,1897,5,None,None,None,None
2,2066073,184748.0,116.37,39.71,116.31,39.89,0.189737,33453,800,5624,...,6514,1,None,None,None,None,None,None,None,None
3,452746,162795.0,116.33,39.97,116.31,39.98,0.022361,4007,1500,989,...,2328,1,3274,,3013,5,None,None,None,None
4,1431672,116384.0,116.51,39.68,116.51,39.68,0.000000,692,,591,...,None,None,None,None,None,None,None,None,None,None
5,1362848,191817.0,116.28,40.05,116.30,39.99,0.063246,11515,300,3473,...,3545,11,None,None,None,None,None,None,None,None
6,2043270,116294.0,116.32,39.97,116.32,39.97,0.000000,87,,74,...,None,None,None,None,None,None,None,None,None,None
7,1404698,NaN,116.37,39.93,116.32,39.79,0.148661,18454,500,2388,...,None,None,None,None,None,None,None,None,None,None
8,1365075,168113.0,116.32,40.00,116.22,39.95,0.111803,17089,400,5027,...,5924,1,None,None,None,None,None,None,None,None
9,1344781,NaN,116.35,39.91,116.37,39.96,0.053852,7439,200,3149,...,2405,9,8824,400,4433,1,None,None,None,None
10,424850,112198.0,116.30,39.94,116.34,40.04,0.107703,24307,600,4648,...,None,None,None,None,None,None,None,None,None,None
11,2081060,NaN,116.28,40.01,116.30,39.87,0.141421,19706,900,4563,...,6265,1,None,None,None,None,None,None,None,None
12,1366010,172449.0,116.34,40.08,116.32,39.88,0.200998,35058,800,6566,...,8266,1,None,None,None,None,None,None,None,None
13,1387645,NaN,116.43,39.94,116.41,39.73,0.210950,38545,800,6034,...,None,None,None,None,None,None,None,None,None,None
14,1413992,NaN,116.38,39.97,116.58,40.08,0.228254,26622,2200,5041,...,None,None,None,None,None,None,None,None,None,None
15,1107041,NaN,116.60,39.91,116.61,39.88,0.031623,6570,200,2521,...,3909,5,None,None,None,None,None,None,None,None
16,1368037,209085.0,116.31,39.95,116.30,39.94,0.014142,2863,200,1822,...,2254,1,2859,,2506,5,None,None,None,None
17,1130965,NaN,116.47,39.87,116.43,39.86,0.041231,5356,,1111,...,2393,1,5359,200,2896,1,None,None,None,None
18,1278014,120344.0,116.41,39.87,116.43,39.86,0.022361,2345,200,1529,...,1596,2,1963,,1800,5,None,None,None,None
19,1378264,213717.0,116.44,39.94,116.45,39.96,0.022361,3822,1300,799,...,2404,7,3457,,3107,5,None,None,None,None
20,468837,116389.0,116.39,39.99,116.27,40.00,0.120416,14708,500,2967,...,None,None,None,None,None,None,None,None,None,None
21,1277353,NaN,116.21,39.97,116.34,40.04,0.147648,22011,,1429,...,None,None,None,None,None,None,None,None,None,None
22,446771,182399.0,116.29,39.91,116.27,40.00,0.092195,18901,500,3001,...,4292,1,None,None,None,None,None,None,None,None
23,1112972,NaN,116.43,39.91,116.43,39.92,0.010000,759,,668,...,None,None,None,None,None,None,None,None,None,None
24,2040880,NaN,116.34,39.87,116.40,39.92,0.078102,12514,600,4452,...,4894,1,None,None,None,None,None,None,None,None
25,1400222,108530.0,116.36,39.99,116.36,39.99,0.000000,757,,646,...,None,None,None,None,None,None,None,None,None,None
26,1363902,101054.0,116.66,39.92,116.43,39.92,0.230000,20834,500,2465,...,None,None,None,None,None,None,None,None,None,None
27,1260071,NaN,116.35,39.97,116.35,39.99,0.020000,2169,200,870,...,1766,5,None,None,None,None,None,None,None,None
28,1253643,NaN,116.31,39.76,116.59,39.90,0.313050,40601,,2552,...,7875,1,None,None,None,None,None,None,None,None
29,446954,112198.0,116.37,39.99,116.40,39.91,0.085440,16178,600,3844,...,3356,10,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92541,1341947,NaN,116.34,40.00,116.33,40.01,0.014142,2414,300,1323,...,1561,5,2017,200,1652,1,None,None,None,None
92542,1359434,103842.0,116.40,39.99,116.40,39.95,0.040000,5344,200,1723,...,2157,1,4825,,4252,5,None,None,None,None
92543,1438839,NaN,116.46,39.95,116.46,39.95,0.000000,720,,665,...,None,None,None,None,None,None,None,None,None,None
92544,1383602,NaN,116.47,39.91,116.49,39.93,0.028284,4939,200,2251,...,2284,2,4036,,3645,5,None,None,None,None
92545,1341930,128738.0,116.20,40.14,116.42,39.85,0.364005,49856,1000,8093,...,None,None,None,None,None,None,None,None,None,None
92546,1266096,160797.0,116.34,39.94,116.39,39.90,0.064031,10283,400,2211,...,None,None,None,None,None,None,None,None,None,None
92547,1400423,NaN,116.30,40.05,116.43,39.76,0.317805,55137,1000,8152,...,None,None,None,None,None,None,None,None,None,None
92548,2075141,109533.0,116.42,39.88,116.34,39.82,0.100000,14939,600,3442,...,None,None,None,None,None,None,None,None,None,None
92549,1391560,NaN,116.34,39.89,116.28,39.92,0.067082,10975,,1572,...,3879,1,9674,200,4090,1,None,None,None,None
92550,1406263,146526.0,116.46,39.93,116.60,40.08,0.205183,22211,2800,2765,...,None,None,None,None,None,None,None,None,None,None
92551,1249412,142281.0,116.33,39.94,116.42,39.90,0.098489,12612,400,2288,...,None,None,None,None,None,None,None,None,None,None
92552,459408,NaN,116.10,39.90,116.37,39.86,0.272947,29535,900,5327,...,6853,1,None,None,None,None,None,None,None,None
92553,425789,NaN,116.46,39.97,116.46,39.98,0.010000,1406,,1202,...,None,None,None,None,None,None,None,None,None,None
92554,1357849,181772.0,116.41,39.91,116.37,39.91,0.040000,4106,300,1025,...,None,None,None,None,None,None,None,None,None,None
92555,430234,NaN,116.29,39.88,116.30,39.88,0.010000,612,,543,...,None,None,None,None,None,None,None,None,None,None
92556,1268545,NaN,116.30,39.99,116.32,40.00,0.022361,1474,200,1045,...,1235,1,1408,,1276,5,None,None,None,None
92557,1414260,108949.0,116.41,40.05,116.57,39.86,0.248395,35288,800,5820,...,None,None,None,None,None,None,None,None,None,None
92558,1409037,156329.0,116.56,40.06,116.35,39.87,0.283196,44774,1100,7703,...,None,None,None,None,None,None,None,None,None,None
92559,445690,NaN,116.53,40.01,116.45,39.93,0.113137,14333,300,5567,...,None,None,None,None,None,None,None,None,None,None
92560,1124242,NaN,116.52,40.01,116.29,39.83,0.292062,45993,900,7446,...,None,None,None,None,None,None,None,None,None,None
92561,428991,122204.0,116.50,39.92,116.45,39.86,0.078102,10524,400,1940,...,3020,6,None,None,None,None,None,None,None,None
92562,1282823,186452.0,116.47,39.92,116.37,39.86,0.116619,15555,500,2211,...,None,None,None,None,None,None,None,None,None,None
92563,2067128,185363.0,116.45,39.92,116.47,39.91,0.022361,4225,,1028,...,2784,5,None,None,None,None,None,None,None,None
92564,1389810,NaN,116.32,39.94,116.31,39.95,0.014142,2366,200,1695,...,1815,5,2504,200,1896,1,None,None,None,None
92565,1398208,116397.0,116.43,39.91,116.37,39.86,0.078102,10369,400,1762,...,None,None,None,None,None,None,None,None,None,None
92566,471555,NaN,116.34,39.78,116.47,39.95,0.214009,28555,,2366,...,6244,7,None,None,None,None,None,None,None,None
92567,1123933,NaN,116.34,39.71,116.34,39.78,0.070000,10469,,2223,...,4634,1,None,None,None,None,None,None,None,None
92568,1409146,162194.0,116.25,39.92,116.29,39.91,0.041231,6333,500,2331,...,2444,7,4913,,4537,5,None,None,None,None
92569,1338606,NaN,116.41,40.06,116.33,39.96,0.128062,18235,,2300,...,5604,7,None,None,None,None,None,None,None,None
92570,1353834,NaN,116.41,39.92,116.36,39.88,0.064031,9836,600,3109,...,3918,11,9815,200,3949,1,None,None,None,None

In [91]:
tq

,sid,pid,ol,oa,dl,da,distance_math,d1,p1,e1,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
0,3000821,NaN,116.29,39.97,116.32,39.96,0.031623,5219,300,1367,...,1679,2,4046,,3672,5,None,None,None,None
1,3085857,210736.0,116.39,39.84,116.33,39.79,0.078102,13864,600,3221,...,3578,1,None,None,None,None,None,None,None,None
2,2944522,NaN,116.31,39.93,116.27,40.00,0.080623,12294,400,2472,...,2711,2,9023,,2728,6,13018,600,3657,7
3,559931,202427.0,116.27,39.88,116.39,39.90,0.121655,14853,1700,2914,...,3982,1,None,None,None,None,None,None,None,None
4,2819352,172251.0,116.34,39.96,116.37,39.86,0.104403,12882,600,3211,...,None,None,None,None,None,None,None,None,None,None
5,2754575,135606.0,116.54,39.73,116.48,39.76,0.067082,8217,,1743,...,6225,1,None,None,None,None,None,None,None,None
6,2224795,189023.0,116.34,39.73,116.79,40.35,0.766094,99097,,6596,...,None,None,None,None,None,None,None,None,None,None
7,1598541,156954.0,116.26,40.22,116.24,40.22,0.020000,1484,200,881,...,1189,1,1410,,1267,5,None,None,None,None
8,676316,135045.0,116.39,39.91,116.39,39.90,0.010000,1511,,1294,...,1960,1,None,None,None,None,None,None,None,None
9,1068802,176605.0,116.29,40.02,116.27,39.95,0.072801,10278,,790,...,None,None,None,None,None,None,None,None,None,None
10,1677052,NaN,116.43,39.95,116.37,39.86,0.108167,21605,500,5549,...,None,None,None,None,None,None,None,None,None,None
11,1601021,207329.0,116.45,39.93,116.42,39.93,0.030000,2409,200,1259,...,1319,1,2125,,1890,5,None,None,None,None
12,986743,NaN,116.32,39.98,116.58,39.91,0.269258,30603,600,4751,...,7682,1,None,None,None,None,None,None,None,None
13,1562328,215847.0,116.40,39.92,116.40,39.91,0.010000,2371,,714,...,1948,1,2267,,2089,5,None,None,None,None
14,184189,NaN,116.31,40.03,116.33,40.01,0.028284,4411,400,2373,...,2444,1,3733,,3335,5,None,None,None,None
15,3292454,NaN,116.30,39.94,116.27,39.96,0.036056,3437,1400,858,...,3067,5,None,None,None,None,None,None,None,None
16,1808923,207363.0,116.21,40.24,116.47,39.89,0.436005,60373,800,7470,...,6975,9,51296,1100,7912,1,None,None,None,None
17,3000955,144649.0,116.34,39.87,116.33,39.87,0.010000,995,,872,...,None,None,None,None,None,None,None,None,None,None
18,694129,116986.0,116.41,39.94,116.50,39.93,0.090554,11380,600,3274,...,2753,6,9384,200,4068,1,None,None,None,None
19,409847,180421.0,116.33,39.97,116.32,39.89,0.080623,12130,400,2485,...,3670,1,None,None,None,None,None,None,None,None
20,627704,NaN,116.29,39.86,116.45,39.93,0.174642,26609,600,4057,...,6632,1,None,None,None,None,None,None,None,None
21,307643,175212.0,116.29,39.93,116.30,39.93,0.010000,1483,,447,...,1974,7,None,None,None,None,None,None,None,None
22,296598,112198.0,116.50,39.87,116.50,39.80,0.070000,24130,700,4481,...,4209,9,20937,600,4988,7,None,None,None,None
23,945674,135562.0,116.34,39.84,116.32,39.90,0.063246,11751,400,2422,...,2936,6,None,None,None,None,None,None,None,None
24,547098,202757.0,116.34,39.95,116.34,39.94,0.010000,432,,409,...,None,None,None,None,None,None,None,None,None,None
25,165662,200008.0,116.34,40.03,116.42,39.90,0.152643,22718,700,4291,...,None,None,None,None,None,None,None,None,None,None
26,1861826,112198.0,116.35,40.00,116.43,39.94,0.100000,15860,500,3267,...,4539,1,None,None,None,None,None,None,None,None
27,3075509,116844.0,116.30,39.99,116.31,39.99,0.010000,655,,560,...,None,None,None,None,None,None,None,None,None,None
28,1548874,NaN,116.43,39.90,116.43,39.94,0.040000,5556,300,2185,...,4317,5,None,None,None,None,None,None,None,None
29,1300125,NaN,116.51,39.92,116.55,39.91,0.041231,4366,200,2056,...,2287,2,4124,,3763,5,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453306,3112033,NaN,116.39,39.97,116.37,39.96,0.022361,3066,200,2031,...,2104,5,None,None,None,None,None,None,None,None
453307,2900568,NaN,116.32,40.01,116.32,39.89,0.120000,15604,2500,2757,...,None,None,None,None,None,None,None,None,None,None
453308,13507,167599.0,116.38,40.00,116.32,39.89,0.125300,20099,500,3519,...,4488,1,None,None,None,None,None,None,None,None
453309,833885,123046.0,116.41,40.03,116.41,40.12,0.090000,10880,900,2926,...,None,None,None,None,None,None,None,None,None,None
453310,2550808,NaN,116.30,39.92,116.27,39.90,0.036056,5954,1500,1354,...,1694,2,6149,500,2041,7,4436,,4049,5
453311,3161400,153606.0,116.42,39.84,116.39,39.79,0.058310,9246,3400,1440,...,None,None,None,None,None,None,None,None,None,None
453312,2284951,180343.0,116.38,39.97,116.73,40.18,0.408167,50462,,4758,...,None,None,None,None,None,None,None,None,None,None
453313,188295,NaN,116.26,40.22,116.37,39.86,0.376431,49300,700,5452,...,None,None,None,None,None,None,None,None,None,None
453314,2109725,129567.0,116.41,39.96,116.41,39.99,0.030000,3494,300,755,...,2896,5,None,None,None,None,None,None,None,None
453315,251464,106075.0,116.33,39.94,116.36,39.89,0.058310,10923,400,2369,...,3045,7,None,None,None,None,None,None,None,None
453316,163816,202246.0,116.54,39.75,116.27,40.00,0.367967,48610,900,7289,...,7512,11,47419,1000,7894,7,None,None,None,None
453317,2765282,129567.0,116.24,40.03,116.14,39.75,0.297321,48660,1100,7118,...,None,None,None,None,None,None,None,None,None,None
453318,3353668,NaN,116.32,39.83,116.42,39.90,0.122066,20743,2100,2965,...,4897,1,None,None,None,None,None,None,None,None
453319,3349757,112282.0,116.47,39.89,116.40,39.91,0.072801,9006,400,2105,...,2488,6,8823,600,2738,7,None,None,None,None
453320,1991199,130150.0,116.33,39.94,116.39,39.89,0.078102,12080,400,2701,...,None,None,None,None,None,None,None,None,None,None
453321,2178623,181977.0,116.36,39.90,116.42,39.95,0.078102,11668,400,2298,...,None,None,None,None,None,None,None,None,None,None
453322,2949567,NaN,116.35,39.92,116.35,39.92,0.000000,269,,269,...,None,None,None,None,None,None,None,None,None,None
453323,1953641,115654.0,116.37,39.86,116.56,39.78,0.206155,26694,600,3541,...,4896,7,None,None,None,None,None,None,None,None
453324,3201419,NaN,116.41,40.10,116.44,40.12,0.036056,4453,2000,933,...,1682,1,4452,,3994,5,None,None,None,None
453325,1658365,188398.0,116.39,39.92,116.35,40.00,0.089443,21918,500,4378,...,4881,7,16456,500,6025,1,None,None,None,None
453326,625863,NaN,116.33,39.93,116.32,39.89,0.041231,9645,,1157,...,2228,2,9654,400,3173,1,None,None,None,None
453327,1666359,104686.0,116.37,39.91,116.33,39.99,0.089443,11868,400,2133,...,None,None,None,None,None,None,None,None,None,None
453328,884016,NaN,116.41,39.91,116.40,39.93,0.022361,3720,200,1891,...,2118,5,3120,200,2172,1,None,None,None,None
453329,2333615,200530.0,116.57,39.91,116.42,39.90,0.150333,14316,500,2680,...,3082,7,None,None,None,None,None,None,None,None
453330,277011,212050.0,116.40,39.98,116.56,40.02,0.164924,19040,600,4233,...,None,None,None,None,None,None,None,None,None,None
453331,850424,122177.0,116.15,39.72,116.28,39.84,0.176918,25155,800,3685,...,3180,10,28989,800,4377,1,None,None,None,None
453332,3136563,113317.0,116.54,40.07,116.38,39.94,0.206155,29571,600,4449,...,5148,2,29845,700,5658,7,None,None,None,None
453333,722748,193800.0,116.17,39.71,116.20,39.75,0.050000,7634,,2308,...,None,None,None,None,None,None,None,None,None,None
453334,1594185,NaN,116.32,40.06,116.16,40.23,0.233452,26955,,2084,...,None,None,None,None,None,None,None,None,None,None
453335,1795967,101673.0,116.50,39.89,116.37,39.94,0.139284,19329,500,3787,...,7492,1,None,None,None,None,None,None,None,None

In [94]:
# tqq is clicks
# tq is training 
# test1 is test
#test1=pd.DataFrame(test1)
test1=test1.fillna(value=-1)
#tq=pd.DataFrame(tq)
tq=tq.fillna(value=-1)
#test1=test1.replace(None,-1)
#tq=tq.replace(None,-1)
"""

test2['d1'] = test2.d1.str.replace(r"[^0-9.]",'')
test2['p1'] = test2.p1.str.replace(r"[^0-9.]",'')
test2['e1'] = test2.e1.str.replace(r"[^0-9.]",'')
test2['t1'] = test2.t1.str.replace(r"[^0-9.]",'')


test2['d2'] = test2.d2.str.replace(r"[^0-9.]",'')
test2['p2'] = test2.p2.str.replace(r"[^0-9.]",'')
test2['e2'] = test2.e2.str.replace(r"[^0-9.]",'')
test2['t2'] = test2.t2.str.replace(r"[^0-9.]",'')


test2['d3'] = test2.d3.str.replace(r"[^0-9.]",'')
test2['p3'] = test2.p3.str.replace(r"[^0-9.]",'')
test2['e3'] = test2.e3.str.replace(r"[^0-9.]",'')
test2['t3'] = test2.t3.str.replace(r"[^0-9.]",'')


test2['d4'] = test2.d4.str.replace(r"[^0-9.]",'')
test2['p4'] = test2.p4.str.replace(r"[^0-9.]",'')
test2['e4'] = test2.e4.str.replace(r"[^0-9.]",'')
test2['t4'] = test2.t4.str.replace(r"[^0-9.]",'')


test2['d5'] = test2.d5.str.replace(r"[^0-9.]",'')
test2['p5'] = test2.p5.str.replace(r"[^0-9.]",'')
test2['e5'] = test2.e5.str.replace(r"[^0-9.]",'')
test2['t5'] = test2.t5.str.replace(r"[^0-9.]",'')


test2['d6'] = test2.d6.str.replace(r"[^0-9.]",'')
test2['p6'] = test2.p6.str.replace(r"[^0-9.]",'')
test2['e6'] = test2.e6.str.replace(r"[^0-9.]",'')
test2['t6'] = test2.t6.str.replace(r"[^0-9.]",'')


test2['d7'] = test2.d7.str.replace(r"[^0-9.]",'')
test2['p7'] = test2.p7.str.replace(r"[^0-9.]",'')
test2['e7'] = test2.e7.str.replace(r"[^0-9.]",'')
test2['t7'] = test2.t7.str.replace(r"[^0-9.]",'')"""
#test1=test1.replace(' ',-1,inplace=True)
#tq=tq.replace(' ',-1,inplace=True)
#


#X_train = tq.values
#y_train = tqq.values

#X_test = test1.values

#X_test = X_test.astype(np.float64, copy=False)
tq

,sid,pid,ol,oa,dl,da,distance_math,d1,p1,e1,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
0,3000821,-1.0,116.29,39.97,116.32,39.96,0.031623,5219,300,1367,...,1679,2,4046,,3672,5,-1,-1,-1,-1
1,3085857,210736.0,116.39,39.84,116.33,39.79,0.078102,13864,600,3221,...,3578,1,-1,-1,-1,-1,-1,-1,-1,-1
2,2944522,-1.0,116.31,39.93,116.27,40.00,0.080623,12294,400,2472,...,2711,2,9023,,2728,6,13018,600,3657,7
3,559931,202427.0,116.27,39.88,116.39,39.90,0.121655,14853,1700,2914,...,3982,1,-1,-1,-1,-1,-1,-1,-1,-1
4,2819352,172251.0,116.34,39.96,116.37,39.86,0.104403,12882,600,3211,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
5,2754575,135606.0,116.54,39.73,116.48,39.76,0.067082,8217,,1743,...,6225,1,-1,-1,-1,-1,-1,-1,-1,-1
6,2224795,189023.0,116.34,39.73,116.79,40.35,0.766094,99097,,6596,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7,1598541,156954.0,116.26,40.22,116.24,40.22,0.020000,1484,200,881,...,1189,1,1410,,1267,5,-1,-1,-1,-1
8,676316,135045.0,116.39,39.91,116.39,39.90,0.010000,1511,,1294,...,1960,1,-1,-1,-1,-1,-1,-1,-1,-1
9,1068802,176605.0,116.29,40.02,116.27,39.95,0.072801,10278,,790,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10,1677052,-1.0,116.43,39.95,116.37,39.86,0.108167,21605,500,5549,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
11,1601021,207329.0,116.45,39.93,116.42,39.93,0.030000,2409,200,1259,...,1319,1,2125,,1890,5,-1,-1,-1,-1
12,986743,-1.0,116.32,39.98,116.58,39.91,0.269258,30603,600,4751,...,7682,1,-1,-1,-1,-1,-1,-1,-1,-1
13,1562328,215847.0,116.40,39.92,116.40,39.91,0.010000,2371,,714,...,1948,1,2267,,2089,5,-1,-1,-1,-1
14,184189,-1.0,116.31,40.03,116.33,40.01,0.028284,4411,400,2373,...,2444,1,3733,,3335,5,-1,-1,-1,-1
15,3292454,-1.0,116.30,39.94,116.27,39.96,0.036056,3437,1400,858,...,3067,5,-1,-1,-1,-1,-1,-1,-1,-1
16,1808923,207363.0,116.21,40.24,116.47,39.89,0.436005,60373,800,7470,...,6975,9,51296,1100,7912,1,-1,-1,-1,-1
17,3000955,144649.0,116.34,39.87,116.33,39.87,0.010000,995,,872,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
18,694129,116986.0,116.41,39.94,116.50,39.93,0.090554,11380,600,3274,...,2753,6,9384,200,4068,1,-1,-1,-1,-1
19,409847,180421.0,116.33,39.97,116.32,39.89,0.080623,12130,400,2485,...,3670,1,-1,-1,-1,-1,-1,-1,-1,-1
20,627704,-1.0,116.29,39.86,116.45,39.93,0.174642,26609,600,4057,...,6632,1,-1,-1,-1,-1,-1,-1,-1,-1
21,307643,175212.0,116.29,39.93,116.30,39.93,0.010000,1483,,447,...,1974,7,-1,-1,-1,-1,-1,-1,-1,-1
22,296598,112198.0,116.50,39.87,116.50,39.80,0.070000,24130,700,4481,...,4209,9,20937,600,4988,7,-1,-1,-1,-1
23,945674,135562.0,116.34,39.84,116.32,39.90,0.063246,11751,400,2422,...,2936,6,-1,-1,-1,-1,-1,-1,-1,-1
24,547098,202757.0,116.34,39.95,116.34,39.94,0.010000,432,,409,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
25,165662,200008.0,116.34,40.03,116.42,39.90,0.152643,22718,700,4291,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
26,1861826,112198.0,116.35,40.00,116.43,39.94,0.100000,15860,500,3267,...,4539,1,-1,-1,-1,-1,-1,-1,-1,-1
27,3075509,116844.0,116.30,39.99,116.31,39.99,0.010000,655,,560,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
28,1548874,-1.0,116.43,39.90,116.43,39.94,0.040000,5556,300,2185,...,4317,5,-1,-1,-1,-1,-1,-1,-1,-1
29,1300125,-1.0,116.51,39.92,116.55,39.91,0.041231,4366,200,2056,...,2287,2,4124,,3763,5,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453306,3112033,-1.0,116.39,39.97,116.37,39.96,0.022361,3066,200,2031,...,2104,5,-1,-1,-1,-1,-1,-1,-1,-1
453307,2900568,-1.0,116.32,40.01,116.32,39.89,0.120000,15604,2500,2757,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453308,13507,167599.0,116.38,40.00,116.32,39.89,0.125300,20099,500,3519,...,4488,1,-1,-1,-1,-1,-1,-1,-1,-1
453309,833885,123046.0,116.41,40.03,116.41,40.12,0.090000,10880,900,2926,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453310,2550808,-1.0,116.30,39.92,116.27,39.90,0.036056,5954,1500,1354,...,1694,2,6149,500,2041,7,4436,,4049,5
453311,3161400,153606.0,116.42,39.84,116.39,39.79,0.058310,9246,3400,1440,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453312,2284951,180343.0,116.38,39.97,116.73,40.18,0.408167,50462,,4758,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453313,188295,-1.0,116.26,40.22,116.37,39.86,0.376431,49300,700,5452,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453314,2109725,129567.0,116.41,39.96,116.41,39.99,0.030000,3494,300,755,...,2896,5,-1,-1,-1,-1,-1,-1,-1,-1
453315,251464,106075.0,116.33,39.94,116.36,39.89,0.058310,10923,400,2369,...,3045,7,-1,-1,-1,-1,-1,-1,-1,-1
453316,163816,202246.0,116.54,39.75,116.27,40.00,0.367967,48610,900,7289,...,7512,11,47419,1000,7894,7,-1,-1,-1,-1
453317,2765282,129567.0,116.24,40.03,116.14,39.75,0.297321,48660,1100,7118,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453318,3353668,-1.0,116.32,39.83,116.42,39.90,0.122066,20743,2100,2965,...,4897,1,-1,-1,-1,-1,-1,-1,-1,-1
453319,3349757,112282.0,116.47,39.89,116.40,39.91,0.072801,9006,400,2105,...,2488,6,8823,600,2738,7,-1,-1,-1,-1
453320,1991199,130150.0,116.33,39.94,116.39,39.89,0.078102,12080,400,2701,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453321,2178623,181977.0,116.36,39.90,116.42,39.95,0.078102,11668,400,2298,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453322,2949567,-1.0,116.35,39.92,116.35,39.92,0.000000,269,,269,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453323,1953641,115654.0,116.37,39.86,116.56,39.78,0.206155,26694,600,3541,...,4896,7,-1,-1,-1,-1,-1,-1,-1,-1
453324,3201419,-1.0,116.41,40.10,116.44,40.12,0.036056,4453,2000,933,...,1682,1,4452,,3994,5,-1,-1,-1,-1
453325,1658365,188398.0,116.39,39.92,116.35,40.00,0.089443,21918,500,4378,...,4881,7,16456,500,6025,1,-1,-1,-1,-1
453326,625863,-1.0,116.33,39.93,116.32,39.89,0.041231,9645,,1157,...,2228,2,9654,400,3173,1,-1,-1,-1,-1
453327,1666359,104686.0,116.37,39.91,116.33,39.99,0.089443,11868,400,2133,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453328,884016,-1.0,116.41,39.91,116.40,39.93,0.022361,3720,200,1891,...,2118,5,3120,200,2172,1,-1,-1,-1,-1
453329,2333615,200530.0,116.57,39.91,116.42,39.90,0.150333,14316,500,2680,...,3082,7,-1,-1,-1,-1,-1,-1,-1,-1
453330,277011,212050.0,116.40,39.98,116.56,40.02,0.164924,19040,600,4233,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453331,850424,122177.0,116.15,39.72,116.28,39.84,0.176918,25155,800,3685,...,3180,10,28989,800,4377,1,-1,-1,-1,-1
453332,3136563,113317.0,116.54,40.07,116.38,39.94,0.206155,29571,600,4449,...,5148,2,29845,700,5658,7,-1,-1,-1,-1
453333,722748,193800.0,116.17,39.71,116.20,39.75,0.050000,7634,,2308,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453334,1594185,-1.0,116.32,40.06,116.16,40.23,0.233452,26955,,2084,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453335,1795967,101673.0,116.50,39.89,116.37,39.94,0.139284,19329,500,3787,...,7492,1,-1,-1,-1,-1,-1,-1,-1,-1

In [97]:
tq.replace('', -1, inplace=True)

In [99]:
test1.replace('', -1, inplace=True)

In [100]:
"""
test2['d1'] = test2.d1.str.replace(r"[^0-9.]",'')
test2['p1'] = test2.p1.str.replace(r"[^0-9.]",'')
test2['e1'] = test2.e1.str.replace(r"[^0-9.]",'')
test2['t1'] = test2.t1.str.replace(r"[^0-9.]",'')


test2['d2'] = test2.d2.str.replace(r"[^0-9.]",'')
test2['p2'] = test2.p2.str.replace(r"[^0-9.]",'')
test2['e2'] = test2.e2.str.replace(r"[^0-9.]",'')
test2['t2'] = test2.t2.str.replace(r"[^0-9.]",'')


test2['d3'] = test2.d3.str.replace(r"[^0-9.]",'')
test2['p3'] = test2.p3.str.replace(r"[^0-9.]",'')
test2['e3'] = test2.e3.str.replace(r"[^0-9.]",'')
test2['t3'] = test2.t3.str.replace(r"[^0-9.]",'')


test2['d4'] = test2.d4.str.replace(r"[^0-9.]",'')
test2['p4'] = test2.p4.str.replace(r"[^0-9.]",'')
test2['e4'] = test2.e4.str.replace(r"[^0-9.]",'')
test2['t4'] = test2.t4.str.replace(r"[^0-9.]",'')


test2['d5'] = test2.d5.str.replace(r"[^0-9.]",'')
test2['p5'] = test2.p5.str.replace(r"[^0-9.]",'')
test2['e5'] = test2.e5.str.replace(r"[^0-9.]",'')
test2['t5'] = test2.t5.str.replace(r"[^0-9.]",'')


test2['d6'] = test2.d6.str.replace(r"[^0-9.]",'')
test2['p6'] = test2.p6.str.replace(r"[^0-9.]",'')
test2['e6'] = test2.e6.str.replace(r"[^0-9.]",'')
test2['t6'] = test2.t6.str.replace(r"[^0-9.]",'')


test2['d7'] = test2.d7.str.replace(r"[^0-9.]",'')
test2['p7'] = test2.p7.str.replace(r"[^0-9.]",'')
test2['e7'] = test2.e7.str.replace(r"[^0-9.]",'')
test2['t7'] = test2.t7.str.replace(r"[^0-9.]",'')"""
#test1=test1.replace(' ',-1,inplace=True)
#tq=tq.replace(' ',-1,inplace=True)
#


X_train = tq.values
y_train = tqq.values

X_test = test1.values

X_test = X_test.astype(np.float64, copy=False)
#tq

In [98]:
tq

,sid,pid,ol,oa,dl,da,distance_math,d1,p1,e1,...,e5,t5,d6,p6,e6,t6,d7,p7,e7,t7
0,3000821,-1.0,116.29,39.97,116.32,39.96,0.031623,5219,300,1367,...,1679,2,4046,NaN,3672,5,-1,-1,-1,-1
1,3085857,210736.0,116.39,39.84,116.33,39.79,0.078102,13864,600,3221,...,3578,1,-1,-1,-1,-1,-1,-1,-1,-1
2,2944522,-1.0,116.31,39.93,116.27,40.00,0.080623,12294,400,2472,...,2711,2,9023,NaN,2728,6,13018,600,3657,7
3,559931,202427.0,116.27,39.88,116.39,39.90,0.121655,14853,1700,2914,...,3982,1,-1,-1,-1,-1,-1,-1,-1,-1
4,2819352,172251.0,116.34,39.96,116.37,39.86,0.104403,12882,600,3211,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
5,2754575,135606.0,116.54,39.73,116.48,39.76,0.067082,8217,NaN,1743,...,6225,1,-1,-1,-1,-1,-1,-1,-1,-1
6,2224795,189023.0,116.34,39.73,116.79,40.35,0.766094,99097,NaN,6596,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
7,1598541,156954.0,116.26,40.22,116.24,40.22,0.020000,1484,200,881,...,1189,1,1410,NaN,1267,5,-1,-1,-1,-1
8,676316,135045.0,116.39,39.91,116.39,39.90,0.010000,1511,NaN,1294,...,1960,1,-1,-1,-1,-1,-1,-1,-1,-1
9,1068802,176605.0,116.29,40.02,116.27,39.95,0.072801,10278,NaN,790,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
10,1677052,-1.0,116.43,39.95,116.37,39.86,0.108167,21605,500,5549,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
11,1601021,207329.0,116.45,39.93,116.42,39.93,0.030000,2409,200,1259,...,1319,1,2125,NaN,1890,5,-1,-1,-1,-1
12,986743,-1.0,116.32,39.98,116.58,39.91,0.269258,30603,600,4751,...,7682,1,-1,-1,-1,-1,-1,-1,-1,-1
13,1562328,215847.0,116.40,39.92,116.40,39.91,0.010000,2371,NaN,714,...,1948,1,2267,NaN,2089,5,-1,-1,-1,-1
14,184189,-1.0,116.31,40.03,116.33,40.01,0.028284,4411,400,2373,...,2444,1,3733,NaN,3335,5,-1,-1,-1,-1
15,3292454,-1.0,116.30,39.94,116.27,39.96,0.036056,3437,1400,858,...,3067,5,-1,-1,-1,-1,-1,-1,-1,-1
16,1808923,207363.0,116.21,40.24,116.47,39.89,0.436005,60373,800,7470,...,6975,9,51296,1100,7912,1,-1,-1,-1,-1
17,3000955,144649.0,116.34,39.87,116.33,39.87,0.010000,995,NaN,872,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
18,694129,116986.0,116.41,39.94,116.50,39.93,0.090554,11380,600,3274,...,2753,6,9384,200,4068,1,-1,-1,-1,-1
19,409847,180421.0,116.33,39.97,116.32,39.89,0.080623,12130,400,2485,...,3670,1,-1,-1,-1,-1,-1,-1,-1,-1
20,627704,-1.0,116.29,39.86,116.45,39.93,0.174642,26609,600,4057,...,6632,1,-1,-1,-1,-1,-1,-1,-1,-1
21,307643,175212.0,116.29,39.93,116.30,39.93,0.010000,1483,NaN,447,...,1974,7,-1,-1,-1,-1,-1,-1,-1,-1
22,296598,112198.0,116.50,39.87,116.50,39.80,0.070000,24130,700,4481,...,4209,9,20937,600,4988,7,-1,-1,-1,-1
23,945674,135562.0,116.34,39.84,116.32,39.90,0.063246,11751,400,2422,...,2936,6,-1,-1,-1,-1,-1,-1,-1,-1
24,547098,202757.0,116.34,39.95,116.34,39.94,0.010000,432,NaN,409,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
25,165662,200008.0,116.34,40.03,116.42,39.90,0.152643,22718,700,4291,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
26,1861826,112198.0,116.35,40.00,116.43,39.94,0.100000,15860,500,3267,...,4539,1,-1,-1,-1,-1,-1,-1,-1,-1
27,3075509,116844.0,116.30,39.99,116.31,39.99,0.010000,655,NaN,560,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
28,1548874,-1.0,116.43,39.90,116.43,39.94,0.040000,5556,300,2185,...,4317,5,-1,-1,-1,-1,-1,-1,-1,-1
29,1300125,-1.0,116.51,39.92,116.55,39.91,0.041231,4366,200,2056,...,2287,2,4124,NaN,3763,5,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
453306,3112033,-1.0,116.39,39.97,116.37,39.96,0.022361,3066,200,2031,...,2104,5,-1,-1,-1,-1,-1,-1,-1,-1
453307,2900568,-1.0,116.32,40.01,116.32,39.89,0.120000,15604,2500,2757,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453308,13507,167599.0,116.38,40.00,116.32,39.89,0.125300,20099,500,3519,...,4488,1,-1,-1,-1,-1,-1,-1,-1,-1
453309,833885,123046.0,116.41,40.03,116.41,40.12,0.090000,10880,900,2926,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453310,2550808,-1.0,116.30,39.92,116.27,39.90,0.036056,5954,1500,1354,...,1694,2,6149,500,2041,7,4436,NaN,4049,5
453311,3161400,153606.0,116.42,39.84,116.39,39.79,0.058310,9246,3400,1440,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453312,2284951,180343.0,116.38,39.97,116.73,40.18,0.408167,50462,NaN,4758,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453313,188295,-1.0,116.26,40.22,116.37,39.86,0.376431,49300,700,5452,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453314,2109725,129567.0,116.41,39.96,116.41,39.99,0.030000,3494,300,755,...,2896,5,-1,-1,-1,-1,-1,-1,-1,-1
453315,251464,106075.0,116.33,39.94,116.36,39.89,0.058310,10923,400,2369,...,3045,7,-1,-1,-1,-1,-1,-1,-1,-1
453316,163816,202246.0,116.54,39.75,116.27,40.00,0.367967,48610,900,7289,...,7512,11,47419,1000,7894,7,-1,-1,-1,-1
453317,2765282,129567.0,116.24,40.03,116.14,39.75,0.297321,48660,1100,7118,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453318,3353668,-1.0,116.32,39.83,116.42,39.90,0.122066,20743,2100,2965,...,4897,1,-1,-1,-1,-1,-1,-1,-1,-1
453319,3349757,112282.0,116.47,39.89,116.40,39.91,0.072801,9006,400,2105,...,2488,6,8823,600,2738,7,-1,-1,-1,-1
453320,1991199,130150.0,116.33,39.94,116.39,39.89,0.078102,12080,400,2701,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453321,2178623,181977.0,116.36,39.90,116.42,39.95,0.078102,11668,400,2298,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453322,2949567,-1.0,116.35,39.92,116.35,39.92,0.000000,269,NaN,269,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453323,1953641,115654.0,116.37,39.86,116.56,39.78,0.206155,26694,600,3541,...,4896,7,-1,-1,-1,-1,-1,-1,-1,-1
453324,3201419,-1.0,116.41,40.10,116.44,40.12,0.036056,4453,2000,933,...,1682,1,4452,NaN,3994,5,-1,-1,-1,-1
453325,1658365,188398.0,116.39,39.92,116.35,40.00,0.089443,21918,500,4378,...,4881,7,16456,500,6025,1,-1,-1,-1,-1
453326,625863,-1.0,116.33,39.93,116.32,39.89,0.041231,9645,NaN,1157,...,2228,2,9654,400,3173,1,-1,-1,-1,-1
453327,1666359,104686.0,116.37,39.91,116.33,39.99,0.089443,11868,400,2133,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453328,884016,-1.0,116.41,39.91,116.40,39.93,0.022361,3720,200,1891,...,2118,5,3120,200,2172,1,-1,-1,-1,-1
453329,2333615,200530.0,116.57,39.91,116.42,39.90,0.150333,14316,500,2680,...,3082,7,-1,-1,-1,-1,-1,-1,-1,-1
453330,277011,212050.0,116.40,39.98,116.56,40.02,0.164924,19040,600,4233,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453331,850424,122177.0,116.15,39.72,116.28,39.84,0.176918,25155,800,3685,...,3180,10,28989,800,4377,1,-1,-1,-1,-1
453332,3136563,113317.0,116.54,40.07,116.38,39.94,0.206155,29571,600,4449,...,5148,2,29845,700,5658,7,-1,-1,-1,-1
453333,722748,193800.0,116.17,39.71,116.20,39.75,0.050000,7634,NaN,2308,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453334,1594185,-1.0,116.32,40.06,116.16,40.23,0.233452,26955,NaN,2084,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
453335,1795967,101673.0,116.50,39.89,116.37,39.94,0.139284,19329,500,3787,...,7492,1,-1,-1,-1,-1,-1,-1,-1,-1

In [101]:
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation

model = Sequential()
model.add(Dense(100,activation="relu",input_dim=35, kernel_initializer='uniform'))
model.add(Dense(1000,activation="relu"))
model.add(Dense(500,activation="relu"))
model.add(Dense(400,activation="relu"))
model.add(Dense(350,activation="relu"))
model.add(Dense(100,activation="relu"))
model.add(Dense(75,activation="relu"))
model.add(Dense(50,activation="relu"))
model.add(Dense(40,activation="relu"))
model.add(Dense(30,activation="relu"))

model.add(Dense(1,activation="sigmoid",input_dim=1, kernel_initializer='uniform'))
model.compile(optimizer="Nadam",metrics=['accuracy'],loss="mean_squared_error")

model.fit(x=X_train,y=y_train,epochs=100,verbose=1)
model.evaluate(x=X_train,y=y_train,verbose=1)

#from sklearn.preprocessing import StandardScaler
#sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
#X_test = sc.fit_transform(X_test)


#model.predict_classes(x=X_test)
scores = model.evaluate(X_train, y_train, batch_size=30)
y_pred=model.predict(X_test)

C:\Users\Yousef DeBaz\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

Epoch 1/100
453336/453336 [==============================] - 518s 1ms/step - loss: nan - acc: 0.0000e+000s - loss: nan - acc: 0.00
Epoch 2/100
453336/453336 [==============================] - 512s 1ms/step - loss: nan - acc: 0.0000e+00
Epoch 3/100
204512/453336 [============>.................] - ETA: 4:41 - loss: nan - acc: 0.0000e+00

KeyboardInterrupt: